@import 'modules/_bootstrap';
@import 'modules/_nav';

body {
  font: 80% arial,sans-serif;
  margin: 0;
  padding: 0;
  background: url(/images/hdr-bg.gif) repeat-x;
}

h1 {
  font: bold 150% arial,sans-serif;
}

h2 {
  font: bold 120% arial,sans-serif;
}

h3 {
  font: bold 100% arial,sans-serif;
}

h4 {
  font: bold 80% arial,sans-serif;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #814f11;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #674e25;
    font-weight: normal;
  }
}

img {
  border: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 780px;
  height: 53px;
  margin: 0px;
  padding: 0px;
  background: url(/images/hdr-seal.jpg) no-repeat top left;
}

#wrapper-header-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  text-align: left;
  width: 100%;

  #site-id {
    position: absolute;
    bottom: 0;
    left: 8px;
    text-decoration: none;
    color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    font: 1.9em verdana,arial,sans-serif;
    letter-spacing: +1px;
    z-index: 1;
  }
}

#wrapper-header-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 100%;
  text-align: right;
}

#nav-top {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;

    &.link-last a {
      border: none;
      background-image: none;
    }

    &.link-active a {
      font-weight: bold;
      color: #fff;
    }
  }

  a {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 20px 5px 7px 5px;
    font: 100% arial,sans-serif;
    color: #dfd7b9;
    text-decoration: none;
    background-image: url(/images/nav-top-divider.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

#main-wrapper {
  width: 100%;
  position: absolute;
  top: 53px;
  left: 0;
  min-width: 800px;
}

#wrapper-columns {
  float: left;
  width: 100%;
  position: relative;

  #middle {
    float: left;
    width: 75%;
    background: #fff;
    margin: 0;
    padding: 1em 0 0 0;
    line-height: 140%;

    p {
      line-height: 140%;
    }

    h1 {
      margin: 0 0 1em 0;
      padding: 0;
    }

    h2 {
      margin: 0;
      padding: 0 0 .25em 0;
    }

    .box2 {
      width: 100%;
      background: url(/images/box2-bg.jpg) top left repeat-x;
      margin: 0;
      padding: 0;

      .box2-title {
        width: 100%;
        margin: 0;
        padding: 3px 1em;
      }

      .box2-title-leftborder {
        width: 100%;
        background: url(/images/sec-head-l.jpg) top left no-repeat;
        margin: 0;
        padding: 0;
        color: #fff;
        font-weight: bold;
      }

      .box2-title-rightborder {
        width: 100%;
        background: url(/images/sec-head-r.jpg) top right no-repeat;
        margin: 0;
        padding: 0;
      }
    }
  }
}

#footer {
  position: relative;
  float: left;
  width: 100%;
  margin: 2em 0 0 0;
  padding: 0 0 1em 0;
  color: #979797;
  font-size: 90%;
  background: url(/images/ftr-line.jpg) repeat-x;

  #footer-left {
    width: 65%;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0 0 0 10px;
  }

  #footer-right {
    width: 30%;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0 10px 0 0;
  }

  & #usage-policy, & #contact-link {
    margin-top: 5px;
  }
}

/* utility classes */
.flush-top {
  margin-top: 0;
  padding-top: 0;
}

.label {
  float: left;
  text-align: right;
  width: 15%;
}

.field {
  float: right;
  text-align: left;
  width: 80%;
}

.holder {
  width: 80%;
  float: left;
}

.errMsg {
  border: solid red 1pt;
  color: red;
  padding: 10px 7px 10px 7px;
}

.requiredField {
  color: red;
  display: inline;
}

.example {
  font-size: 85%;
  color: gray;
}

.iconCell {
  text-align: center;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.homeParagraphHeader {
  color: maroon;
  font-weight: bold;
  display: inline;
}

.preview {
  min-height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 100;
  background-color: black;
  padding: 5% 25% 5% 25%;
  visibility: hidden;
  overflow: scroll;
}

.previewText {
  padding: 10px;
  display: block;
  position: relative;
  width: 100%;
  overflow: scroll;
  color: black;
  background-color: white;
  height: 0px;
}

.previewControl {
  padding: 10px;
  display: block;
  position: relative;
  width: 100%;
  color: black;
  background-color: white;
}

.helpList {
  list-style-type: none;
}

tr {
  vertical-align: top;
}

.tabMenu {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  ul {
    list-style-type: none;
    margin: 10px 0 -8px 10px;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: none;
    border-left: 1px solid #bbb;
    padding: 3px 5px;
    margin-right: 2px;
    text-decoration: none;

    &.active {
      font-weight: bold;
      background-color: #ff9;
      z-index: 1;
    }
  }
}

.tabMenuHolder {
  border-bottom: 1px solid #bbb;
}

.boldIndent1 {
  font-weight: bold;
  padding-left: 25px;
}

.compactListing {
  border: solid black 1pt;
  border-collapse: collapse;
}

.compactListing td, .compactListing th {
  border: solid black 1pt;
  padding: 0px 5px 0px 5px;
}

.nokBox {
  vertical-align: middle;
  text-align: center;
}
