<header class="uhg-header" role="banner">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <div class="header-logo"><img src="../../../../../images/uh_seal.png" alt="University of Hawaii Logo"/></div>
                <a ui-sref="{{headerCtrl.brandLink}}" class="navbar-brand">
                    <span stack-localize="HEADER_BRAND_NAME">UH Groupings</span>
                </a>
            </div>
        </div>
    </div>
</header>