<header class="uhg-header" role="banner">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <div class="header-logo" ng-show="headerCtrl.logoPath">
                    <img ng-src="{{headerCtrl.logoPath}}" alt="Brand Logo">
                </div>
                <a ui-sref="{{headerCtrl.brandLink}}" class="navbar-brand">
                    <span stack-localize="{{headerCtrl.brandKey}}">Brand Name</span>
                </a>
            </div>
        </div>
    </div>
</header>