<div class="uhg-exclude-group-content" ng-controller="ExcludeGroupContentController as excludeGroupContentController">
    <div class="alert alert-danger">
        {{ 'EXCLUDE_GROUP_TAB_DESCRIPTION' | localize }}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover striped-rows uhg-table-groups">
            <thead>
                <tr>
                    <th>
                        <a ng-href="#" ng-click="excludeGroupContentController.changeSort('firstName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'EXCLUDE_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                            <span>{{ 'EXCLUDE_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': excludeGroupContentController.sortField === '+firstName', 'fa-caret-down': excludeGroupContentController.sortField === '-firstName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="excludeGroupContentController.changeSort('lastName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'EXCLUDE_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                            <span>{{ 'EXCLUDE_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': excludeGroupContentController.sortField === '+lastName', 'fa-caret-down': excludeGroupContentController.sortField === '-lastName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="excludeGroupContentController.changeSort('email')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'EXCLUDE_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                            <span>{{ 'EXCLUDE_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': excludeGroupContentController.sortField === '+email', 'fa-caret-down': excludeGroupContentController.sortField === '-email'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="excludeGroupContentController.grouping.excludedMembers.length > 0" ng-repeat="user in excludeGroupContentController.grouping.excludedMembers | orderBy:excludeGroupContentController.sortField">
                    <td>
                        <span class="uhg-group-name">{{ user.firstName }}</span>
                        <a ng-href="#" ng-click="excludeGroupContentController.includeUser(user)">
                            <i class="fa fa-plus-circle text-success" role="presentation">
                                <span class="sr-only">{{ 'EXCLUDE_GROUP_TAB_TABLE_INCLUDE_USER_A11Y' | localize }}</span>
                            </i>
                        </a>
                    </td>
                    <td><span>{{ user.lastName }}</span></td>
                    <td><span>{{ user.email }}</span></td>
                </tr>
                <tr ng-if="excludeGroupContentController.grouping.excludedMembers.length == 0" class="zero-state">
                    <td colspan="4"><span>{{ 'EXCLUDE_GROUP_TAB_TABLE_ZERO_STATE' | localize }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>