.classpath
.project
/.settings
/bin
grouperClientFailoverState.bin
/target
output.txt
*.iml
src/main/resources/static/javascript/tsconfig.json
.idea
src/main/resources/grouperClientLogs/*
grouperClientLogs
phantomjsdriver.log
.DS_Store
*.log
mainv2_3.css
mainv2_3.css.map