{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["src/main/resources/static/css/mainv2_3.css"],
  "rules": {
    "indentation": [
      4,
      {
        "severity": "warning"
      }
    ]
  }
}