<!--
    -addMembersModal.html
        -  Contains the add conformation modal
        -  See Modal Add section in messages.properties
        -  See createConfirmAddModal general.controller.js
-->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Confirm Adding New Members</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="cancelImportModalInstance()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <p>
        <span style="color: black" th:text="#{screen.message.modal.import.confirmation}"></span>
        <span style="color: black;">{{listName}} list.</span>
    </p>
    <div class="container">
        <table>
            <tr>
                <td>
                    <table>
                        <thead class="import-table-thead-tbody-tr import-table-thead">
                        <tr class="import-table-thead-tbody-tr" style="white-space: nowrap">
                            <td ng-click="memberSort(userNameList,  sortStatus, 'name')">User Name</td>
                            <td ng-click="memberSort(userNameList,  sortStatus, 'status')">Added</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody class="import-table-tbody">
                        <tr class="import-table-thead-tbody-tr" ng-repeat="item in userNameList">
                            <td>{{item.name}}</td>
                            <td>{{item.added}}</td>
                            <td>
                                {{ displaySelectedStatus($index) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer" ng-if="addMultipleMembers"
     ng-init="changeStyleAttribute('mentionUserOptions', 'display', 'unset')">
    <p style="padding-right: 100px; padding-left: 20px">
        Are you sure you want to add these users to the
        <span style="color: black">{{listName}}</span>
        <span style="color: black"> list?</span>
    </p>
    <button class="btn btn-primary" ng-click="importMembers()">Yes</button>
    <button class="btn btn-default" data-dismiss="modal" ng-click="cancelImportModalInstance()">Cancel</button>
</div>
</html>