<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h1 class="h5 modal-title" id="api-error-modal">Error</h1>
    <a class="close" type="button"  ng-click="closeApiError()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.access.api.error}"></p>
    <p th:utext="#{screen.message.modal.access.opt.feedback}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sized" ng-click="closeApiError()">OK</button>
    <button class="btn btn-secondary" ng-click="proceedRedirectFeedback()">Feedback</button>
</div>
