<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Warning</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="closeCheckModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div ng-if="swap">
        <div ng-if="listName === 'Include'">
            <p th:utext="#{screen.message.modal.check.exclude}">They are already in Exclude</p>
        </div>
        <div ng-if="listName === 'Exclude'">
            <p th:utext="#{screen.message.modal.check.include}">They are already in Include</p>
        </div>
    </div>
    <div ng-if="!swap">
        <div ng-if="listName === 'Exclude'">
            <p>They are already in Exclude</p>
        </div>
        <div ng-if="listName === 'Include'">
            <p>They are already in Include</p>
        </div>
    </div>

    <!--<p th:utext="#{screen.message.modal.check.user}">User Name</p>-->

</div>

<div class="modal-footer">
    <div ng-if="swap">
        <button class="btn btn-primary" ng-click="proceedCheckModal()">Yes</button>
        <button class="btn btn-light" ng-click="closeCheckModal()">Cancel</button>
    </div>
    <div ng-if="!swap">
        <button class="btn btn-light" ng-click="closeCheckModal()">Close</button>
    </div>

</div>

</html>

