<div class="modal-header">
    <button type="button" class="close" data-dismiss="dialog" style="float: right;" ng-click="closeCheckModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">Warning</h4>
</div>
<div class="modal-body" id="modal-body">
    <p>{{ user }} is currently in the {{ listName }} list, are you sure you want to remove this person from
        the {{ listName }} list and add this person to the {{ listName === "Include" ? "Exclude" : "Include" }} list?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedCheckModal()">Yes</button>
    <button class="btn btn-default" ng-click="closeCheckModal()">Cancel</button>
</div>
