<!--
   -  confirmAddModal.html
        -  Contains the add conformation modal
        -  See Modal Add section in messages.properties
        -  See createConfirmAddModal general.controller.js
-->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Confirm Adding New Member</h5>
</div>
<div class="modal-body" id="modal-body">
    <p>
        <span style="color: black" th:text="#{screen.message.modal.add.confirmation}"></span>
        <span style="color: black">{{listName}} list.</span>
    </p>
    <table style="width: 80%;margin-bottom: 30px;">
        <tr>
            <th th:utext="#{screen.message.modal.add.name}"></th>
            <th style="font-weight: normal">{{fullNameToAdd}}</th>
        </tr>
        <tr>
            <th th:utext="#{screen.message.modal.add.uhUserName}"></th>
            <th class="font-weight-normal">{{uidToAdd}}</th>
        </tr>
    </table>

    <p> Are you sure you want to add
        <span style="font-weight: bold">{{ givenNameToAdd }}</span>
        <span style="color: black"> to the </span>
        <span style="color: black">{{listName}}</span>
        <span style="color: black"> list?</span>
    </p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedConfirmAddUser()">Yes</button>
    <button class="btn btn-default" ng-click="cancelConfirmAddUser()" data-dismiss="modal">Cancel</button>
</div>
</html>