<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Add Users</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="closeConfirmAddMembersModalInstance()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <p>
        {{ validUserNameCount }} users have been added to the {{ listName }} list.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeConfirmAddMembersModalInstance()">OK</button>
</div>
</html>
