<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h1 class="h5 modal-title" id="owner-warning-modal">Direct Owner Remove Warning</h1>
    <a class="close" type="button"  ng-click="closeDirectOwnerRemoveWarningModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.warning.directOwnerRemove}"></p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sized" ng-click="closeDirectOwnerRemoveWarningModal()">Ok</button>
    <button class="btn btn-secondary" ng-click="proceedRedirectFeedback()">Feedback</button>
</div>
</html>