<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Email List Confirmation</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="closeEmailListModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div class="alert alert-warning" role="alert" th:text="#{screen.message.modal.preferences.warning}"></div>
    <p th:utext="#{screen.message.modal.emaillist.confirmation}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedEmailListModal()">Ok</button>
    <button class="btn btn-default" ng-click="closeEmailListModal()" data-dismiss="modal">Cancel</button>
</div>
</html>
