<div class="modal-header">
    <button type="button" class="close" data-dismiss="dialog" style="float: right;">
        <span aria-hidden="true" ng-click="feedbackDismiss()">&times;</span>
    </button>
    <h3 class="modal-title" id="modal-title">Adding User</h3>
</div>
<div class="modal-body" id="modal-body">
    <p align="center">Thank You</p>
    <p align="center">Your feedback has been sent.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="feedbackDismiss()">OK</button>
</div>