<html lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="grouping-owners-modal">Owners</h5>
    <a class="close" type="button"  ng-click="displayGroupingOwnersModalOnClose()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>

<div class="container modal-table">
    <table class="table table-sm table-borderless">
        <thead>
        <tr class="text-nowrap">
            <!-- Display table headings -->
            <th scope="col">Username</th>
            <th scope="col">UH Number</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="owner in owners">
            <!-- Display table data -->
            <td>{{owner.uid}}</td>
            <td>{{owner.uhUuid}}</td>
            <td>{{owner.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="displayGroupingOwnersModalOnClose()">Ok</button>
</div>
</html>
