<!--
   -  confirmAddModal.html
        -  Contains the add conformation modal
        -  See Modal Add section in messages.properties
        -  See createConfirmAddModal general.controller.js
-->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Confirm Adding New Members</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="cancelImportModalInstance()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <p>
        <span style="color: black" th:text="#{screen.message.modal.import.confirmation}"></span>
        <span style="color: black">{{listName}} list.</span>
    </p>
    <table style="width: 265px; float: left">
        <thead>
        <tr style="font-weight: bold;">
            <th>User Name</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
    <div style="width: 290px; height: 200px; overflow: scroll; float: left">
        <table style="height: 200px; float: left">
            <tbody>
            <tr ng-repeat="item in userNameList" ng-class="{'selected':$index == selectedRow}"
                ng-click="setClickedRow($index)">
                <td>{{item.name}}</td>
                <td>{{item.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" ng-click="memberSort(userNameList)">Sort</button>
    <p ng-class="{'selected':$index == selectedRow}">
        {{ displayStatusInfo() }}
    </p>
    <div style="float: left">
        <p>
            Are you sure you want to add these :)
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
</html>