<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h1 class="h5 modal-title" id="import-error-modal">No Members Were Added</h1>
    <a class="close" type="button" ng-click="closeImportErrorModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body">
    <p th:text="#{screen.message.import.modal.error}"></p>
    <ul>
        <li ng-repeat="member in invalidMembers | limitTo : Threshold.MAX_LIST_SIZE">{{ member }}</li>
    </ul>
    <p ng-if="invalidMembers.length > Threshold.MAX_LIST_SIZE"
       th:text="#{screen.message.import.modal.error.truncated}"></p>
    <p th:text="#{screen.message.modal.add.ensureValid}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sized" ng-click="closeImportErrorModal()">OK</button>
</div>
</html>
