<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="import-success-modal">Import</h5>
    <a class="close" type="button" ng-click="closeImportSuccessModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p>
        <span class="modal-black-text">The following users were successfully added to the </span>
        <span class="modal-black-text">{{listName}} list.</span>
    </p>
    <div class="container modal-import-table" tabindex="0">
        <table class="table table-sm table-borderless">
            <thead class="thead-sticky">
                <tr class="text-nowrap">
                    <!-- Display table headings -->
                    <th scope="col">Username</th>
                    <th scope="col">UH Number</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in batchImportResults">
                    <!-- Display table data -->
                    <td>
                        {{ person['uid'] }}
                        <span class="modal-black-text" ng-if="!person['uid']">
                            N/A
                            <span class="fa fa-question-circle clickable" aria-hidden="true"
                                  tooltip
                                  th:title="#{screen.message.common.tooltip.uid.notApplicable}">
                            </span>
                        </span>
                    </td>
                    <td>{{ person['uhUuid'] }}</td>
                    <td>{{ person['name'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="alert alert-warning mt-2" role="alert">
        <span class="text-dark" th:text="#{screen.message.common.membership.info}"></span>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeImportSuccessModal()">Ok</button>
</div>
</html>
