<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="add-modal">Add Members</h5>
    <a class="close" type="button" ng-click="cancelAddModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p class="modal-black-text text-truncate" ng-if="membersInList.length > 0">Already in {{listName}}: {{membersInList}}</p>
    <p>
        <span class="modal-black-text" th:text="#{screen.message.modal.multi.add.message}"></span>
        <span class="modal-black-text">{{listName}} list?</span>
    </p>
    <div class="container modal-table" tabindex="0">
        <table class="table table-sm table-borderless">
            <thead class="thead-sticky">
                <tr class="text-nowrap">
                    <!-- Display table headings -->
                    <th scope="col">Username</th>
                    <th scope="col">UH Number</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center" ng-if="listName !== 'owners' && groupingBasis.length > 0">
                        Basis
                        <span class="fa fa-info-circle clickable" ng-if="listName === 'Include'"
                              tooltip
                              th:title="#{screen.message.modal.multi.add.tooltip.inBasis.include}" aria-hidden="true">
                        </span>
                        <span class="fa fa-info-circle clickable" ng-if="listName === 'Exclude' && !allowOptIn"
                              tooltip
                              th:title="#{screen.message.modal.multi.add.tooltip.inBasis.exclude}" aria-hidden="true">
                        </span>
                        <span class="fa fa-info-circle clickable" ng-if="listName === 'Exclude' && allowOptIn"
                              tooltip
                              th:title="#{screen.message.modal.multi.add.tooltip.inBasis.exclude.optIn}" aria-hidden="true">
                        </span>
                    </th>
                    <th scope="col" class="text-center" ng-if="listName !== 'owners' && listName === 'Exclude'">
                        Include
                        <span class="fa fa-info-circle clickable" aria-hidden="true"
                              tooltip
                              th:title="#{screen.message.modal.multi.add.tooltip.inInclude}">
                        </span>
                    </th>
                    <th scope="col" class="text-center" ng-if="listName !== 'owners' && listName === 'Include'">
                        Exclude
                        <span class="fa fa-info-circle clickable" aria-hidden="true"
                              tooltip
                              th:title="#{screen.message.modal.multi.add.tooltip.inExclude}">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in multiAddResults">
                    <!-- Display table data -->
                    <td>
                        {{ person['uid'] }}
                        <span class="modal-black-text" ng-if="!person['uid']">
                            N/A
                            <span class="fa fa-question-circle clickable" aria-hidden="true"
                            tooltip
                            th:title="#{screen.message.common.tooltip.uid.notApplicable}">
                            </span>
                        </span>
                    </td>
                    <td>{{ person['uhUuid'] }}</td>
                    <td>{{ person['name'] }}</td>
                    <td class="text-center" ng-if="listName !== 'owners' && groupingBasis.length > 0">
                        {{ person['inBasis'] }}
                    </td>
                    <td class="text-center" ng-if="listName !== 'owners' && listName === 'Exclude'">
                        {{ person['inInclude'] }}
                    </td>
                    <td class="text-center" ng-if="listName !== 'owners' && listName === 'Include'">
                        {{ person['inExclude'] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="alert alert-warning mt-2" role="alert">
        <span class="text-dark" th:text="#{screen.message.common.membership.info}"></span>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedAddModal()">Yes</button>
    <button class="btn btn-light" ng-click="cancelAddModal()" data-dismiss="modal">Cancel</button>
</div>
</html>
