<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="remove-modal">Remove Members</h5>
    <a class="close" type="button" ng-click="cancelRemoveModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p class="modal-black-text text-truncate" ng-if="membersNotInList.length > 0">Not in {{listName}}: {{membersNotInList}}</p>
    <!--Warning message if users try to delete themselves from the admins or owners list -->
    <div class="alert alert-danger" role="alert" ng-if="showWarningRemovingSelf()">
        <span class="alert-danger" th:utext="#{screen.message.modal.remove.warning}">Warning</span>
    </div>
    <p>
        <span class="modal-black-text" th:text="#{screen.message.modal.multi.remove.message}"></span>
        <span class="modal-black-text">{{ listName }} list?</span>
    </p>
    <div class="container modal-table" tabindex="0">
        <table class="table table-sm table-borderless">
            <thead>
                <tr class="text-nowrap">
                    <!-- Display table headings -->
                    <th scope="col">Username</th>
                    <th scope="col">Uh Number</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in multiRemoveResults">
                    <!-- Display table data -->
                    <td>
                        {{ person['uid'] }}
                        <span class="modal-black-text" ng-if="person['uid'] === ''">
                            N/A
                            <span class="fa fa-question-circle clickable" aria-hidden="true"
                               tooltip
                               th:title="#{screen.message.common.tooltip.uid.notApplicable}">
                            </span>
                        </span>
                    </td>
                    <td>{{ person['uhUuid'] }}</td>
                    <td>{{ person['name'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="alert alert-warning mt-2" role="alert">
        <span class="text-dark" th:text="#{screen.message.common.membership.info}"></span>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedRemoveModal()">Yes</button>
    <button class="btn btn-light" ng-click="cancelRemoveModal()" data-dismiss="modal">Cancel</button>
</div>

</html>
