<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="opt-error-modal">Opt Request Error</h5>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.access.opt.error}"></p>
    <p th:utext="#{screen.message.modal.access.opt.feedback}"></p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeOptErrorModal()">Ok</button>
    <button class="btn btn-secondary" ng-click="proceedRedirectFeedback()">Feedback</button>
</div>
</html>
