<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Maintenance Warning</h5>
    <button type="button" class="close" data-dismiss="dialog" ng-click="cancelPlannedOutageModal()">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <p th:utext="#{screen.message.modal.planned.maintenance}">Maintenance</p>
        <p>{{ planned | date: "medium"}}</p>
        <p>We'll be back online on,</p>
        <p>{{ backOnline | date: "medium"}}</p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancelPlannedOutageModal()">Ok</button>
</div>
</html>