<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="dialog" style="float: right;" ng-click="closeRemoveErrorModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">Error Removing User</h4>
</div>
<div class="modal-body" id="modal-body">
    <p>You are unable to remove this user. There must be at least one {{ userType }} remaining.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeRemoveErrorModal()">Close</button>
</div>
</html>
