<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header"
     ng-class="{ 'alert alert-danger modal-alert': showWarningRemovingSelf() }">
    <button type="button" class="close" data-dismiss="dialog" style="float: right;" ng-click="cancelRemoveUser()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title"
        ng-style="{ 'margin-bottom': showWarningRemovingSelf() ? '10px' : '0px' }">
        Remove User
    </h4>
    <!-- Warning message if users try to delete themselves from the admins or owners list -->
    <div  ng-if="showWarningRemovingSelf()">
        <p th:utext="#{screen.message.modal.remove.warning}">Warning</p>
        <div ng-switch="listName">
            <div ng-switch-when="owners">
                <!-- Warning message that tells the user what will happen if they remove themselves -->
                <p th:utext="#{screen.message.modal.remove.message}">  </p>
                <p ng-if="adminsList === undefined &amp;&amp; groupingsList.length === 1" th:utext="#{screen.message.modal.remove.redirect.home}">  </p>
                <p ng-if="adminsList === undefined &amp;&amp; groupingsList.length > 1" th:utext="#{screen.message.modal.remove.redirect.list}">  </p>
            </div>

            <div ng-switch-when="admins">
                <p th:utext="#{screen.message.modal.remove.admin}"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <p th:utext="#{screen.message.modal.remove.confirmation}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedRemoveUser()">Yes</button>
    <button class="btn btn-default" ng-click="cancelRemoveUser()" data-dismiss="modal">Cancel</button>
</div>

</html>