<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="modal-header">
    <h1 class="h5 modal-title" id="remove-error-modal">Error Removing User</h1>
    <a class="close" type="button" ng-click="closeRemoveErrorModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.remove.error}"></p>
    <p ng-if="soleOwnerGroupingNames.length >= 1" th:text="#{screen.message.modal.soleowner.remove.error}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sized" ng-click="closeRemoveErrorModal()">Close</button>
</div>
</html>
