<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Error Removing User</h5>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.remove.error}"></p>
    <p ng-if="soleOwnerGroupingNames.length >= 1" th:text="#{screen.message.modal.soleowner.remove.error}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeRemoveErrorModal()">Close</button>
</div>
</html>
