<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <div class="modal-header">
      <h5 class="modal-title" id="reset-modal">Reset Grouping</h5>
      <a class="close" type="button" ng-click="cancelResetGroup()">
          <span aria-hidden="true">&times;</span>
      </a>
  </div>
  <div class="modal-body" id="modal-body">
    <p>
        <span class="text-dark" th:text="#{screen.message.modal.reset.confirmation}"></span>
        <span class="text-dark">{{listNames}} in the {{groupReset}} group?</span>
    </p>
    <!--<p class="alert alert-warning mt-2" role="alert">
      <span class="text-dark">For Mac users: Scroll bars may be hidden by default. You may need to scroll down to view the full list of members.</span>
    </p>-->
    <div class="container modal-table" tabindex="0" id="modalTableContainer">
        <table class="table table-sm table-borderless">
            <thead class="thead-sticky">
                <tr class="text-nowrap">
                    <!-- Display table headings -->
                    <th scope="col">Username</th>
                    <th scope="col">Uh Number</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in resetResults">
                    <!-- Display table data -->
                    <td>
                        {{ subject['uid'] }}
                        <span class="modal-black-text" ng-if="!subject['uid']">
                            N/A
                            <span class="fa fa-question-circle clickable" aria-hidden="true"
                                  tooltip
                                  th:title="#{screen.message.common.tooltip.username.notApplicable}">
                            </span>
                        </span>
                    </td>
                    <td>{{ subject['uhUuid'] }}</td>
                    <td>{{ subject['name'] }}</td>
                </tr>
            </tbody>
        </table>
        <i class="fa-arrow-circle-down"/>
    </div>
    <p class="alert alert-warning mt-2" role="alert">
        <span class="text-dark" th:text="#{screen.message.common.membership.info}"></span>
    </p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="proceedResetGroup()">Yes</button>
      <button class="btn btn-light" ng-click="cancelResetGroup()" data-dismiss="modal">Cancel</button>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const modalTableContainer = document.getElementById('modalTableContainer');
      const downArrow = document.getElementById('downArrow');

      function checkOverflow() {
        if (modalTableContainer.scrollHeight > modalTableContainer.clientHeight) {
          downArrow.style.display = 'block';
        } else {
          downArrow.style.display = 'none';
        }
      }

      function checkScrollPosition() {
        if (modalTableContainer.scrollTop + modalTableContainer.clientHeight >= modalTableContainer.scrollHeight) {
          downArrow.style.display = 'none';
        } else {
          downArrow.style.display = 'block';
        }
      }

      modalTableContainer.addEventListener('scroll', checkScrollPosition);
      window.addEventListener('resize', checkOverflow);

      checkOverflow();
    });
  </script>
</html>
