<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Restricted Action</h5>
</div>
<div class="modal-body" id="modal-body">
    <p th:text="#{screen.message.modal.access.restricted}"></p>

    <p th:utext="#{screen.message.modal.remove.redirect.home.logged}"></p>

    <p th:text="#{screen.message.modal.access.relog}"></p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="proceedLogoutUser()">Ok</button>
</div>
</html>