<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Inactivity Warning</h5>
</div>
<div class="modal-body" id="modal-body">
    <p>Warning! This session will expire soon. You will be logged out in
        <span id="countdown" class="timer timeout-counter">{{ timeRemaining }}</span>.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeTimeoutModal()">Stay logged in</button>
    <div sec:authorize="isAuthenticated()">
       <form action="/logout" th:action="@{/logout}" method="post">
           <button class="btn btn-primary" type="submit">Log off now</button>
       </form>
    </div>
</div>
</html>
