<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<div class="modal-header">
    <h1 class="h5 modal-title" id="timeout-modal">Inactivity Warning</h1>
</div>
<div class="modal-body" id="modal-body">
    <p>Warning! This session will expire soon. Time remaining:
        <span id="countdown" class="timer timeout-counter">{{ timeRemaining }}</span>.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sized" ng-click="closeTimeoutModal()">Stay logged in</button>
    <div sec:authorize="isAuthenticated()">
        <form action="/logout" th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-primary btn-sized" type="submit">Log off now</button>
        </form>
    </div>
</div>
</html>
