<div ng-controller="MembershipTabController as membershipTabCtrl" class="membership-tab">
    <div class="tab-container">

        <!--MOBILE ALTERNATE TAB DISPLAY-->
        <div class="btn-group tabset-tabs-alternate" role="group">
            <button ng-repeat="tab in membershipTabCtrl.tabs" type="button" ng-class="{'active': tab.active}" class="btn btn-default {{tab.name}}" ng-click="tab.active = true">
                <i class="{{ tab.tabIconClass }}" role="presentation">
                    <span class="sr-only">{{ tab.tabLabel }}</span>
                </i>
            </button>
        </div>


        <!--DESKTOP VERSION-->
        <tabset vertical="true" type="tabs" class="tabset-container">
            <tab ng-repeat="tab in membershipTabCtrl.tabs" active="tab.active" class="{{tab.name}}">
                <tab-heading>
                    <i class="{{ tab.tabIconClass }}" role="presentation">
                        <span class="sr-only">{{ tab.tabLabel }}</span>
                    </i>
                </tab-heading>
                <div ng-if="tab.active" ng-include src="tab.viewUrl"></div>
            </tab>
        </tabset>
    </div>

    <footer>
        <button class="btn btn-primary" ng-click="membershipTabCtrl.exportAsCsv()">
            <i class="fa fa-print" role="presentation">
                <span class="sr-only">{{ 'MEMBERSHIP_TAB_EXPORT_AS_CSV' | localize }}</span>
            </i>
            <span>{{ 'MEMBERSHIP_TAB_EXPORT_AS_CSV' | localize }}</span>
        </button>
    </footer>
</div>