@use "../customs" as *;

.dark-teal-bg a,
.black-bg a {
    color: white;
    text-decoration: underline;

    &:active,
    &:focus,
    &:hover {
        color: lightgrey;
    }
}

.deep-blue-bg {
    background-color: $deep-blue;
    color: white;
}

.black-bg {
    background-color: $uh-black;
    color: white;
}

.seafoam-bg {
    background-color: $seafoam;
    color: $uh-black;
}

.green-blue-bg {
    background-color: $green-blue;
}

.dark-teal-bg {
    background-color: $dark-teal;
}

.teal-bg {
    background-color: $uh-teal;
}

.blue-bg {
    background-color: $uh-blue1;
}

.light-teal-bg {
    background-color: $light-teal;
}

.teal-tint-bg {
    background-color: $teal-tint;
}
