@import 'mixins';

form.seamless button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-basis: 40px;
}

.btn {

    // Logout button.
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    &:hover,
    &:focus,
    &:active {
        #name {
=======
    &:hover, &:focus, &:active { 
        #name { 
>>>>>>> 0fc62666 (Codacy fixes)
=======
    &:hover, &:focus, &:active {
=======
    &:hover,
    &:focus,
    &:active {
>>>>>>> 5fff0452 (Codacy fixes)
        #name {
>>>>>>> 20beefb9 (Remove trailing whitespace)
            color:$seafoam;
        }
    }

    &.dark-teal-bg {
<<<<<<< HEAD
<<<<<<< HEAD
        &:hover,
        &:focus,
        &:active {
=======
        &:active, &:focus, &:hover {
>>>>>>> 20beefb9 (Remove trailing whitespace)
=======
        &:hover,
        &:focus,
        &:active {
>>>>>>> 5fff0452 (Codacy fixes)
            color: $uh-white;
            background: $green-blue;
        }
    }

    // Remove button.
    &.btn-remove {
        margin-left: 2px;
        margin-right: 2px;
        @include btn-rmv;

<<<<<<< HEAD
<<<<<<< HEAD
        &:hover,
        &:focus,
        &:active {
=======
        &:hover, &:focus, &:active {
>>>>>>> 20beefb9 (Remove trailing whitespace)
=======
        &:hover,
        &:focus,
        &:active {
>>>>>>> 5fff0452 (Codacy fixes)
            background: darkred;
        }
    }

    &.btn-primary, &.btn-lg {
        @include gradient;
<<<<<<< HEAD
<<<<<<< HEAD

        &:hover,
        &:focus,
        &:active {
=======
        
=======

<<<<<<< HEAD
>>>>>>> 20beefb9 (Remove trailing whitespace)
        &:hover, &:focus, &:active {
>>>>>>> 0fc62666 (Codacy fixes)
=======
        &:hover,
        &:focus,
        &:active {
>>>>>>> 5fff0452 (Codacy fixes)
            background: $green-blue right center;
        }
    }

    // Buttons for membership, admin, owner in home page
    &.btn-bottom {
        @include gradient;
    }

    &-bottom {
        position: absolute;
        bottom: 0;
        margin: -39px auto;
    }

    // Default button
    &-default {
        @include gradient;
    }

    // Changes the logout color when you hover.
    &-outline-secondary {
<<<<<<< HEAD
<<<<<<< HEAD
        &:hover,
        &:focus,
        &:active {
=======
        &:hover, &:focus, &:active {
>>>>>>> 20beefb9 (Remove trailing whitespace)
=======
        &:hover,
        &:focus,
        &:active {
>>>>>>> 5fff0452 (Codacy fixes)
            background-color: $green-blue;
            border-color: $green-blue;
        }
    }

    // Button for copying path, clipboard, and CSV
    &-sm {
<<<<<<< HEAD
<<<<<<< HEAD
        padding: 0 5px;
=======
        padding: 0px 5px;
>>>>>>> 20beefb9 (Remove trailing whitespace)
=======
        padding: 0 5px;
>>>>>>> d549f573 (Codacy fixes)

        &:hover {
            background: $green-blue;
        }

        &.btn-clipboard {
            padding: 3px 5px 2px;
        }
    }

    &-light:hover {
        color: white;
        background-color: $uh-blue4;
    }
}

// Change description for cards.
.description-form-button {
    color: $dark-teal;
    border: none;
    background-color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 0 5px;
    margin: 0 -1px;
=======
    padding: 0px 5px;
    margin: 0px -1px;
>>>>>>> 0fc62666 (Codacy fixes)
=======
    padding: 0 5px;
    margin: 0 -1px;
>>>>>>> d549f573 (Codacy fixes)
    height: 2.356rem;
    width: auto;
}

.description-input {
    border: white;
}

.far.fa-trash-alt {
    margin-right: .75rem;
    color: $uh-red;
}

.far.fa-fw.fa-edit {
    color: $dark-teal;

    &.white-style {
        border: none;
        color:white;
    }
}
