@use 'mixins';
@use '../customs' as *;

form.seamless button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-basis: 40px;
}

.btn {
    &:hover,
    &:focus,
    &:active {
        #name { /* Logout button. */
            color: $seafoam;
        }
    }

    &.dark-teal-bg {
        &:hover,
        &:focus,
        &:active {
            color: $uh-white;
            background: $green-blue;
        }
    }

    &.btn-remove { /* Remove button. */
        margin-left: 2px;
        margin-right: 2px;

        @include mixins.btn-rmv;

        &:hover,
        &:focus,
        &:active {
            background: darkred;
        }
    }

    &.btn-lg {
        @include mixins.gradient;
        font-size: 20px;

        &:hover,
        &:focus,
        &:active {
            background: $green-blue right center;
        }
    }

    &.btn-primary {
        @include mixins.gradient;

        &:hover,
        &:focus,
        &:active {
            background: $green-blue right center;
        }

        &.btn-sized {
            font-size: 20px;
            min-width: 44px;
            min-height: 44px;
        }
    }

    &.btn-secondary {
        font-size: 20px;
        min-width: 44px;
        min-height: 44px;
    }

    &.btn-bottom { /* Buttons for membership, admin, owner in home page */
        min-width: 44px;
        min-height: 44px;
        font-size: 20px;

        @include mixins.gradient;
    }

    &-bottom {
        position: absolute;
        bottom: 0;
        margin: -39px auto;
    }

    &-default { /* Default button */
        @include mixins.gradient;
    }

    &-outline-secondary {
        min-width: 44px;
        min-height: 44px;
        font-size: 20px;
        color: $uh-dark-gray;
        border-color: $uh-dark-gray;

        &:hover,
        &:focus,
        &:active { /* Changes the logout color when you hover. */
            background-color: $green-blue;
            border-color: $green-blue;
        }
    }

    &-grouping {
        min-width: 44px;
        min-height: 44px;
    }

    &-sm { /* Button for copying path, clipboard, and CSV */
        padding: 0 5px;

        &:hover {
            background: $green-blue;
        }

        &.btn-clipboard {
            padding: 1px 5px 2px;
        }
    }

    &-light {
        min-height: 44px;
        font-size: 20px;

        &.hover {
            color: white;
            background-color: $uh-blue4;
        }
    }
}

/* Change description for cards. */
.description-form-button {
    color: $dark-teal;
    border: none;
    background-color: white;
    padding: 0 5px;
    margin: 0 -1px;
    height: 2.356rem;
    width: auto;
}

.description-input {
    border: white;
    float: left;
}

.far.fa-trash-alt {
    color: $uh-red;
}

.fa-trash-alt-disabled {
    color: $uh-red2 !important;
}

.far.fa-fw.fa-edit {
    color: $dark-teal;

    &.white-style {
        border: none;
        color: white;
    }
}

.fa.fa-fw.fa-external-link-alt {
    color: $dark-teal;
}

.btn-dropdown-split {
    border-radius: 0.25rem 0 0 0.25rem;

    &:focus {
        z-index: 10;
    }
}

.dropdown-item:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.refresh-button {
    font-size: 2rem;
}

.navbar-toggler-icon {
    min-width: 44px;
    min-height: 44px;
}

.modal-footer .btn-primary {
    font-size: 20px;
    min-width: 44px;
    min-height: 44px;
}
