@import 'mixins';

form.seamless button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-basis: 40px;
}

.btn { 

    // This is to make your name seafoam when you hover over logout.
    &:hover, &:focus, &:active { 
        & #name { 
            color:$seafoam;
        }
    }

    //hover over the logout button w/o name
    &.dark-teal-bg { 
        &:active, &:focus, &:hover { 
            color: $uh-white;
            background: $green-blue; 
        }
    }

    //remove button w/o hover 
    &.btn-remove { 
        margin-left: 2px; 
        margin-right: 2px;
        @include btn-rmv; 
        
        //dark red when you hover over remove btn
        &:hover, &:focus, &:active { 
            background: darkred;
        }
    }

    // Add button colors w/o hover.
    // Light green when you hover over a button.
    &.btn-primary, &.btn-lg { 
        @include gradient;
        
        // Light green when you hover over a button.
        &:hover, &:focus, &:active { 
            background: $green-blue right center;
        }
    }

    // Buttons for membership, admin, owner in home page
    &.btn-bottom { 
        @include gradient;
    }

    //Default button
    &-default { 
        @include gradient; 
    }

    // Changes the logout color when you hover.
    &-outline-secondary { 
        &:hover, &:focus, &:active { 
            background-color: $green-blue;
            border-color: $green-blue;
        }
    }

    //BUTTONS DOWN IN HOME.HTML
    &-bottom { 
        position: absolute;
        bottom: 0;
        margin: -39px auto;
    }

    //BUTTON FOR COPYING A PATH
    &-sm { 
        padding: 0px 5px;

        //clipboard and export to csv buttons whne you hover
        &:hover { 
            background: $green-blue;
        }

        &.btn-clipboard { 
            padding: 3px 5px 2px;
        }
    }

    // Makes text color and background color when hover over cancel btn
    &-light:hover { 
        color: white;
        background-color: $uh-blue4;
    }
}

//Change description for cards. 
.description-form-button {
    color: $dark-teal;
    border: none;
    height: 2.356rem;
    background-color: white; 
    width: auto; 
    padding: 0px 5px; 
    margin: 0px -1px;
}

.description-input {
    border: white;
}

//TRASH CAN BUTTON 
.far.fa-trash-alt {
    margin-right: .75rem;
    color: $uh-red;
}

// admin-groupings-list.html  
.far.fa-fw.fa-edit {
    color: $dark-teal;
    //button the pencil square in the groupings card
    &.white-style { 
        border: none;
        color:white;
        font-weight: 400;
    }
}