.form-alert {
    height: 45px;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 0 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    line-height: 45px;
=======
    padding: 0px 15px;
=======
    padding: 0 15px;
>>>>>>> d549f573 (Codacy fixes)
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
<<<<<<< HEAD
    line-height: 30px;
>>>>>>> 0fc62666 (Codacy fixes)
=======
    line-height: 45px;
>>>>>>> ba848c24 (Fix extra padding on error message)
}

.description-alert {
    width: 592px;
    margin-top: 2px;
    height: 35px;
    line-height: 30px;
    padding: 0 15px;
}
