.form-alert {
    margin-top: 1rem;
    height: 45px;
    line-height: 42px;
    padding: 0px 15px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.description-alert {
    width: 592px;
    margin-top: 2px;
    height: 35px;
    line-height: 30px;
    padding: 0px 15px;
}