@mixin gradient($text-color: #ffffff, $bg-color: #6fa9be, $top-gradient: #7db1c4, $btm-gradient: #5a9cb4){ 
color: $text-color;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
text-shadow: 0px 1px 1px #444;
background-image: -moz-linear-gradient(top, $top-gradient, $btm-gradient);
background-image: -webkit-linear-gradient(top, $top-gradient, $btm-gradient);
background-image: -o-linear-gradient(top, $top-gradient, $btm-gradient);
background: { 
    image: linear-gradient(to bottom, $top-gradient, $btm-gradient);
    repeat: repeat-x;
    color: $btm-gradient;
  }
}

@mixin btn-rmv { 
  color: white; 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b05b54;
  background: -moz-linear-gradient(top,  #c4907d 100%, #b4725a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4907d), color-stop(100%,#b4725a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* IE10+ */
}

@mixin media-breakpoint($breakpoints) { 
  $conditions: (); 
  @each $breakpoint in $breakpoints { 
    //If key exits in map 
    $conditions: ( 
      #{inspect(map-get($media-queries, $breakpoint))},
    );
  }

  @media #{$conditions} { 
    @content;
  }
}

@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}