@use "mixins";
@use "../customs" as *;

.modal-open .modal {
  overflow: hidden;

  @include mixins.media-breakpoint(max-portrait-phone) {
    overflow-y: auto;
  }
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.modal-dialog {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));

  &::before {
    display: block;
    height: calc(100vh - (0.5rem * 10));
    content: "";
  }

  @include mixins.media-breakpoint(min-mobile) {
    .modal-dialog {
      min-height: calc(100% - (1.75rem * 2));
    }

    .modal-dialog::before {
      height: calc(100vh - (1.75rem * 2));
    }
  }
}

.modal-table {
  max-height: 12rem;
  overflow-y: auto;
}

.modal-import-table {
  max-height: 12rem;
  overflow-y: auto;
}

.modal.in .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-attributes {
  text-transform: initial;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-names {
  overflow: hidden;
  text-overflow: ellipsis;
}

// Set's the modal text color.
.modal-danger {
  color: $uh-red1;

  .modal-title {
    color: $uh-red1;
  }

  .modal-header {
    color: $uh-red2;
    background-color: $uh-red2;
  }

  .modal-body {
    background-color: $uh-red3;
  }

  .modal-footer {
    border-top-color: $uh-red3;
  }
}

.collapsed .fa-chevron-up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 200ms ease;
}
.fa-chevron-up {
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
    transition: transform 200ms ease;
}
