th {
    font-size: .8rem;
    letter-spacing: .5px;
    text-transform: uppercase;
}

<<<<<<< HEAD
<<<<<<< HEAD
table {
    width: 80%;

    // Styling for table information in modals, groupings, admins, and memberships
    .p-10 {
=======
table { 
    width: 80%;
    /* Styling for table information in modals, groupings, admins, and memberships*/
    .p-10 { 
>>>>>>> 0fc62666 (Codacy fixes)
=======
table {
    width: 80%;

    // Styling for table information in modals, groupings, admins, and memberships
    .p-10 {
>>>>>>> 20beefb9 (Remove trailing whitespace)
        white-space: nowrap;
        padding: 5px 20px !important;
    }
    .p-11 {
        white-space: nowrap;
<<<<<<< HEAD
<<<<<<< HEAD
        padding: 5px 25px !important;
    }
    .p-12 {
        white-space: nowrap;
        padding: 5px 30px !important;
    }
    .w-20 {
        width: 20%;
=======
        padding: 5px 25px !important
=======
        padding: 5px 25px !important;
>>>>>>> 5fff0452 (Codacy fixes)
    }
    .p-12 {
        white-space: nowrap;
        padding: 5px 30px !important;
    }
    .w-20 {
<<<<<<< HEAD
        width: 20%
>>>>>>> 20beefb9 (Remove trailing whitespace)
=======
        width: 20%;
>>>>>>> 5fff0452 (Codacy fixes)
    }
}

// Arrows for sorting info on table
.sort-icon {
    // Angle down
    &::after {
        content: '\f107';
    }

    // Angle up
    &.reverse::after {
        content: '\f106';
    }
}

// Styling for the grouping path.
form.seamless {
    display: flex;
    min-width: 12rem;
<<<<<<< HEAD
<<<<<<< HEAD

    input {
=======
    
    input { 
>>>>>>> 0fc62666 (Codacy fixes)
=======

    input {
>>>>>>> 20beefb9 (Remove trailing whitespace)
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1;
        width: calc(100% - 50px);
    }
}

// Modal tables

// Sets margin for "are you sure".
.modal-tables {
    margin-bottom: 30px;
}

// Styling for multi-add modal tables
.import-table {
    &-tbody {
        display: block;
        height: 175px;
        overflow: auto;
    }

    &-thead-tbody-tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
    }
}

.clickable {
    cursor: pointer;

    &.center-checkbox {
        vertical-align: top;
        margin-left: 5px;
    }
}

#blankCheckbox{
    margin-left: 1rem;
}

.form-check-input {
    position: relative;
}

// Pagination
.pagination {
    float: right;

<<<<<<< HEAD
<<<<<<< HEAD
    .page-item.disabled{
=======
    .page-item.disabled{ 
>>>>>>> 0fc62666 (Codacy fixes)
=======
    .page-item.disabled{
>>>>>>> 20beefb9 (Remove trailing whitespace)
        cursor: not-allowed;
    }
}

// Pagination color.
.page-item.active > .page-link {
    background-color: $teal-tint;
    border-color: $teal-tint;
}

// Styles first, last, next and prev in pagination
.page-link {
    color: $text-color;
}
