th {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* Styling for table information in modals, groupings, admins, and memberships */
table {
    width: 80%;
    margin-bottom: 30px;

    .p-10 {
        white-space: nowrap;
        padding: 5px 20px !important;
    }

    .p-11 {
        white-space: nowrap;
        padding: 5px 25px !important;
    }

    .p-12 {
        white-space: nowrap;
        padding: 5px 30px !important;
    }

    .w-8 {
        width: 8%;
    }

    .w-15 {
        width: 15%;
    }

    .w-20 {
        width: 20%;
        padding: 8px;
    }

    .w-27 {
        width: 27%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-40 {
        width: 40%;
    }

    .mw-0 {
        max-width: 0;
    }
}

.interactive-td {
    min-width: 44px;
    line-height: 35px;
    padding: 0 20px; /* increase padding to ensure 44px height */
    cursor: pointer;
    vertical-align: middle;
}

/* Arrows for sorting info on table */
.sort-icon {
    &::after { /* Angle down */
        content: '\f107';
    }

    &.reverse::after { /* Angle up */
        content: '\f106';
    }
}

/* Styling for the grouping path. */
form.seamless {
    display: flex;
    min-width: 12rem;

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1;
        width: calc(100% - 50px);
    }
}

.thead-sticky {
    position: sticky;
    background-color: white;
    inset-block-start: 0;
}

.clickable {
    cursor: pointer;

    &.center-checkbox {
        vertical-align: top;
        margin-left: 5px;
        padding-left: 20px;
        width: 8%;
    }
}

#blankCheckbox {
    margin-left: 1rem;
}

.form-check-input {
    position: relative;
    margin-left: 0;
}

/* Pagination */
.pagination {
    float: right;

    .page-item.disabled {
        cursor: not-allowed;
    }
}

/* Styles first, last, next and prev in pagination */
.page-link {
    min-height: 44px;
    min-width: 44px;
    color: $text-color;
}

/* Pagination color. */
.page-item.active > .page-link {
    background-color: $teal-tint;
    border-color: $teal-tint;
    color: $text-color;
}

.row-height {
    height: 2.44em;
}

/* First, last, next and prev arrow color */
.arrow {
    color: $text-color;
}

/* Search button */
input[type="search"].form-control {
    min-height: 44px;
    min-width: 44px;
}

/* Table settings button */
.toolbar-control {
    min-height: 44px;
    min-width: 44px;
}

.dropdown .form-control {
    color: $text-color !important;
}
