th {
    font-size: .8rem;
    letter-spacing: .5px;
    text-transform: uppercase;
}

table {
    width: 80%;
    margin-bottom: 30px;

    // Styling for table information in modals, groupings, admins, and memberships
    .p-10 {
        white-space: nowrap;
        padding: 5px 20px !important;
    }

    .p-11 {
        white-space: nowrap;
        padding: 5px 25px !important;
    }

    .p-12 {
        white-space: nowrap;
        padding: 5px 30px !important;
    }

    .w-20 {
        width: 20%;
        padding: 8px;
    }
}

// Arrows for sorting info on table
.sort-icon {
    // Angle down
    &::after {
        content: '\f107';
    }

    // Angle up
    &.reverse::after {
        content: '\f106';
    }
}

// Styling for the grouping path.
form.seamless {
    display: flex;
    min-width: 12rem;

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1;
        width: calc(100% - 50px);
    }
}

// Modal tables

// Sets margin for "are you sure".
.modal-tables {
    margin-bottom: 30px;
}

// Styling for multi-add modal tables
.import-table {
    &-tbody {
        display: block;
        height: 175px;
        overflow-y: auto;
    }

    &-thead-tbody-tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
    }
}

.clickable {
    cursor: pointer;

    &.center-checkbox {
        vertical-align: top;
        margin-left: 5px;
    }
}

#blankCheckbox{
    margin-left: 1rem;
}

.form-check-input {
    position: absolute;
    margin-left: 0;
}

// Pagination
.pagination {
    float: right;

    .page-item.disabled{
        cursor: not-allowed;
    }
}

// Pagination color.
.page-item.active > .page-link {
    background-color: $teal-tint;
    border-color: $teal-tint;
}

// Styles first, last, next and prev in pagination
.page-link {
    color: $text-color;
}