@use "../customs" as *;

h1,
h2,
h3,
h5,
span,
.text-left, {
    color: $text-color;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    padding: 0;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

.list-styling {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-black-text {
    color: black;
}

.tab-color {
    color: $uh-black;

    &:hover,
    :focus,
    :active {
        color: $uh-black;
    }
}

/* Normal font weight for th and td */
.font-weight-normal {
    font-weight: normal;
}

.hover-text {
    font-size: 0;
}

.no-memberships-text {
    text-align: center;
}

/* Styling for the links in about.html. */
.link {
    color: $uh-blue2;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: $uh-blue3;
    }
}

.explain-paragraph-text {
    font-size: 1.2rem;
}
