<footer class="uhg-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="copyright">
                    <small stack-localize="FOOTER_COPYRIGHT">Copyright © 2015 University of Hawaii</small>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="footer-logo">
                    <img src="../../../../../images/uh_logo_white.png" alt="University of Hawaii logo">
                </div>
            </div>
        </div>
    </div>
</footer>