/* Footer
--------------------------------------*/
.uhg-footer {
    background-color: @footer-bg;
    border-top: 1px solid @footer-border;
    color: @footer-color;

    .copyright {
        padding: 1em 1em 1em 1em;
    }
}