/* Variables
 * Additional or custom variables. Please review
 * all the variables provided by the bootstrap library
 * before adding custom implementations.
--------------------------------------*/

/* Colors
 * Gray and brand colors.
---------------------------------*/
@white: #FFFFFF;
@black: #000000;

// Grayscale.
@gray-darker: lighten(@black, 13.5%);     // #222222
@gray-dark: lighten(@black, 20%);         // #333333
@gray: lighten(@black, 33.5%);            // #555555
@gray-light: lighten(@black, 46.7%);      // #777777
@gray-lighter: lighten(@black, 81.4%);    // #D0D0D0
@gray-lightest: lighten(@black, 93.5%);   // #EEEEEE

/* Scaffolding
------------------------------------*/
@html-bg: @gray-lightest;
@body-bg: @white;
@text-color: @gray-dark;
@zindex: 1050;

/* Typography
------------------------------------*/
@font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Header
------------------------------------*/
@navbar-default-bg: @gray-lightest;
@navbar-default-border: @gray-lighter;
@navbar-default-color: @gray-light;
@navbar-default-link-color: @gray-light;
@navbar-default-link-hover-color: darken(@gray-light, 10%);
@navbar-default-link-active-color: @gray-light;

/* Main
------------------------------------*/
@main-border: @gray-lighter;

/* Footer
------------------------------------*/
@footer-bg: @gray-lightest;
@footer-border: @gray-lighter;
@footer-color: @gray-light;