<div class="ugh-include-group-content" ng-controller="IncludeGroupContentController as includeGroupContentController">
    <div class="alert alert-success">
        {{ 'INCLUDE_GROUP_TAB_DESCRIPTION' | localize }}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover striped-rows uhg-table-groups">
            <thead>
                <tr>
                    <th>
                        <a ng-href="#" ng-click="includeGroupContentController.changeSort('firstName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'INCLUDE_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                            <span>{{ 'INCLUDE_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': includeGroupContentController.sortField === '+firstName', 'fa-caret-down': includeGroupContentController.sortField === '-firstName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="includeGroupContentController.changeSort('lastName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'INCLUDE_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                            <span>{{ 'INCLUDE_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': includeGroupContentController.sortField === '+lastName', 'fa-caret-down': includeGroupContentController.sortField === '-lastName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="includeGroupContentController.changeSort('email')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'INCLUDE_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                            <span>{{ 'INCLUDE_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': includeGroupContentController.sortField === '+email', 'fa-caret-down': includeGroupContentController.sortField === '-email'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="includeGroupContentController.grouping.includedMembers.length > 0" ng-repeat="user in includeGroupContentController.grouping.includedMembers | orderBy:includeGroupContentController.sortField">
                    <td>
                        <span class="uhg-group-name">{{ user.firstName }}</span>
                        <a ng-href="#" ng-click="includeGroupContentController.excludeUser(user)">
                            <i class="fa fa-minus-circle text-danger">
                                <span class="sr-only">{{ 'INCLUDE_GROUP_TAB_TABLE_EXCLUDE_USER_A11Y' | localize }}</span>
                            </i>
                        </a>
                    </td>
                    <td><span>{{ user.lastName }}</span></td>
                    <td><span>{{ user.email }}</span></td>
                </tr>
                <tr ng-if="includeGroupContentController.grouping.includedMembers.length == 0" class="zero-state">
                    <td colspan="4"><span>{{ 'INCLUDE_GROUP_TAB_TABLE_ZERO_STATE' | localize }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>