.manage-admins td:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

table { 
    .p-12 { 
        white-space: nowrap;
        padding: 5px 30px !important;
    }
    .p-11 { 
        white-space: nowrap;
        padding: 5px 25px !important
    }
}

.check-space {
    margin-right: 10px;
}

label input {
    margin-left: 10px;
}

.check-remove {
    margin-left: auto;
}

// Hides "Manage Person" tab
.hide-content { 
    display: none;
}