.manage-admins td:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.manage-person td:first-child i {
    margin-right: 8px;
}

.check-space {
    margin-right: 10px;
}

label input {
    margin-left: 10px;
}

.check-remove {
    margin-left: auto;
}

/* Hides "Manage Person" tab */
.hide-content {
    display: none;
}

.custom-text-danger {
  color: #FF0000;
}

