#footer-top {
    margin-top: 3rem;
}

.black-bg a, .dark-teal-bg a{
    &:hover,
    :focus,
    :active{
        color: lightgrey;
    }
}

@include media-breakpoint(max-portrait-phone) {
    .img-fluid {
        width: 210px;
    }
}
