<div class="uhg-grouping-search">
    <label for="groupingSearchPhrase" class="sr-only">{{ 'GROUPING_SEARCH_LABEL' | localize }}</label>
    <input type="text" id="groupingSearchPhrase" name="groupingSearchPhrase"
           ng-model="groupingSearchDirCtrl.groupingSearchPhrase"
           placeholder="{{ 'GROUPING_SEARCH_PLACEHOLDER' | localize }}"
           >
    <button class="btn btn-primary"
            ng-disabled="groupingSearchDirCtrl.groupingSearchPhrase.length === 0"
            ng-click="groupingSearchDirCtrl.search()">
        <i class="fa fa-search"></i>
        {{ 'GROUPING_SEARCH_BUTTON' | localize }}
    </button>
</div>