<th:block th:fragment="actions">

    <div id="actions-display" class="tab-pane fade show active">
      <div class="row">
          <div class="col-md-8">
              <h1 class="font-weight-bold text-dark pt-2 mb-0 d-inline-block">Grouping Actions</h1>
          </div>
      </div>
      <br/>
      <div th:text="#{screen.message.common.preferences.info}"></div>

      <div class="row pt-4 pb-5">
            <div class="col-md-6 col-12">
                <h2 class="h5"> Reset Grouping</h2>
                <div>
                    <form ng-submit="resetGroup()">
                        <div class="form-check">
                            <input type="checkbox" class="position-relative ml-0" id="resetIncludeCheck"
                                   tabindex="-1" aria-label="Reset Include"
                                   ng-click="updateIncludeCheck();"
                                   ng-model="includeCheck" ng-disabled="includeDisable"
                                   ng-keydown="clickWithEnter($event)"/>
                            <label class="form-check-label" for="resetIncludeCheck">Reset Include</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="position-relative ml-0" id="resetExcludeCheck"
                                   tabindex="-1" aria-label="Reset Exclude"
                                   ng-click="updateExcludeCheck()"
                                   ng-model="excludeCheck" ng-disabled="excludeDisable"
                                   ng-keydown="clickWithEnter($event)"/>
                            <label class="form-check-label" for="resetExcludeCheck">Reset Exclude</label>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm" type="submit" tabindex="-1" aria-label="Reset Selected"
                                    ng-disabled="excludeCheck == false && includeCheck == false">Reset Selected
                            </button>
                            <span class="fa fa-question-circle" role="button" tabindex="-1"
                                  tooltip data-placement="right"
                                  th:aria-label="#{screen.message.common.tooltip.actions.resetGroup}"
                                  th:title="#{screen.message.common.tooltip.actions.resetGroup}"
                                  th:attr="ng-click='displayDynamicModal(\'Actions Information\', \'' +
                                                    #{screen.message.common.tooltip.actions.resetGroup} + '\')',
                                  ng-keypress='$event.keyCode === 13 ? displayDynamicModal(\'Actions Information\', ' +
                                              '\'' + #{screen.message.common.tooltip.actions.resetGroup} +
                                              '\') : null'">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
