<th:block th:fragment="add-error-messages">

    <div ng-show="!errorDismissed && !waitingForImportResponse">
        <!--message for empty input-->
        <div ng-if="emptyInput"
             class="float-md-left mt-3 alert alert-danger fade show">
            <p th:utext="#{screen.message.modal.add.empty}"></p>
        </div>
        <!--message for invalid input-->
        <div ng-if="userToAdd.length > 0 && (resStatus === 404 || resStatus === 500)"
             class="float-md-left mt-3 alert alert-danger fade in">
            <p th:text="#{screen.message.modal.add.fail}"></p>
            <p th:text="#{screen.message.modal.add.ensureValid}"></p>
        </div>
        <!--message for adding a member already in Include or Exclude or Owner -->
        <div ng-if="userToAdd.length > 0 && swap === false"
             class="float-md-left mt-3 alert alert-danger fade in">
            <div ng-if="listName === 'Include'">
                <p>{{user}} is already in Include</p>
            </div>
            <div ng-if="listName === 'Exclude'">
                <p>{{user}} is already in Exclude</p>
            </div>
            <div ng-if="listName === 'owners'">
                <p>{{user}} is already in Owner</p>
            </div>
        </div>
    </div>
</th:block>
