<th:block th:fragment="add-error-messages">
    <div ng-show="errorDismissed === false && !waitingForImportResponse">
        <div ng-if="user.length === 0 && resStatus === 0"
             class="float-md-left mt-3 alert alert-danger fade in">
            <p th:utext="#{screen.message.modal.add.empty}"></p>
        </div>
        <div ng-if="user.length > 0 && (resStatus === 404 || resStatus === 500)"
             class="float-md-left mt-3 alert alert-danger fade in">
            <p th:text="#{screen.message.modal.add.fail}"></p>
            <p th:text="#{screen.message.modal.add.ensureValid}"></p>
        </div>
    </div>
    <div>resStatus: {{resStatus}}</div>
    <div>errorDismissed: {{errorDismissed}}</div>
</th:block>
