<th:block th:fragment="admin-error-messages">

    <div ng-show="!errorDismissed && !loading">
        <!--message for empty input-->
        <div ng-if="emptyInput"
             class="float-md-left my-3 px-3 pt-2 rounded alert-danger show"
             role="alert">
            <p th:utext="#{screen.message.modal.search.empty}"></p>
        </div>
        <!--message for invalid input-->
        <div ng-if="invalidInput"
             class="float-md-left my-3 px-3 pt-2 rounded alert-danger show"
             role="alert">
            <p th:text="#{screen.message.modal.search.fail}"></p>
            <p th:text="#{screen.message.modal.search.ensureValid}"></p>
        </div>
        <!--message for adding an uhIdentifier that is already an admin-->
        <div ng-if="containsInput"
             class="float-md-left my-3 px-3 pt-2 rounded alert-danger show"
             role="alert">
            <p th:text="#{screen.message.modal.add.preExisting.admin}"></p>
        </div>
        <!--message for trying to add a departmental account-->
        <div ng-if="containsDeptAcc"
             class="float-md-left my-3 px-3 pt-2 rounded alert-danger show"
             role="alert">
            <p th:text="#{screen.message.modal.add.deptAccount.admin}"></p>
        </div>
        <!--message for no groupings result-->
        <div ng-if="resStatus && subjectToLookup.length > 0 && subjectList.length <= 0"
             class="float-md-left my-3 px-3 pt-2 rounded alert-danger show">
            <p th:text="#{screen.message.modal.search.noResults}"></p>
        </div>
    </div>

</th:block>
