<th:block th:fragment="exclude">
    <h3>Exclude</h3>
    <div class="row group-header">
        <!-- Export to CSV button -->
        <div class="col-lg-9 col-md-8 col-sm-6 col-12 p-0 mb-sm-0 mb-2">
            <button type="button" class="btn btn-primary" th:title="#{screen.message.common.tooltip.export.csv}"
                    ng-click="exportGroupToCsv(groupingExclude, selectedGrouping.name, 'exclude')">
                Export to CSV
            </button>
        </div>
        <!-- Filter bar -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-0">
            <input class="form-control" placeholder="Filter Members..." type="text"
                   title="Filter Members"
                   ng-model="excludeQuery"
                   ng-change="filter(groupingExclude, 'pagedItemsExclude', 'currentPageExclude', excludeQuery)"/>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm table-hover" aria-live="assertive">
            <thead>
            <tr>
                <th class="clickable"
                    ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'name')">
                    Name
                    <i class="fa sort-icon"
                       ng-show="columnSort.groupingExclude.property === 'name' || !columnSort.groupingExclude"
                       ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                </th>
                <th class="clickable"
                    ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'uuid')">
                    UH Number
                    <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'uuid'"
                       ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                </th>
                <th class="clickable"
                    ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'username')">
                    UH Username
                    <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'username'"
                       ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                </th>
                <th class="basis-column clickable"
                    ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'inBasis')">
                    In Basis?
                    <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'inBasis'"
                       ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in pagedItemsExclude[currentPageExclude]">
                <td tabindex="0">
                    {{e.name}}
                    <span class="fa fa-trash-o pull-right clickable pt-1"
                          data-toggle="tooltip" data-placement="top"
                          onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                          tabindex="0"
                          th:title="#{screen.message.common.tooltip.remove.exclude}"
                          ng-keypress="$event.keyCode === 13 ? removeMember('Exclude', currentPageExclude, $index) : null"
                          ng-click="removeMember('Exclude', currentPageExclude, $index)">
                    </span>
                </td>
                <td>{{e.uuid}}</td>
                <td>
                    {{e.username}}
                    <div ng-if="e.username === ''">
                        <span>N/A</span>
                        <i class="fa fa-question-circle clickable" aria-hidden="true"
                           data-toggle="tooltip" data-placement="right"
                           onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                        </i>
                    </div>
                </td>
                <td class="basis-column text-center">{{e.inBasis}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-lg-flex d-block justify-content-lg-between justify-content-start">
        <div class="col-lg-4 pl-0 pr-0 mt-lg-0 mt-2">
            <form ng-submit="addMember('Exclude')">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="UH Username"
                           title="Enter UH username to exclude"
                           ng-model="userToAdd"/>

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-lg-0 mt-2">
            <div th:replace="fragments/pagination :: pagination(currentPage ='currentPageExclude', pagedItems='pagedItemsExclude')"></div>
        </div>
    </div>
</th:block>
