<th:block th:fragment="exclude">
    <div id="exclude-display" class="tab-pane fade show active">
        <div class="row">
            <div class="col-md-8">
                <h1 class="font-weight-bold text-dark pt-2 mb-0 d-inline-block">Exclude ({{groupingExclude.length}})</h1>
                <div class="spinner-border ml-1 d-inline-block"
                     ng-hide="paginatingComplete"
                     role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class=" mb-1" ng-show="largeGrouping" th:text="#{screen.message.common.loading.toolarge}"><i
                        class="fa fa-check" aria-hidden="true"></i></p>
            </div>
            <div class="col-md-4 py-2">
                <input placeholder="Filter Members..." type="text" title="Filter Members"
                       ng-model="excludeQuery" class="form-control" aria-label="Filter Members..."
                       ng-change="filter(groupingExclude, 'pagedItemsExclude', 'currentPageExclude', excludeQuery, true)"/>
            </div>
        </div>

        <div class="table-responsive-sm">
            <table class="table table-striped table-hover" aria-live="assertive">
                <thead>
                <tr>
                    <th scope="col" aria-label="Check all checkboxes">
                        <input class="position-relative ml-0" type="checkbox"
                               aria-label="Select all checkboxes in the current page"
                               ng-model="pageSelected"
                               ng-disabled="groupingExclude.length === 0"
                               id="exclude-checkbox-page"
                               ng-click="toggleCheckAllSelection('Exclude', 'page')"
                               value="option1" tooltip="Check all" data-placement="top"
                               ng-keydown="$event.keyCode === 13 ? toggleCheckAllSelection('Exclude', 'page') : null">
                        <i class="fas fa-tools" aria-hidden="true"
                           tooltip data-placement="right"
                           ng-show="showToolIcon"
                           title="See Tools tab to remove entire list">
                        </i>
                    </th>
                    <th scope="col" role="button"
                        ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'name')">
                        Name
                        <i class="fa sort-icon"
                           ng-show="columnSort.groupingExclude.property === 'name' || !columnSort.groupingExclude"
                           ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                    </th>
                    <th scope="col" role="button"
                        ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'uhUuid')">
                        UH Number
                        <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'uhUuid'"
                           ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                    </th>
                    <th scope="col" role="button"
                        ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'uid')">
                        UH Username
                        <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'uid'"
                           ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                    </th>
                    <th scope="col" role="button"
                        ng-click="sortBy('groupingExclude', 'pagedItemsExclude', 'inBasis')">
                        Basis?
                        <i class="fa sort-icon" ng-show="columnSort.groupingExclude.property === 'inBasis'"
                           ng-class="{ reverse: columnSort.groupingExclude.reverse }"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in pagedItemsExclude[currentPageExclude]" class="table table-sm">
                    <td class="overflow-auto py-1 px-3">
                        <input class="position-relative ml-0 blank-checkbox" type="checkbox"
                               aria-label="Remove {{e.name}} from the exclude."
                               ng-keydown="clickCheckbox($event, e)"
                               ng-model="membersInCheckboxList[e.uhUuid]"
                               id="{{'exclude-checkbox-' + e.uhUuid}}"
                               ng-click="$event.stopPropagation(); toggleCheckAllSelection('Exclude', 'single')">
                    </td>
                    <td class="overflow-auto py-1 px-3">
                        {{e.name}}
                        <span class="far fa-trash-alt fa-pull-right pt-1"  role="button"
                              tooltip data-placement="top"
                              tabindex="0" aria-label="Remove {{e.name}} from the Exclude list"
                              th:title="#{screen.message.common.tooltip.remove.exclude}"
                              ng-keypress="$event.keyCode === 13 ? removeMemberWithTrashcan('Exclude', currentPageExclude, $index) : null"
                              ng-click="removeMemberWithTrashcan('Exclude', currentPageExclude, $index)">
                    </span>
                    </td>
                    <td class="overflow-auto py-1 px-3">{{e.uhUuid}}</td>
                    <td class="overflow-auto py-1 px-3">
                        {{e.uid}}
                        <div ng-if="e.uid === ''">
                            <span>N/A</span>
                            <i class="fa fa-question-circle" role="button" aria-hidden="true"
                               tooltip data-placement="right"
                               th:title="#{screen.message.common.tooltip.uid.notApplicable}">
                            </i>
                        </div>
                    </td>
                    <td class="overflow-auto py-1 px-3">
                        <i class="text-dark">{{(e.inBasis === 'Yes') ? 'Yes' : 'No'}}</i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-lg-flex d-block justify-content-lg-between justify-content-start">
            <div class="col-lg-4 pl-0 pr-0 mt-lg-0 my-2">
                <form>
                    <div class="input-group long">
                        <div class="memSearch">
                        <input class="form-control" placeholder="UH Username or UH Number" type="search"
                               ng-init="dismissErrors()"
                               ng-blur="dismissErrors()"
                               title="Enter one or more UH members" ng-model="manageMembers"
                        />
                        </div>
                        <div class="memBtns">
                            <button class="btn btn-primary add-margin"
                                    ng-click="addOnClick('Exclude')">
                                Add
                            </button>
                            <button class="btn btn-remove"
                                    ng-blur="dismissErrors()"
                                    ng-click="removeOnClick('Exclude')">
                                Remove
                            </button>
                            <button class="btn btn-primary" ng-click="displayImportModal('Exclude')">
                                Import File
                            </button>
                            <div class="spinner-border spinner-border-sm d-inline-block" ng-if="waitingForImportResponse">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="~{fragments/add-error-messages :: add-error-messages}"></div>
        <div class="pageBtn mt-lg-0 mt-2">
            <div th:replace="~{fragments/pagination :: pagination(currentPage ='currentPageExclude', pagedItems='pagedItemsExclude')}"></div>
        </div>
    </div>
</th:block>
