<th:block th:fragment="groupings-list">
    <div class="table-responsive">
        <table class="table manage-groupings table-striped table-hover table-md" aria-atomic="true">
            <thead>
            <tr>
                <th ng-click="sortBy('groupingsList', 'pagedItemsGroupings', 'name')"
                    class="w-35 align-middle" role="button" scope="col">
                    Grouping Name
                    <i class="fa sort-icon"
                       ng-show="columnSort.groupingsList.property === 'name' || !columnSort.groupingsList"
                       ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingsList', 'pagedItemsGroupingss', 'description')"
                    ng-show="showDescriptionColumn"
                    class="clickable d-none d-sm-table-cell" scope="col">
                    Description
                    <i class="fa sort-icon" ng-show="columnSort.groupingsList.property === 'description'"
                       ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingsList', 'pagedItemsGroupings', 'path')"
                    ng-show="showGroupingPathColumn"
                    class=" d-none d-sm-table-cell" role="button" scope="col">
                    Grouping Path
                    <i class="fa sort-icon" ng-show="columnSort.groupingsList.property === 'path'"
                       ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody class="table table-borderless">
            <tr class="row-height" ng-repeat="l in pagedItemsGroupings[currentPageGroupings] ">
                <td class="w-35 p-10 align-middle" role="button" tabindex="0" aria-label="Click to Manage {{l.name}}"
                    ng-keypress="$event.keyCode === 13 ? displayGrouping(currentPageGroupings, $index) : null"
                    ng-click="displayGrouping(currentPageGroupings, $index)">
                    <i class="far fa-fw fa-edit" aria-hidden="true"></i>
                    {{l.name}}
                </td>
                <td class="mw-0 p-10 align-middle d-none d-sm-table-cell"
                    ng-class="{'w-35': columnDisplaySetting === 'all', 'col-auto': columnDisplaySetting === 'description'}"
                    ng-show="showDescriptionColumn">
                    <div class="text-truncate" tooltip-on-truncate="{{l.description}}">
                        {{l.description}}
                    </div>
                </td>
                <td class="p-10 align-middle d-none d-sm-table-cell"
                    ng-class="{'w-30': columnDisplaySetting === 'all', 'col-auto': columnDisplaySetting === 'groupingPath'}"
                    ng-show="showGroupingPathColumn">
                    <form class="seamless border border-secondary rounded">
                        <input aria-label="Grouping Path" type="text"
                               class="text-truncate form-control form-control-sm border-0"
                               tooltip-on-truncate="{{l.path}}" value={{l.path}} id={{l.path}}>
                        <div class="hover-text" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="copy">
                            <div class="hover-text" data-toggle="popover" data-placement="top" data-trigger="click" data-content="copied!">
                                <button class="btn btn-sm btn-clipboard" aria-label="Copy Path Button" tabindex="-1"
                                    ng-click=copyPath(l) ng-mouseover=hoverCopy()>
                                <i class="far fa-fw fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div th:replace="~{fragments/pagination :: pagination(currentPage='currentPageGroupings', pagedItems='pagedItemsGroupings')}"></div>
    </div>
</th:block>
