<th:block th:fragment="groupings-list">
    <div class="card card-with-table"
         th:classappend="${tabContent ? 'card-tab-content' : ''}">
        <div class="card-header">
            <div class="row m-auto">
                <div class="col-lg-9 col-md-8 col-12 p-0">
                    <h2 class="card-title mt-md-1 mt-0 mb-1" th:text="${title}"></h2>
                </div>
                <div class="col-lg-3 col-md-4 col-12 p-0">
                    <input class="form-control" placeholder="Filter Groupings..." type="text"
                           title="Filter Groupings"
                           ng-model="groupingsQuery"
                           ng-change="filter(groupingsList, 'pagedItemsGroupings', 'currentPageGroupings', groupingsQuery)"/>
                </div>
            </div>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-bordered table-sm table-hover" aria-live="assertive">
                <thead>
                <tr>
                    <th ng-click="sortBy('groupingsList', 'pagedItemsGroupings', 'name')" class="clickable">
                        Grouping Name
                        <i class="fa sort-icon"
                           ng-show="columnSort.groupingsList.property === 'name' || !columnSort.groupingsList"
                           ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                    </th>
                    <th ng-click="sortBy('groupingsList', 'pagedItemsGroupings', 'path')" class="clickable">
                        Grouping Path
                        <i class="fa sort-icon" ng-show="columnSort.groupingsList.property === 'path'"
                           ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="l in pagedItemsGroupings[currentPageGroupings] ">
                    <td class="clickable" tabindex="0"
                        ng-keypress="$event.keyCode === 13 ? displayGrouping(currentPageGroupings, $index) : null"
                        ng-click="displayGrouping(currentPageGroupings, $index)">
                        {{l.name}}
                        <span class="fa fa-pencil-square-o pull-right pt-1"></span>
                    </td>
                    <td>{{l.path}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pl-sm-3 pr-sm-3 pl-1 pr-1">
            <div class="d-flex justify-content-lg-end justify-content-start">
                <div th:replace="fragments/pagination :: pagination(currentPage='currentPageGroupings', pagedItems='pagedItemsGroupings')"></div>
            </div>
        </div>
    </div>
</th:block>
