<th:block th:fragment="include">
    <div class="row member-row-title">
        <h3 class="members-tab-title">Include</h3>
    </div>
    <div class="row member-row-title">
        <div class="row member-row-title">
            <!-- Export to CSV button -->
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0;">
                <div class="pull-left">
                    <button type="button" class="btn btn-primary" th:title="#{screen.message.common.tooltip.export.csv}" ng-click="export(groupingInclude, selectedGrouping.name, 'include')">
                        Export to CSV
                    </button>
                </div>
            </div>
            <!-- Filter bar -->
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0;">
                <div class="xs-left-sm-right">
                    <input class="form-control" placeholder="Filter Members..." type="text"
                           title="Filter Members"
                           ng-model="includeQuery"
                           ng-change="filter(groupingInclude, 'pagedItemsInclude', 'currentPageInclude', includeQuery)"/>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover" aria-live="assertive">
            <thead>
            <tr>
                <th ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'name')" class="clickable">
                    Name
                    <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'name' || !columnSort.groupingInclude" ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'uuid')" class="clickable">
                    UH Number
                    <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'uuid'" ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'username')" class="clickable">
                    UH Username
                    <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'username'" ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'basis')" class="clickable">
                    In Basis?
                    <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'basis'" ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in pagedItemsInclude[currentPageInclude]">
                <td tabindex="0">
                    {{i.name}}
                    <span class="glyphicon glyphicon-trash pull-right clickable"
                          data-toggle="tooltip" data-placement="top"
                          onmouseover="$(this).tooltip('show')" style="margin-right: 10px;"
                          tabindex="0"
                          th:title="#{screen.message.common.tooltip.remove.include}"
                          ng-keypress="$event.keyCode === 13 ? removeMember('Include', $index) : null"
                          ng-click="removeMember('Include', $index)">
                    </span>
                </td>
                <td>{{i.uuid}}</td>
                <td>
                    {{i.username}}
                    <div ng-if="i.username === ''">
                        <span>N/A</span>
                        <i class="fa fa-question-circle clickable" aria-hidden="true"
                           data-toggle="tooltip" data-placement="right"
                           onmouseover="$(this).tooltip('show')"
                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                        </i>
                    </div>
                </td>
                <td class="text-center" style="width: 3%">{{i.basis}}</td>
            </tr>
            </tbody>
            <tfoot>
            <!-- Pagination control -->
            <td colspan="6">
                <ul class="pagination pull-right">
                    <li ng-class="{disabled: (currentPageInclude) == 0 }">
                        <a class="clickable" ng-click="setPage('First','currentPageInclude','pagedItemsInclude')">«« First</a>
                    </li>
                    <li ng-class="{disabled: (currentPageInclude) == 0 }">
                        <a class="clickable" ng-click="setPage('Prev','currentPageInclude','pagedItemsInclude')">« Prev</a>
                    </li>
                    <li ng-repeat="n in pageRange(currentPageInclude, pagedItemsInclude.length, gap) "
                        ng-class="{active: n == currentPageInclude}"
                        ng-click="setPage('Set','currentPageInclude','pagedItemsInclude')">
                        <a class="clickable" ng-bind="n + 1"></a>
                    </li>
                    <li ng-class="{disabled: (currentPageInclude) == pagedItemsInclude.length - 1 || pagedItemsInclude.length == 0}">
                        <a class="clickable" ng-click="setPage('Next','currentPageInclude','pagedItemsInclude')">Next »</a>
                    </li>
                    <li ng-class="{disabled: (currentPageInclude) == pagedItemsInclude.length - 1 || pagedItemsInclude.length == 0}">
                        <a class="clickable" ng-click="setPage('Last','currentPageInclude','pagedItemsInclude')">Last »»</a>
                    </li>
                </ul>
            </td>
            </tfoot>
        </table>
    </div>
    <!-- Input to add a user to the include group -->
    <div class="col-lg-4 col-md-6" style="padding: inherit;">
        <form ng-submit="addMember('Include')">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter UH username to include"
                       title="Enter UH username to include"
                       ng-model="addUser"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
