<th:block th:fragment="include">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <div id="include-display" class="tab-pane fade show active">

        <div class="row">
            <div class="col-md-8">
                <h1 class="font-weight-bold text-dark pt-2 mb-0">Include ({{groupingInclude.length}})</h1>
                <p class=" mb-1" style="display:inline-block" ng-show="paginatingProgress"
                   th:text="#{screen.message.common.loading.gettingmembers}"></p>
                <div class="spinner-border spinner-border-sm" style="display:inline-block"
                     ng-hide="!paginatingProgress"
                     role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class=" mb-1" ng-show="largeGrouping" th:text="#{screen.message.common.loading.toolarge}"><i
                        class="fa fa-check" aria-hidden="true"></i></p>
            </div>
            <div class="col-md-4 pt-2">
                <input placeholder="Filter Members..." type="text" title="Filter Members"
                       ng-model="includeQuery" class="form-control"
                       ng-change="filter(groupingInclude, 'pagedItemsInclude', 'currentPageInclude', includeQuery, true)"/>
                <!-- Export to CSV button -->
                <div class="float-right"
                     uib-tooltip="Export will be available once all members are loaded"
                     tooltip-enable="!paginatingComplete"
                     style="display:inline-block">
                    <button class="btn btn-sm btn-primary float-right mb-1 mt-1" type="submit"
                            ng-click="exportGroupToCsv(groupingMembers, selectedGrouping.name, 'members')"
                            ng-disabled="!paginatingComplete">
                        <i class="fa fa-refresh mr-2" aria-hidden="true"></i>
                        Export to CSV
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive-sm">
            <table class="table table-striped table-hover" aria-live="assertive">
                <thead>
                <tr>
                    <th scope="col" class="clickable"
                        ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'name')">
                        <div class="form-check">
                            <input class="form-check-input position-left" type="checkbox" id="selectall"
                                   value="option1" data-toggle="tooltip" data-placement="top" title="Check all"
                                   aria-label="assertive">
                            Name
                        <i class="fa sort-icon"
                           ng-show="columnSort.groupingInclude.property === 'name' || !columnSort.groupingInclude"
                           ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                        </div>
                    </th>
                    <th scope="col" class="clickable"
                        ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'uhUuid')">
                        UH Number
                        <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'uhUuid'"
                           ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                    </th>
                    <th scope="col" class="clickable"
                        ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'username')">
                        UH Username
                        <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'username'"
                           ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                    </th>
                    <th scope="col" class="basis-column clickable"
                        ng-click="sortBy('groupingInclude', 'pagedItemsInclude', 'inBasis')">
                        Basis?
                        <i class="fa sort-icon" ng-show="columnSort.groupingInclude.property === 'inBasis'"
                           ng-class="{ reverse: columnSort.groupingInclude.reverse }"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in pagedItemsInclude[currentPageInclude]" class="table table-sm">
                    <td class="p-10" tabindex="0">
                        <div class="form-check">
                            <input class="form-check-input position-left singlechkbox" type="checkbox"
                                   id="blankCheckbox"
                                   value="option1"
                                   aria-label="assertive">
                            {{i.name}}
                        <span class="fa fa-trash-o pull-right clickable pt-1"
                              data-toggle="tooltip" data-placement="top"
                              onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                              tabindex="0"
                              th:title="#{screen.message.common.tooltip.remove.include}"
                              ng-keypress="$event.keyCode === 13 ? removeMember('Include', currentPageInclude, $index) : null"
                              ng-click="removeMember('Include', currentPageInclude, $index)">
                        </span>
                        </div>
                    </td>
                    <td class="p-10">{{i.uhUuid}}</td>
                    <td class="p-10">
                        {{i.username}}
                        <div ng-if="i.username === ''">
                            <span>N/A</span>
                            <i class="fa fa-question-circle clickable" aria-hidden="true"
                               data-toggle="tooltip" data-placement="right"
                               onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                               th:title="#{screen.message.common.tooltip.username.notApplicable}">
                            </i>
                        </div>
                    </td>
                    <td class="basis-column text-center p-10">
                        <i id="inBasis" class="fa fa-{{(i.inBasis === 'Yes') ? 'check' : 'times'}} text-dark"></i>
                    </td>
                </tr>
                </tbody>
                <script type="text/javascript">
                    jQuery(function ($) {
                        $("body").on("click", "#selectall", function () {
                            $(".singlechkbox").prop("checked", this.checked);
                        });

                        $("body").on("click", ".singlechkbox", function () {
                            if ($(".singlechkbox").length == $(".singlechkbox:checked").length) {
                                $("#selectall").prop("checked", "checked");
                            } else {
                                $("#selectall").removeAttr("checked");
                            }

                        });
                    });
                </script>
            </table>
        </div>
        <div class="d-lg-flex d-block justify-content-lg-between justify-content-start">
            <div class="col-lg-4 pl-0 pr-0 mt-lg-0 mt-2">
                <form>
                    <div class="input-group" style="width: 500px">
                        <input class="form-control" placeholder="Members to add" type="search"
                               title="Enter one or more usernames" ng-model="usersToAdd" style="width: 275px"/>
                        <div>
                            <button class="btn btn-primary" ng-click="addMembers('Include')" style="margin-left: 2px">
                                Add
                            </button>
                            <button class="btn btn-primary" ng-click="launchImportModal('Include')">
                                Import File
                            </button>
                            <button class="btn btn-primary" type="submit" style="margin-left: 2px">Delete</button>
                            <div class="spinner-border spinner-border-sm" ng-if="waitingForImportResponse"
                                 style="display:inline-block">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-lg-0 mt-2">
            <div th:replace="fragments/pagination :: pagination(currentPage ='currentPageInclude', pagedItems='pagedItemsInclude')"></div>
        </div>
    </div>
</th:block>
