<th:block th:fragment="members">

    <div id="all" class="tab-pane fade show active">

        <div class="row">
            <div class="col-md-8">
                <h1 class="font-weight-bold text-dark pt-2 mb-0">All Members ({{groupingMembers.length}})</h1>
                <p class=" mb-1" style="display:inline-block" ng-show="paginatingProgress"
                   th:text="#{screen.message.common.loading.gettingmembers}"></p>
                <div class="spinner-border spinner-border-sm" style="display:inline-block"
                     ng-hide="!paginatingProgress"
                     role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class=" mb-1" ng-show="largeGrouping" th:text="#{screen.message.common.loading.toolarge}"><i
                        class="fa fa-check" aria-hidden="true"></i></p>
            </div>
            <div class="col-md-4 pt-2">
                <input placeholder="Filter Members..." type="text" title="Filter Members"
                       ng-model="membersQuery" class="form-control"
                       ng-change="filter(groupingMembers, 'pagedItemsMembers', 'currentPageMembers', membersQuery, true)"/>
                <!-- Export to CSV button -->
                <button class="btn btn-sm btn-primary float-right mb-1 mt-1" type="submit"
                        ng-click="exportGroupToCsv(groupingMembers, selectedGrouping.name, 'members')"
                        ng-hide="!paginatingComplete">
                    <i class="fa fa-refresh mr-2" aria-hidden="true"></i>
                    Export to CSV
                </button>
            </div>
        </div>


        <div class="table-responsive-sm">
            <table class="table table-striped table-hover" aria-live="assertive">
                <thead>
                <tr>
                    <th scope="col" ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'name')" class="clickable">
                        Name
                        <i class="fa sort-icon"
                           ng-show="columnSort.groupingMembers.property === 'name' || !columnSort.groupingMembers"
                           ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                    </th>
                    <th scope="col" ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'uhUuid')" class="clickable">
                        UH Number
                        <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'uhUuid'"
                           ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                    </th>
                    <th scope="col" ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'username')"
                        class="clickable">
                        UH Username
                        <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'username'"
                           ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                    </th>
                    <th scope="col" class="basis-column clickable"
                        ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'whereListed')">
                        Listing
                        <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'whereListed'"
                           ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="g in pagedItemsMembers[currentPageMembers]" class="table table-sm">
                    <td class="p-10">{{g.name}}</td>
                    <td class="p-10">{{g.uhUuid}}</td>
                    <td class="p-10">
                        {{g.username}}
                        <div ng-if="g.username === ''">
                            <span>N/A</span>
                            <i class="fa fa-question-circle clickable" aria-hidden="true"
                               data-toggle="tooltip" data-placement="right"
                               onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                               th:title="#{screen.message.common.tooltip.username.notApplicable}">
                            </i>
                        </div>
                    </td>
                    <td class="basis-column p-10">{{ g.whereListed }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="d-flex justify-content-lg-end justify-content-start">
            <div th:replace="fragments/pagination :: pagination(currentPage='currentPageMembers', pagedItems='pagedItemsMembers')"></div>
        </div>
    </div>
</th:block>
