<th:block th:fragment="members">
    <h3>All Members</h3>
    <div class="row group-header">
        <!-- Export to CSV button -->
        <div class="col-lg-9 col-md-8 col-sm-6 col-12 p-0 mb-sm-0 mb-2">
            <button type="button" class="btn btn-primary" th:title="#{screen.message.common.tooltip.export.csv}"
                    ng-click="exportGroupToCsv(groupingMembers, selectedGrouping.name, 'members')">
                Export to CSV
            </button>
        </div>
        <!-- Filter bar -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-0">
            <input placeholder="Filter Members..." type="text" title="Filter Members"
                   ng-model="membersQuery" class="form-control"
                   ng-change="filter(groupingMembers, 'pagedItemsMembers', 'currentPageMembers', membersQuery)"/>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm table-hover" aria-live="assertive">
            <thead>
            <tr>
                <th ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'name')" class="clickable">
                    Name
                    <i class="fa sort-icon"
                       ng-show="columnSort.groupingMembers.property === 'name' || !columnSort.groupingMembers"
                       ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'uuid')" class="clickable">
                    UH Number
                    <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'uuid'"
                       ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'username')"
                    class="clickable">
                    UH Username
                    <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'username'"
                       ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                </th>
                <th class="basis-column clickable"
                    ng-click="sortBy('groupingMembers', 'pagedItemsMembers', 'whereListed')">
                    Where Listed?
                    <i class="fa sort-icon" ng-show="columnSort.groupingMembers.property === 'whereListed'"
                       ng-class="{ reverse: columnSort.groupingMembers.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="g in pagedItemsMembers[currentPageMembers]">
                <td>{{g.name}}</td>
                <td>{{g.uuid}}</td>
                <td>
                    {{g.username}}
                    <div ng-if="g.username === ''">
                        <span>N/A</span>
                        <i class="fa fa-question-circle clickable" aria-hidden="true"
                           data-toggle="tooltip" data-placement="right"
                           onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                        </i>
                    </div>
                </td>
                <td class="basis-column text-center">{{ g.whereListed }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-lg-end justify-content-start">
        <div th:replace="fragments/pagination :: pagination(currentPage='currentPageMembers', pagedItems='pagedItemsMembers')"></div>
    </div>
</th:block>
