<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<th:block th:fragment="orphan-name">
    <span>N/A</span>
    <a ng-href="{{orphanHelpUrl}}" target="_blank" rel="noopener noreferrer"
       class="ml-1 text-primary text-decoration-none"
       tooltip data-placement="right"
       th:title="#{screen.message.common.tooltip.orphan}"
       th:attr="aria-label=#{screen.message.common.orphan.helpAria}">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <i class="fa fa-external-link-alt fa-xs ml-1" aria-hidden="true"></i>
    </a>
</th:block>
</body>
</html>
