<th:block th:fragment="owners">
    <h3>Owners</h3>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm table-hover" aria-live="assertive">
            <thead>
            <tr>
                <th class="clickable"
                    ng-click="sortBy('groupingOwners', 'pagedItemsOwners', 'name')">
                    Name
                    <i class="fa sort-icon"
                       ng-show="columnSort.groupingOwners.property === 'name' || !columnSort.groupingOwners"
                       ng-class="{ reverse: columnSort.groupingOwners.reverse }"></i>
                </th>
                <th class="clickable"
                    ng-click="sortBy('groupingOwners', 'pagedItemsOwners', 'username')">
                    UH Username
                    <i class="fa sort-icon" ng-show="columnSort.groupingOwners.property === 'username'"
                       ng-class="{ reverse: columnSort.groupingOwners.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="owner in pagedItemsOwners[currentPageOwners]">
                <td tabindex="0">
                    {{owner.name}}
                    <span class="fa fa-trash-o pull-right clickable pt-1"
                          data-toggle="tooltip" data-placement="top"
                          onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                          tabindex="0"
                          th:title="#{screen.message.common.tooltip.remove.owner}"
                          ng-keypress="$event.keyCode === 13 ? removeOwner(currentPageOwners, $index) : null"
                          ng-click="removeOwner(currentPageOwners, $index)">
                    </span>
                </td>
                <td>
                    {{owner.username}}
                    <div ng-if="owner.username === ''">
                        <span>N/A</span>
                        <i class="fa fa-question-circle clickable" aria-hidden="true"
                           data-toggle="tooltip" data-placement="right"
                           onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                        </i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-lg-flex d-block justify-content-lg-between justify-content-start">
        <div class="col-lg-4 pl-0 pr-0 mt-lg-0 mt-2">
            <form ng-submit="addOwner()">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="UH Username"
                           title="Enter UH username for ownership"
                           ng-model="ownerToAdd"
                           id="owner-input"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-lg-0 mt-2">
            <div th:replace="fragments/pagination :: pagination (currentPage = 'currentPageOwners', pagedItems='pagedItemsOwners')"></div>
        </div>
    </div>

</th:block>
