<th:block th:fragment="owners">
    <div class="row member-row-title">
        <h3 class="members-tab-title">Owners</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover" aria-live="assertive">
            <thead>
            <tr>
                <th ng-click="sortBy('groupingOwners', 'pagedItemsOwners', 'name')" class="clickable">
                    Name
                    <i class="fa sort-icon" ng-show="columnSort.groupingOwners.property === 'name' || !columnSort.groupingOwners" ng-class="{ reverse: columnSort.groupingOwners.reverse }"></i>
                </th>
                <th ng-click="sortBy('groupingOwners', 'pagedItemsOwners', 'username')" class="clickable">
                    UH Username
                    <i class="fa sort-icon" ng-show="columnSort.groupingOwners.property === 'username'" ng-class="{ reverse: columnSort.groupingOwners.reverse }"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="owner in pagedItemsOwners[currentPageOwners]">
                <td tabindex="0">
                    {{owner.name}}
                    <span class="glyphicon glyphicon-trash pull-right clickable"
                          data-toggle="tooltip" data-placement="top"
                          onmouseover="$(this).tooltip('show')" style="margin-right: 10px;"
                          tabindex="0"
                          th:title="#{screen.message.common.tooltip.remove.owner}"
                          ng-keypress="$event.keyCode === 13 ? removeOwner($index) : null"
                          ng-click="removeOwner($index)" >
                    </span>
                </td>
                <td>
                    {{owner.username}}
                    <div ng-if="owner.username === ''">
                        <span>N/A</span>
                        <i class="fa fa-question-circle clickable" aria-hidden="true"
                           data-toggle="tooltip" data-placement="right"
                           onmouseover="$(this).tooltip('show')"
                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                        </i>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="6">
                <ul class="pagination pull-right">
                    <li ng-class="{disabled: (currentPageOwners) == 0 }">
                        <a class="clickable" ng-click="setPage('First','currentPageOwners','pagedItemsOwners')">«« First</a>
                    </li>
                    <li ng-class="{disabled: (currentPageOwners) == 0 }">
                        <a class="clickable" ng-click="setPage('Prev','currentPageOwners','pagedItemsOwners')">« Prev</a>
                    </li>
                    <li ng-repeat="n in pageRange(currentPageOwners, pagedItemsOwners.length, gap) "
                        ng-class="{active: n == currentPageOwners}"
                        ng-click="setPage('Set','currentPageOwners','pagedItemsOwners')">
                        <a class="clickable" ng-bind="n + 1"></a>
                    </li>
                    <li ng-class="{disabled: (currentPageOwners) == pagedItemsOwners.length - 1 || pagedItemsOwners.length == 0}">
                        <a class="clickable" ng-click="setPage('Next','currentPageOwners','pagedItemsOwners')">Next »</a>
                    </li>
                    <li ng-class="{disabled: (currentPageOwners) == pagedItemsOwners.length - 1 || pagedItemsOwners.length == 0}">
                        <a class="clickable" ng-click="setPage('Last','currentPageOwners','pagedItemsOwners')">Last »»</a>
                    </li>
                </ul>
            </td>
            </tfoot>
        </table>
    </div>
    <!-- Input to add a user to the list of owners -->
    <div class="col-lg-4 col-md-6" style="padding: inherit;">
        <form ng-submit="addOwner()">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter UH username for ownership"
                       title="Enter UH username for ownership"
                       ng-model="ownerUser"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
