
<th:block th:fragment="page-header">
    <div class="card page-header">
        <div class="card-header">
            <div class="row" style="margin: inherit;">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pull-left" style="padding: 0;">
                    <h1 id="header-smaller" th:text="${title}" style="margin: inherit; padding-top: .11875em;"></h1>
                    <p class="text-left" th:text="${description}"></p>
                </div>
            </div>
        </div>
    </div>
</th:block>


