<th:block th:fragment="pagination">
    <nav aria-label="Page Navigation">
        <ul class="pagination float-right flex-wrap" aria-live="assertive">
            <li class="page-item"
                th:attr="ng-class='{ disabled: disableFirstAndPrev(' + ${currentPage} + ') }'">
                <button class="page-link"
                        th:attr="ng-click='setPage(\'First\', \'' + ${currentPage} + '\', \'' + ${pagedItems} + '\');newPage(\'' + ${groupType} + '\')'">
                    « <span class="d-md-inline d-none">First</span>
                </button>
            </li>
            <li class="page-item" th:attr="ng-class='{ disabled: disableFirstAndPrev(' + ${currentPage} + ') }'">
                <button class="page-link"
                        th:attr="ng-click='setPage(\'Prev\', \'' + ${currentPage} + '\', \'' + ${pagedItems} + '\');newPage(\'' + ${groupType} + '\')'">
                    ‹ <span class="d-md-inline d-none">Prev</span>
                </button>
            </li>
            <li class="page-item"
                th:attr="ng-repeat='n in pageRange(' + ${currentPage} + ', ' + ${pagedItems} + '.length, gap)',
                         ng-class='{ active: n === ' + ${currentPage} + ',
                                     \'d-md-inline d-none\': n !== ' + ${currentPage} + ' }' ">
                <button  class="page-link"
                         ng-bind="n + 1"
                         th:attr="ng-click='setPage(\'Set\', \'' + ${currentPage} + '\', \'' + ${pagedItems} + '\');newPage(\'' + ${groupType} + '\')',
                    ng-style='{\'color\' : n === ' + ${currentPage} + ' ? \'#1C6070\' : \'#1C6070\' }' ">
                </button>
            </li>
            <li class="page-item"
                th:attr="ng-class='{ disabled: disableNextAndLast(' + ${pagedItems} + ', ' + ${currentPage} + ') }'">
                <button class="page-link"
                        th:attr="ng-click='setPage(\'Next\', \'' + ${currentPage} + '\', \'' + ${pagedItems} + '\');newPage(\'' + ${groupType} + '\')'">
                    <span class="d-md-inline d-none">Next</span> ›
                </button>
            </li>
            <li class="page-item"
                th:attr="ng-class='{ disabled: disableNextAndLast(' + ${pagedItems} + ', ' + ${currentPage} + ') }'">
                <button class="page-link"
                        th:attr="ng-click='setPage(\'Last\', \'' + ${currentPage} + '\', \'' + ${pagedItems} + '\');newPage(\'' + ${groupType} + '\')'">
                    <span class="d-md-inline d-none">Last</span> »
                </button>
            </li>
        </ul>
    </nav>
</th:block>
