<th:block th:fragment="selected-grouping" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card selected-grouping-card"
         th:classappend="${tabContent ? 'card-tab-content' : ''}">
        <div class="card-header">
            <div class="flex-row m-auto">
                <div class="d-sm-flex d-block justify-content-between">
                    <div>
                        <h2 class="card-title mt-sm-1 mt-0 mb-1">Selected Grouping</h2>
                    </div>
                    <div class="p-0">
                        <button ng-click="returnToGroupingsList()" class="btn btn-primary">
                            Return to Groupings
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-bordered table-sm">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ selectedGrouping.name }}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{ selectedGrouping.path }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td style="table-layout: fixed; width: 80%">
                        <div ng-show="!descriptionForm">
                            {{ descriptionDisplay() }}
                            <span ng-click="editDescription()" class="fa fa-pencil-square-o p-1 pull-right clickable"
                                  th:title="#{screen.message.description.edit}"
                                  style="margin-right: 16px; margin-top: 2px"></span>
                        </div>

                        <div ng-show="descriptionForm" style="margin: 5px">
                            <form>
                                <div ng-show="descriptionLengthWarning()" class="alert alert-warning">
                                    <p th:utext="#{screen.message.admin.selectedGrouping.descriptionWarning}"> </p>
                                </div>

                                <input class="form-control ljlk"
                                       style="margin: 5px 5px 10px 5px; float: left;
                                           width: -webkit-calc(100% - 80px);
                                           width:    -moz-calc(100% - 80px);
                                           width:         calc(100% - 80px)"
                                       th:title="#{screen.message.admin.selectedGrouping.descriptionFormTitle}"
                                       th:placeholder="#{screen.message.admin.selectedGrouping.descriptionPlaceholder}"
                                       ng-value="descriptionDisplay()"
                                       ng-model="descript"
                                       maxlength="{{ maxDescriptionLength }}"
                                       id="descriptionForm" />
                                <span ng-click="editDescription()"
                                      th:title="#{screen.message.description.save}"
                                      class="fa fa-save pull-right pt-1 clickable"
                                      style="margin-left: 14px; margin-top: 12px; margin-right: 10px; float: left"></span>
                                <span ng-click="cancelDescriptionEdit()"
                                      th:title="#{screen.message.description.cancel}"
                                      class="fa fa-times-circle pull-right pt-1 clickable" id="descriptionString"
                                      style="margin-top: 12px; float: left"></span>
                            </form>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
