<th:block th:fragment="selected-grouping" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

    <div class="mt-4">
        <!-- Return to groupings list button -->
        <button ng-show="!fromManagePerson" class="btn btn-primary" type="submit"
                ng-click="returnToGroupingsList(); cancelDescriptionEdit(); toggleShowAdminTab();">
            <i class="fas fa-arrow-left mr-1"></i> Return to Groupings List
        </button>
        <button ng-show="fromManagePerson" class="btn btn-primary" type="submit"
                ng-click="returnToManagePerson(); cancelDescriptionEdit(); toggleShowAdminTab();">
            <i class="fas fa-arrow-left mr-1"></i> Return to Manage Person
        </button>

        <!-- Export to CSV button -->
        <div class="btn-group dropdown" id="csvButton" tooltip data-original-title="{{ getCSVToolTipMessage() }}">
            <button type="button" class="form-control" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ng-disabled="!paginatingComplete || isGroupingEmpty()">
                <i class="fa fa-file-export mr-1"></i>
                Export Grouping
                <i class="fa fa-caret-down ml-1"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div ng-show="groupingMembers.length > 0">
                    <label class="dropdown-item" ng-click="exportGroupToCsv(groupingMembers, 'members')">
                        <i class="fa fa-users mr-1"></i>
                        Export All Members
                    </label>
                </div>
                <div ng-show="groupingBasis.length > 0">
                    <label class="dropdown-item" ng-click="exportGroupToCsv(groupingBasis, 'basis')">
                        <i class="far fa-id-card mr-1"></i>
                        Export Basis
                    </label>
                </div>
                <div ng-show="groupingInclude.length > 0">
                    <label class="dropdown-item" ng-click="exportGroupToCsv(groupingInclude, 'include')">
                        <i class="fas fa-user-plus mr-1"></i>
                        Export Include
                    </label>
                </div>
                <div ng-show="groupingExclude.length > 0">
                    <label class="dropdown-item" ng-click="exportGroupToCsv(groupingExclude, 'exclude')">
                        <i class="fas fa-user-minus mr-1"></i>
                        Export Exclude
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="container hide-content" id="sel"
         th:classappend="${tabContent ? 'card-tab-content' : ''}">
        <div class="overflow-hidden mb-5 mt-0"
             ng-init="changeStyleAttribute('sel', 'display', 'unset')">
            <section>
                <div class="card-header teal-bg">
                    <div class="row" id="selectedGroupHeader">
                        <div class="col-md-8" id="groupNameCol">
                            <h2 ng-if="selectedGrouping.name" class="card-title text-light mb-0"> {{ selectedGrouping.name }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-light mb-0"><b> Path:</b> {{ selectedGrouping.path }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="(descriptionLoaded)">
                                <p class="text-light mb-0 text-break"><b>Description:</b> {{ descriptionDisplay() }} &nbsp;<button
                                        ng-click="editDescription()"
                                        class="far fa-fw fa-edit mr-2 teal-bg border-0 text-light tool"
                                        tooltip="Edit this grouping's description"
                                        data-placement="top"
                                        aria-label="Edit Description"
                                        role="button"></button>
                                </p>
                            </div>
                            <div ng-show="!(descriptionLoaded)">
                                <p class="text-light mb-0">
                                    <b>Description:</b> {{ descriptionDisplay() }}
                                </p>
                            </div>
                            <div ng-show="descriptionForm" class="grouping-description-form">
                                <form class="d-flex mw-100 rounded bg-white ng-pristine ng-valid">
                                    <input class="form-control border-0 float-left edit-description-input-box"
                                           aria-label="Grouping Description"
                                           th:title="#{screen.message.admin.selectedGrouping.descriptionFormTitle}"
                                           th:placeholder="#{screen.message.admin.selectedGrouping.descriptionPlaceholder}"
                                           ng-value="descriptionDisplay()"
                                           ng-model="modelDescription"
                                           maxlength="{{ maxDescriptionLength }}"
                                           ng-trim="false"/>
                                    <span ng-show="descriptionForm" class="grouping-description-form">
                                        <button type="button" aria-label="Save description"
                                                class="description-form-button"
                                                tooltip="Save description" data-placement="top"
                                                ng-click="saveDescription()">
                                        <i class="far fa-check-circle fa-2x" role="button" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <span ng-show="descriptionForm" class="grouping-description-form">
                                        <button type="button" aria-label="Cancel changes"
                                                class="description-form-button rounded-right"
                                                tooltip="Cancel changes" data-placement="top"
                                                ng-click="cancelDescriptionEdit()">
                                        <i class="far fa-times-circle fa-2x" role="button" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </form>
                                <div ng-show="descriptionLengthWarning()"
                                     class="float-md-left alert alert-danger h-50 pt-2 pb-0 pl-2 pr-2 mb-1 mt-1 border fade show">
                                    <p th:utext="#{screen.message.admin.selectedGrouping.descriptionWarning}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="card-body p-0 border-bottom border-left border-right rounded-bottom">
                    <div class="row mx-auto">
                        <div class="col-lg-1 col-md-2 col-12 teal-tint-bg pt-3 pb-3" id="pills-column">
                            <div th:replace="fragments/side-nav :: side-nav"></div>
                        </div>
                        <div class="tab-content col-lg-11 col-md-10 col-12" id="pill-content">
                            <div th:replace="fragments/members :: members"></div>
                            <div id="basis" class="tab-pane fade">
                                <div th:replace="fragments/basis :: basis"></div>
                            </div>
                            <div id="include" class="tab-pane fade">
                                <div th:replace="fragments/include :: include"></div>
                            </div>
                            <div id="exclude" class="tab-pane fade">
                                <div th:replace="fragments/exclude :: exclude"></div>
                            </div>
                            <div id="owners" class="tab-pane fade">
                                <div th:replace="fragments/owners :: owners"></div>
                            </div>
                            <div id="sync-destinations" class="tab-pane fade">
                                <div th:replace="fragments/sync-destinations :: sync-destinations"></div>
                            </div>
                            <div id="preferences" class="tab-pane fade">
                                <div th:replace="fragments/preferences :: preferences"></div>
                            </div>
                            <div id="actions" class="tab-pane fade">
                                <div th:replace="fragments/actions :: actions"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</th:block>
