<th:block th:fragment="side-nav">
    <div class="col-md-1 col-sm-1 col-xs-2">
        <ul class="nav nav-pills nav-stacked" style="width: 3.125em; margin-top: 2.5em;" id="group-pills">
            <li class="active" data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.members}">
                <a data-toggle="tab" href="#all" class="text-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.basis}">
                <a data-toggle="tab" href="#basis" class="text-center">
                    <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.include}">
                <a data-toggle="tab" href="#include" class="text-center">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.exclude}">
                <a data-toggle="tab" href="#exclude" class="text-center">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.owners}">
                <a data-toggle="tab" href="#owners" class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right"
                th:title="#{screen.message.common.tooltip.nav.preferences}">
                <a data-toggle="tab" href="#preferences" class="text-center">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</th:block>
