{{=${ }=}}
<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="${id}">
    <head>
        <meta charset="utf-8" />
        <meta equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="${description}" />
        <meta name="author" content="${author}">
        <title>${title}</title>

        ${#dev}
        <base href="/">
        ${/dev}
        ${^dev}
        <base href="/">
        ${/dev}

        <!--Favicon-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!--CSS Dependencies-->
        ${#dev}
        <link href="css/app.css" rel="stylesheet" type="text/css" media="screen">
        ${/dev}
        ${^dev}
        <link href="css/app.min.css" rel="stylesheet" type="text/css" media="screen">
        ${/dev}
    </head>
    <body class="${id} invisible" ng-cloak stack-reveal="invisible" ng-controller="AuthenticationController as authCtrl">
        <div ng-controller="AppController as appCtrl">
            <!--Page Header-->
            <uhg-header
                brand-link="login"
                logo-path="images/theme/{{appCtrl.theme}}/header-logo.png"
                authenticated="authCtrl.authenticated"
                authenticated-route="about"
                unauthenticated-route="about">
            </uhg-header>

            <!--Page-->
            <div class="container uhg-container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <aside>
                            <uhg-list-navigation
                                authenticated="authCtrl.authenticated"
                                user="authCtrl.user"
                                items="appCtrl.navigation">
                            </uhg-list-navigation>
                        </aside>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <main ui-view class="uhg-main" role="main"></main>
                    </div>
                </div>
            </div>

            <!--Page Footer-->
            <uhg-footer
                logo-path="images/theme/{{appCtrl.theme}}/footer-logo.png">
            </uhg-footer>

            <!--Page Loader-->
            <stack-page-loader trigger="appCtrl.pageLoading" opaque="appCtrl.pageLoadingOpaque"></stack-page-loader>
        </div>

        <!--JS Dependencies-->
        ${#dev}
        <script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular-animate.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular-aria.js"></script>
        <script type="text/javascript" src="js/lib/angular-cache/angular-cache.js"></script>
        <script type="text/javascript" src="js/lib/angular-ui/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="js/lib/ui-router/ui-router.js"></script>
        <script type="text/javascript" src="js/lib/outside-events/outside-events.js"></script>
        <script type="text/javascript" src="js/lib/underscore/underscore.js"></script>

        <!--App-->
        <script type="text/javascript" src="js/src/app/app.js"></script>

        <!--App-->
        <script type="text/javascript" src="js/src/app/app.js"></script>
        <script type="text/javascript" src="js/src/app/AppController.js"></script>
        <script type="text/javascript" src="js/src/app/AppService.js"></script>

        <!--Templates-->
        <script type="text/javascript" src="js/src/templates.js"></script>

        <!--Plugins-->
        <script type="text/javascript" src="js/src/app/plugins.js"></script>

        <!--Routes-->
        <script type="text/javascript" src="js/src/app/routes/routes.js"></script>

        <!--About-->
        <script type="text/javascript" src="js/src/app/routes/about/about.js"></script>
        <script type="text/javascript" src="js/src/app/routes/about/AboutController.js"></script>

        <!--Designate-->
        <script type="text/javascript" src="js/src/app/routes/designate/designate.js"></script>
        <script type="text/javascript" src="js/src/app/routes/designate/DesignateController.js"></script>

        <!--Groupings-->
        <script type="text/javascript" src="js/src/app/routes/grouping/grouping.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping/GroupingController.js"></script>

        <!--Groupings Search-->
        <script type="text/javascript" src="js/src/app/routes/grouping-search/groupingSearch.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/GroupingSearchController.js"></script>

        <!--Grouping Search -> Grouping Editor-->
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/GroupingEditorDirective.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/GroupingEditorController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/membership/MembershipContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/membership/default/DefaultGroupContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/membership/basis/BasisGroupContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/membership/include/IncludeGroupContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/membership/exclude/ExcludeGroupContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/ownership/OwnershipContentController.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-search/grouping-editor/preferences/PreferencesContentController.js"></script>

        <!--Membership-->
        <script type="text/javascript" src="js/src/app/routes/membership/membership.js"></script>
        <script type="text/javascript" src="js/src/app/routes/membership/MembershipController.js"></script>

        <!--Grouping Opt-in -->
        <script type="text/javascript" src="js/src/app/routes/grouping-opt-in/groupingOptIn.js"></script>
        <script type="text/javascript" src="js/src/app/routes/grouping-opt-in/GroupingOptInController.js"></script>

        <!--Components-->
        <script type="text/javascript" src="js/src/app/components/components.js"></script>

        <!--Header-->
        <script type="text/javascript" src="js/src/app/components/header/header.js"></script>
        <script type="text/javascript" src="js/src/app/components/header/HeaderController.js"></script>
        <script type="text/javascript" src="js/src/app/components/header/HeaderDirective.js"></script>

        <!--List Navigation-->
        <script type="text/javascript" src="js/src/app/components/list-navigation/listNavigation.js"></script>
        <script type="text/javascript" src="js/src/app/components/list-navigation/ListNavigationController.js"></script>
        <script type="text/javascript" src="js/src/app/components/list-navigation/ListNavigationDirective.js"></script>
        <script type="text/javascript" src="js/src/app/components/list-navigation/ListNavigationService.js"></script>

        <!--Footer-->
        <script type="text/javascript" src="js/src/app/components/footer/footer.js"></script>
        <script type="text/javascript" src="js/src/app/components/footer/FooterController.js"></script>
        <script type="text/javascript" src="js/src/app/components/footer/FooterDirective.js"></script>

        <!--Grouping Search-->
        <script type="text/javascript" src="js/src/app/components/grouping-search/groupingSearch.js"></script>
        <script type="text/javascript" src="js/src/app/components/grouping-search/GroupingSearchController.js"></script>
        <script type="text/javascript" src="js/src/app/components/grouping-search/GroupingSearchDirective.js"></script>

        <!--Grouping Service-->
        <script type="text/javascript" src="js/src/app/components/groupings-services/GroupingsProxyService.js"></script>
        <script type="text/javascript" src="js/src/app/components/groupings-services/GroupingsService.js"></script>

        <!--Org Users Service-->
        <script type="text/javascript" src="js/src/app/components/org-users-service/OrgUsersProxyService.js"></script>
        <script type="text/javascript" src="js/src/app/components/org-users-service/OrgUsersService.js"></script>

        <!--Stack-->
        <script type="text/javascript" src="js/src/stack/stack.js"></script>

        <!--Develop-->
        <script type="text/javascript" src="js/src/stack/develop/develop.js"></script>
        <script type="text/javascript" src="js/src/stack/develop/DevelopConfigProvider.js"></script>
        <script type="text/javascript">
            angular.module("app.develop", []).config(['DevelopConfigProvider', function (DevelopConfigProvider) {
                DevelopConfigProvider.setDevelop(${dev});
            }]);
        </script>

        <!--i18n-->
        <script type="text/javascript" src="js/src/stack/i18n/i18n.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/LocalizeDirective.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/LocalizeFilter.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/TranslationConfigProvider.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/TranslationModel.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/TranslationResolver.js"></script>
        <script type="text/javascript" src="js/src/stack/i18n/TranslationService.js"></script>

        <!--Page Loader-->
        <script type="text/javascript" src="js/src/stack/page-loader/page-loader.js"></script>
        <script type="text/javascript" src="js/src/stack/page-loader/PageLoaderDirective.js"></script>

        <!--Reveal-->
        <script type="text/javascript" src="js/src/stack/reveal/reveal.js"></script>
        <script type="text/javascript" src="js/src/stack/reveal/RevealDirective.js"></script>

        <!--Location-->
        <script type="text/javascript" src="js/src/stack/location/location.js"></script>
        <script type="text/javascript" src="js/src/stack/location/LocationService.js"></script>

        <!--Authentication-->
        <script type="text/javascript" src="js/src/stack/authentication/authentication.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/AuthenticationConfigProvider.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/AuthenticationModel.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/AuthenticationService.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/AuthenticationController.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/ProtectResolver.js"></script>
        <script type="text/javascript" src="js/src/stack/authentication/PublicResolver.js"></script>
        ${/dev}
        ${^dev}
        <script type="text/javascript" src="js/lib.min.js"></script>
        <script type="text/javascript" src="js/app.min.js"></script>
        <script type="text/javascript" src="js/stack.min.js"></script>
        <script type="text/javascript">
            angular.module("app.develop", []).config(['DevelopConfigProvider', function (DevelopConfigProvider) {
                DevelopConfigProvider.setDevelop(${dev});
            }]);
        </script>
        ${/dev}
    </body>
</html>