<div class="uhg-basis-group-content" ng-controller="BasisGroupContentController as basisGroupContentController">
    <div class="alert alert-warning">
        {{ 'BASIS_GROUP_TAB_DESCRIPTION' | localize }}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover striped-rows uhg-table-groups">
            <thead>
                <tr>
                    <th>
                        <a ng-href="#" ng-click="basisGroupContentController.changeSort('firstName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                            <span>{{ 'BASIS_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': basisGroupContentController.sortField === '+firstName', 'fa-caret-down': basisGroupContentController.sortField === '-firstName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="basisGroupContentController.changeSort('lastName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                            <span>{{ 'BASIS_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': basisGroupContentController.sortField === '+lastName', 'fa-caret-down': basisGroupContentController.sortField === '-lastName'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                    <th>
                        <a ng-href="#" ng-click="basisGroupContentController.changeSort('email')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                            <span>{{ 'BASIS_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                        </a>
                        <i class="fa" role="presentation" ng-class="{'fa-caret-up': basisGroupContentController.sortField === '+email', 'fa-caret-down': basisGroupContentController.sortField === '-email'}">
                            <span class="sr-only">{{ 'ICON_SORT_BY_A11Y' | localize }}</span>
                        </i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="basisGroupContentController.grouping.basisMembers.length > 0" ng-repeat="user in basisGroupContentController.grouping.basisMembers | orderBy:basisGroupContentController.sortField">
                    <td><span>{{ user.firstName }}</span></td>
                    <td><span>{{ user.lastName }}</span></td>
                    <td><span>{{ user.email }}</span></td>
                </tr>
                <tr ng-if="basisGroupContentController.grouping.basisMembers.length == 0" class="zero-state">
                    <td colspan="4"><span>{{ 'BASIS_GROUP_TAB_TABLE_ZERO_STATE' | localize }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>