h1 {
    color: #BD9319;
}

h2, h3, h4, h5, h6 {
    color: #9B7506;
}

.navbar-brand.uh-nav-app-name {
    color: #BD9319;
}

.navbar-brand.uh-nav-app-name:hover {
    color: #B08A17;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
}

.uh-branding-one {
    color: #777;
}

.uh-branding-two {
    color: #777;
}

.dropshadow {
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.fa.fa-trash-o {
    color: #d21515;
}

.btn.btn-primary {
    /*    background-color: #2C658D;
        border-color: #477A9E;*/
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn.btn-primary:hover {
    /*background-color:*/
    /*border-color:*/
}

.jumbotron {
    /*background-color:*/

    background: #f5f5f5;
    border-color: #b5bcc7;
}

.bg-dashboard {
    /*background-color:*/
}

/*.card.page-header */
.card-header {
    background-color: #e5eef1;
}

.page-item.active > .page-link {
    /*background-color:*/
    /*border-color:*/
}

#group-pills > .nav-item > .nav-link.active {
    /*background-color:*/
}

body {
    background: url("../images/background.png") repeat 0px 0px #f0f0f0;
}

.card-body {
    background: #f5f5f5;
    border-color: #b5bcc7;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
}

.jumbotron .h1, .jumbotron h1 {
    color: inherit;
}

.btn {
    border: 1px solid transparent;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background: #6fa9be;
    border-color: #5a9cb4;
    color: white;
}

.btn-default {
    background: #6fa9be;
}

.btn-default {
    background: #6fa9be;
    border-color: #5a9cb4;
    color: white;
}

#name {
    color: #5a9cb4;
}

h1, h2, .text-left, span {
    color: #1c6070;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.border {
    background: white;
}

.table {
    background: white;
}

.card-header {
    border: 1px solid #dee2e6;
    background: #e5eef1;
}

h3{
    color: #1c6070;
}