@import "variables.css";

h1 {
    color: #9B7506;
}

h2, h3, h4, h5, h6 {
    color: #9B7506;
}
/* COLOR PALETTE */
/* colors as background */

.seafoam-bg {
    background-color: var(--seafoam);
    /*background-color: #f0f8f6;*/
    color: #222;
}

.cancel {
    color: #d21515;
}

.save {
    color: #007bff;
}

.deep-blue-bg {
    background-color: var(--deep-blue);
    color: #fff;
}

.green-blue-bg {
    background-color: var(--green-blue);
}

.dark-teal-bg {
    background-color: var(--dark-teal);
    color: #fff;
}

.teal-bg {
    background-color: var(--teal);
}

.blue-bg {
    background-color: var(--blue);
}

.light-teal-bg {
    background-color: var(--light-teal);
}

.teal-tint-bg {
    background-color: var(--teal-tint);
}

.black-bg {
    background-color: var(--uh-black);
    color: white;
}

.black-bg a,
.dark-teal-bg a {
    color: #fefefe;
    text-decoration: underline;
}

.black-bg a:hover,
.black-bg a:focus,
.black-bg a:active,
.dark-teal-bg a:hover,
.dark-teal-bg a:focus,
.dark-teal-bg a:active {
    color: LightGray;
}

btn.dark-teal-bg {
    color: #ffffff;
    background-color: #6fa9be;
    background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7db1c4), to(#5a9cb4));
    background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7db1c4', endColorstr='#ff5a9cb4', GradientType=0);
    border-color: #5a9cb4 #5a9cb4 #3c7285;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #5a9cb4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0px 1px 1px #444;
}

.btn.dark-teal-bg:hover,
.btn.dark-teal-bg:focus,
.btn.dark-teal-bg:active {
    color: #efefef;
    background: var(--green-blue);
}

/* bootstrap overrides */
.text-primary {
    color: var(--dark-teal) !important;
}

.text-muted {
    color: var(--teal) !important;
}

.text-info {
    color: var(--blue) !important;
}

.btn.btn-primary,
.btn.btn-lg {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6fa9be;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7db1c4), to(#5a9cb4));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7db1c4', endColorstr='#ff5a9cb4', GradientType=0);
    border-color: #5a9cb4 #5a9cb4 #3c7285;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #5a9cb4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0px 1px 1px #444;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-lg:hover,
.btn.btn-lg:focus,
.btn.btn-lg:active {
    background: #004e59 right center;
}

.btn.btn-remove {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: crimson;
    background: -moz-linear-gradient(top,  #c4907d 100%, #b4725a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4907d), color-stop(100%,#b4725a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c4907d 0%,#b4725a 100%); /* IE10+ */
}

.btn.btn-remove:hover,
.btn.btn-remove:focus,
.btn.btn-primary:active {
    background: darkred;
}

.btn.btn-sm:hover {
    background: #004e59;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    background-color: #004e59;
    border-color: #004e59;
}

.btn.btn-bottom {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6fa9be;
    background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7db1c4), to(#5a9cb4));
    background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7db1c4', endColorstr='#ff5a9cb4', GradientType=0);
    border-color: #5a9cb4 #5a9cb4 #3c7285;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #5a9cb4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0px 1px 1px #444;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: white;
    color: var(--dark-teal);
}

.nav-pills .nav-link.active {
    position: relative;
    background-color: #fff;
}

.nav-pills .nav-link.active:after {
    content: "";
    border-color: var(--teal);
    border-style: solid;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

@media screen and (max-width: 767.9px) {
    .nav-pills .nav-link.active:after {
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        bottom: -16px;
        left: 33%;
    }
}
@media screen and (max-width: 767.9px) {
    .nav-pills .nav-link.active:after {
        border-color: transparent transparent #fff transparent;
    }
}

@media screen and (min-width: 768px) {
    .nav-pills .nav-link.active:after {
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
        top: 25%;
        right: -35px;
    }
}

@media (max-width: 575.98px) {
    .nav.nav-tabs.flex-column > .nav-item > .nav-link {
        border: none;
        background-color: #e3f2ef;
        padding: 0px 0px 2px 0px;
    }
}

@media (min-width: 992px) {

    .navbar {
        background-color: white;
    }

    .navbar .nav {
        padding: 2.5rem 1.25rem 0 0;
        background-color: white;
    }

    .navbar .navbar-brand {
        padding: 0;
    }

    .navbar .navbar-brand > img {
        background-color: transparent;
    }
}

.navbar-brand > img {
    background-color: transparent;
}

.nav-pills .nav-link {
    color: var(--dark-teal);
    height: 44px;
}

body h1 {
    color: var(--uh-black);
    font-weight: 700;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
}

.uh-branding-one {
    color: #777;
}

.btn-link {
    color: var(--deep-blue);
}

.uh-branding-two {
    color: #777;
}

.dropshadow {
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.far.fa-trash-alt {
    color: #d21515;
}

/*Not used in HTML code*/
.page-item.active > .page-link {
    background-color: var(--teal-tint);
    border-color: var(--teal-tint);
}

.btn-default {
    color: #ffffff;
    /* text - shadow and filter: are both overwritten what do we want to do with them*/
    background-color: #6fa9be;
    background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7db1c4), to(#5a9cb4));
    background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
    background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7db1c4', endColorstr='#ff5a9cb4', GradientType=0);
    border-color: #5a9cb4 #5a9cb4 #3c7285;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #5a9cb4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0px 1px 1px #444;
}

.btn:hover #name,
.btn:focus #name,
.btn:active #name {
    color: #e3f2ef;
}

h1, h2, h5,.text-left, span {
    color: #1c6070;
}

/* For html span code */
.new-color {
    color: black
}
/* For html span code */
.new-color-bold {
    color: #1c6070;
}

.btn-light:hover {
    color: #ffffff;
    background-color: #5a9cb4;
    *background-color: #4c90a8;
}

.border {
    background: white;
}

.table {
    background: white;
}

h3{
    color: #1c6070;
}

.loading-text{
    margin-left: 4.357em;
    color: #296191;
    float: left;
}

.done-text{
    color: #296191;
    text-align: right;
}

.link{
    color: #0050AD;
}

.modal-danger, .modal-danger .modal-title {
    color: #721c24;
}

.modal-danger .modal-header {
    background-color: #f8d7da;
    border-bottom-color: #f8d7da;
}

.modal-danger .modal-body {
    background-color: #ffeaece6;
}

.modal-danger .modal-footer {
    border-top-color: #ffeaece6;
}

.navbar {
    background-color: white;
}

.navbar .navbar-logout {
    color: #212529;
}

.navbar .navbar-logout:hover {
    color: rgba(0, 0, 0, .7);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:active {
    color: var(--teal);
}

.required-asterisk {
    color: red;
}

.fa.fa-fw.fa-pencil-square-o {
    color: #007bff;
}

.selected {
    background-color: #004e59;
    color: white;
}

.animate-if {
    color: black;
}

.description-form-button {
    background-color: white;
    color: #004252;
    border: white;
}

.description-input {
    border: white;
}

/*Not used in HTML Code*/
.small-loader {
    border-color: white;
    border-top-color: black;
}

.loader{
    border-color: white;
    border-top-color: black;
}

/*Not used in HTML Code*/
.selected-grouping-card > .card-header {
    border-left-color: rgba(0, 0, 0, .125);
    border-right-color: rgba(0, 0, 0, .125);
}

/*Not used in HTML Code*/
.blue-bold {
    color: #212529;
}

.navbar .navbar-nav .nav-link {
    color: var(--uh-dark-gray);
}

.new-color-bold { 
    color: #1c6070; 
    font-weight: bold;
}

.font-weight-normal { 
    font-weight: normal;
}