/* comment */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/SourceSansPro-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/SourceSansPro-BoldItalic.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  src: url("../fonts/SourceSansPro-Black.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/SourceSansPro-BlackItalic.ttf");
}
