/* DO NOT TOUCH THIS CSS FILE */
.text-primary {
  color: #004252 !important;
}

.text-muted {
  color: #0d7078 !important;
}

.text-info {
  color: #00a6b2 !important;
}

.fade:not(.show) {
  opacity: 1;
}

form.seamless button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-basis: 40px;
}

.btn:hover #name, .btn:focus #name, .btn:active #name {
  color: #e3f2ef;
}
.btn.dark-teal-bg:hover, .btn.dark-teal-bg:focus, .btn.dark-teal-bg:active {
  color: #efefef;
  background: #004e59;
}
.btn.btn-remove {
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b05b54;
  background-image: -moz-linear-gradient(top, #b05b54, #af534b);
  background-image: -webkit-linear-gradient(top, #b05b54, #af534b);
  background-image: -o-linear-gradient(top, #b05b54, #af534b);
  background-image: linear-gradient(to bottom, #b05b54, #af534b);
  background-repeat: repeat-x;
  background-color: #b05b54;
}
.btn.btn-remove:hover, .btn.btn-remove:focus, .btn.btn-remove:active {
  background: darkred;
}
.btn.btn-primary, .btn.btn-lg {
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px #444;
  background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
  background-repeat: repeat-x;
  background-color: #6fa9be;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-lg:hover, .btn.btn-lg:focus, .btn.btn-lg:active {
  background: #004e59 right center;
}
.btn.btn-bottom {
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px #444;
  background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
  background-repeat: repeat-x;
  background-color: #6fa9be;
}
.btn-bottom {
  position: absolute;
  bottom: 0;
  margin: -39px auto;
}
.btn-default {
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px #444;
  background-image: -moz-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -webkit-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: -o-linear-gradient(top, #7db1c4, #5a9cb4);
  background-image: linear-gradient(to bottom, #7db1c4, #5a9cb4);
  background-repeat: repeat-x;
  background-color: #6fa9be;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  background-color: #004e59;
  border-color: #004e59;
}
.btn-sm {
  padding: 0px 5px;
}
.btn-sm:hover {
  background: #004e59;
}
.btn-sm.btn-clipboard {
  padding: 1px 5px 2px;
}
.btn-light:hover {
  color: white;
  background-color: #4c90a8;
}

.description-form-button {
  color: #004252;
  border: none;
  background-color: white;
  padding: 0 5px;
  margin: 0 -1px;
  height: 2.356rem;
  width: auto;
}

.description-input {
  border: white;
}

.far.fa-trash-alt {
  margin-right: .75rem;
  color: #d21515;
}

.far.fa-fw.fa-edit {
  color: #004252;
}
.far.fa-fw.fa-edit.white-style {
  border: none;
  color: white;
}

.dark-teal-bg a,
.black-bg a {
  color: white;
  text-decoration: underline;
}
.dark-teal-bg a:active, .dark-teal-bg a:focus, .dark-teal-bg a:hover,
.black-bg a:active,
.black-bg a:focus,
.black-bg a:hover {
  color: lightgrey;
}

.btn.dark-teal-bg:active, .btn.dark-teal-bg:focus, .btn.dark-teal-bg:hover {
  color: #efefef;
  background: #004e59;
}

.deep-blue-bg {
  background-color: #424895;
  color: white;
}

.black-bg {
  background-color: #212121;
  color: white;
}

.seafoam-bg {
  background-color: #e3f2ef;
  color: #212121;
}

.green-blue-bg {
  background-color: #004e59;
}

.dark-teal-bg {
  background-color: #004252;
}

.teal-bg {
  background-color: #0d7078;
}

.blue-bg {
  background-color: #00a6b2;
}

.light-teal-bg {
  background-color: #52c4b5;
}

.teal-tint-bg {
  background-color: #c7e7e0;
}

h1, h2, h3, h5, .text-left, span {
  color: #1c6070;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  padding: 0px;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

.modal-black-text {
  color: black;
}

.tab-color {
  color: #212121;
}
.tab-color:hover,
.tab-color :focus,
.tab-color :active {
  color: #212121;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.hover-text {
  font-size: 0px;
}

.no-memberships-text {
  text-align: center;
}

.link {
  color: #007bff;
}

/* comment */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/SourceSansPro-Italic.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/SourceSansPro-SemiBoldItalic.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/SourceSansPro-BoldItalic.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  src: url("../fonts/SourceSansPro-Black.ttf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/SourceSansPro-BlackItalic.ttf");
}
.navbar {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-nav .nav-link {
  color: #454545;
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:active {
  color: #0d7078;
}
.navbar .navbar-nav .nav-item {
  padding-left: .3125rem;
  padding-right: .3125rem;
}
@media (min-width: 992px) {
  .navbar .nav {
    padding: 2.5rem 1.25rem 0 0;
    background-color: white;
  }
  .navbar .navbar-brand {
    padding: 0;
  }
  .navbar .navbar-brand > img {
    background-color: transparent;
  }
}

.fixed-top .navbar-brand {
  padding: 0;
}

.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-item {
  margin-top: 1rem;
}

.nav-link {
  white-space: nowrap;
}

.nav.nav-tabs {
  border-bottom: none;
}

.tooltip {
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .tooltip .tooltip {
    display: none;
  }
}

#group-pills > .nav-item {
  width: 2.75rem;
  height: 2.75rem;
}
#group-pills > .nav-item > .nav-link {
  padding-left: .75rem;
}

.nav-item.mx-auto .nav-link.rounded-circle .side-nav {
  align-items: center;
}
@media (max-width: 575.98px) {
  .nav-item.mx-auto .nav-link.rounded-circle .side-nav {
    border: none;
    background-color: #e3f2ef;
    padding: 0 0 2px 0;
  }
}

.nav-pills .show > .nav-link {
  background: white;
  color: #004252;
}

.nav-pills .nav-link {
  color: #004252;
  height: 44px;
}
.nav-pills .nav-link.active {
  position: relative;
  background-color: white;
  background: white;
  color: #004252;
}
@media (min-width: 768px) {
  .nav-pills .nav-link.active:after {
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 25%;
  }
}

th {
  font-size: .8rem;
  letter-spacing: .5px;
  text-transform: uppercase;
}

table {
  width: 80%;
  margin-bottom: 30px;
}
table .p-10 {
  white-space: nowrap;
  padding: 5px 20px !important;
}
table .p-11 {
  white-space: nowrap;
  padding: 5px 25px !important;
}
table .p-12 {
  white-space: nowrap;
  padding: 5px 30px !important;
}
table .w-20 {
  width: 20%;
  padding: 8px;
}

.sort-icon::after {
  content: '\f107';
}
.sort-icon.reverse::after {
  content: '\f106';
}

form.seamless {
  display: flex;
  min-width: 12rem;
}
form.seamless input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 1;
  width: calc(100% - 50px);
}

.modal-tables {
  margin-bottom: 30px;
}

.import-table-tbody {
  display: block;
  height: 175px;
  overflow-y: auto;
}
.import-table-thead-tbody-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}
.clickable.center-checkbox {
  vertical-align: top;
  margin-left: 5px;
}

#blankCheckbox {
  margin-left: 1rem;
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

.pagination {
  float: right;
}
.pagination .page-item.disabled {
  cursor: not-allowed;
}

.page-item.active > .page-link {
  background-color: #c7e7e0;
  border-color: #c7e7e0;
}

.page-link {
  color: #1c6070;
}

.modal-open .modal {
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal.in .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-attributes {
  text-transform: initial;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-names {
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-dialog {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.modal-dialog::before {
  display: block;
  height: calc(100vh - (0.5rem * 10));
  content: "";
}
@media (min-width: 576px) {
  .modal-dialog .modal-dialog {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-dialog .modal-dialog::before {
    height: calc(100vh - (1.75rem * 2));
  }
}

.modal-danger {
  color: #721c24;
}
.modal-danger .modal-title {
  color: #721c24;
}
.modal-danger .modal-header {
  color: #f8d7da;
  background-color: #f8d7da;
}
.modal-danger .modal-body {
  background-color: #ffe6e8;
}
.modal-danger .modal-footer {
  border-top-color: #ffe6e8;
}

.form-alert {
  height: 45px;
  padding: 0 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  line-height: 30px;
}

.description-alert {
  width: 592px;
  margin-top: 2px;
  height: 35px;
  line-height: 30px;
  padding: 0 15px;
}

.manage-admins td:first-child {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.check-space {
  margin-right: 10px;
}

label input {
  margin-left: 10px;
}

.check-remove {
  margin-left: auto;
}

.hide-content {
  display: none;
}

#footer-top {
  margin-top: 3rem;
}

.black-bg a:hover, .black-bg a:focus, .black-bg a:active, .dark-teal-bg a:hover, .dark-teal-bg a:focus, .dark-teal-bg a:active {
  color: lightgrey;
}

@media (max-width: 575.98px) {
  .img-fluid {
    width: 210px;
  }
}
.required-asterisk {
  color: red;
}

.alert {
  padding-top: 7px;
}

.manage-groupings td span.path {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 40px);
}
.manage-groupings td:last-child {
  max-width: 220px;
}
.manage-groupings td:first-child i {
  flex-basis: 20px;
  margin-right: 8px;
}
.manage-groupings td:first-child span {
  flex: 1;
}
.manage-groupings tr td {
  padding: 0px;
}

.form-control-sm {
  height: 25px !important;
}

#selectall {
  margin-left: 0;
}

.description-input {
  float: left;
}

#groupingsContainer {
  display: none;
}

.card {
  overflow: hidden;
  margin-top: 1rem;
}
.card.card-tab-content .card-header {
  border-top-left-radius: 0px;
  margin-top: 0px;
}
@media (max-width: 767.98px) {
  .card-title {
    text-align: center;
  }
  .card-title-text {
    text-align: center;
  }
}

.input-group {
  width: 35em;
}

.basis-column {
  width: 3%;
}

.add-margin {
  margin-left: 2px;
}

.inline-block {
  display: inline-block;
}

/**
 * Styling for selected grouping header.
 * Styles the grouping name and 'Return to Groupings'
 * button, so on mobile, the button sits on top of the
 * grouping name, eliminating whitespace.
 */
@media (max-width: 767.98px) {
  #selectedGroupHeader {
    display: table;
    /* The row is now a table */
    margin: auto;
    /* Centering */
    width: 100%;
    padding: 0px;
  }

  #groupNameCol {
    display: table-footer-group;
    /* Makes the grouping name the footer of table */
  }

  #returnToGroup {
    display: table-header-group;
    /* Makes the button the header of table */
  }
}
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
  padding-top: 3.5rem;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  display: flex;
  /* Creates flexboxes. */
  flex-direction: column;
  /* Makes the body display vertical. */
  min-height: 100vh;
}
body h1 {
  color: #212121;
  font-weight: 700;
}

main, .container {
  flex: 1;
}

.user-icon {
  height: 100px;
  position: relative;
  width: 100px;
}
.user-icon .user-role {
  bottom: 0;
  position: absolute;
  right: -.25rem;
}

.dashboard-item-icon .fa-wrench {
  transform: rotate(-90deg);
}

td.uh-pre {
  -webkit-white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  -hp-white-space: pre-wrap;
  white-space: pre-wrap;
  white-space: pre;
  white-space: pre-line;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
}

.loader {
  border: 16px solid white;
  border-top: 16px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -5.357em;
  margin-top: -5.357em;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=mainv2_3.css.map */
