@font-face {
    font-family: cinzel-regular;
    src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: cormorant-upright-regular;
    src: url(../fonts/CormorantUpright-Regular.ttf);
}

@font-face {
    font-family: alegreyasans-regular;
    src: url(../fonts/AlegreyaSans-Regular.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.6875rem; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-bottom: 3.125rem;
    background-color: white;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

.loader {
    border: 16px solid white; /* Black */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -5.357em;
    margin-top: -5.357em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5);*/
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

td.uh-pre {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

.uh-branding-one {
    font-family: cinzel-regular, serif;
    font-size: 1.6em;
    font-style: normal;
    letter-spacing: 2.2px;
    color: #777;
}

.uh-branding-two {
    font-family: cormorant-upright-regular, cursive;
    font-size: 0.8em;
    font-style: normal;
    color: #777;
}

.navbar {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.fixed-top .navbar-nav {
    padding: 2.5rem 0 0 0;
    font-size: .9375rem;
}

.fixed-top .navbar-brand {
    padding: 0;
    min-height: 3.125rem;
    min-width: 3.125rem;
}

.navbar .navbar-brand > img {
    height: 3.125rem;
    width: 3.125rem;
    background-color: transparent;
}

.fixed-top .navbar-nav .nav-item {
    padding-left: .3125rem;
    padding-right: .3125rem;
}

.navbar-brand .uh-nav-app-name {
    color: inherit;
    height: 3.125rem;
    width: auto;
    padding-top: 0;
    padding-left: .3125rem;
    background-color: transparent;

    font-family: alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 1.5625rem;
}

.navbar-brand .uh-nav-app-name:hover {
    color: #B08A17;
}

.fixed-top .navbar-nav .nav-link {
    color: #212529;
}

.fixed-top .navbar-nav .nav-link:hover {
    color: #0056b3;
}

.fixed-top .navbar-logout {
    padding: .5rem .5625rem;
    font-size: .9375rem;
    color: #212529;
    border: 0;
    text-decoration: none;
}

.fixed-top .navbar-logout:hover {
    color: rgba(0, 0, 0, .7);
}

#uh-groupings-icon {
    max-height: 6rem;
    max-width: 6rem;
    width: auto;
    height: auto;
}

#home-dashboard {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

#home-dashboard .bg-dashboard {
    background-color: #e9ecef;
}

.spacer {
    margin-top: 2.5rem;
}

.required-asterisk {
    color: red;
}

.card.card-with-table {
    padding: 0;
    margin-top: 1rem;
}

.card.card-with-table.card-tab-content {
    margin-top:0rem;
}

.card.card-tab-content, .card.card-tab-content .card-header {
    border-top-left-radius: 0px;
    margin-top: 0rem;
}

.card-with-table {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-with-table table > thead > tr > th {
    border-top: none;
}

.card-with-table table > thead > tr > th:first-child, .card-with-table table > tbody > tr > td:first-child {
    border-left: 0;
}

.card-with-table table > thead > tr > th:last-child, .card-with-table table > tbody > tr > td:last-child {
    border-right: 0;
}

table .w-20 {
    width: 20%;
}

table .w-30 {
    width: 30%;
}

.pagination .page-item.disabled {
    cursor: not-allowed;
}

.nav.nav-tabs {
    border-bottom: none;
}

.footer {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    font-size: 100%;
    text-align: center;
}

#grouping-description {
    padding-top: .5rem;
}

@media (min-width: 992px) {
    body {
        padding-top: 7.1875rem; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        padding-bottom: 3.125rem;
    }

    .navbar {
        background-color: white;
    }

    .fixed-top .nav {
        padding: 2.5rem 1.25rem 0 0;
        background-color: white;
    }

    .fixed-top .navbar-brand {
        padding: 0;
        min-height: 3.125rem;
        min-width: 3.125rem;
    }

    .fixed-top .navbar-brand > img {
        height: 5.625rem;
        width: 5.625rem;
        background-color: transparent;
    }

    .navbar-brand .uh-nav-app-name {
        height: 5.625rem;
        width: auto;
        padding-top: 2.8125rem;
        padding-left: .3125rem;
        background-color: transparent;
        display: inline-flex;

        font-family: alegreyasans-regular, opensans-regular, serif;
        font-weight: normal;
        font-size: 1.5625rem;
    }

    .uh-branding-one {
        font-family: cinzel-regular, serif;
        font-size: 1.6em;
        font-style: normal;
        letter-spacing: 2.2px;
        color: #777;
    }

    .uh-branding-two {
        font-family: cormorant-upright-regular, cursive;
        font-size: 0.8em;
        font-style: normal;
        color: #777;
    }

}

@media (max-width: 991px) {
    .fixed-top .navbar-logout {
        padding-left: 0;
    }

}

.row.group-header {
    margin: 0 auto .5rem;
}

.clickable {
    cursor: pointer;
}

.sort-icon:after {
    content: '\f107';
}

.sort-icon.reverse:after {
    content: '\f106';
}

.modal-danger, .modal-danger .modal-title {
    color: #721c24;
}

.modal-danger .modal-header {
    background-color: #f8d7da;
    border-bottom-color: #f8d7da;
}

.modal-danger .modal-body {
    background-color: #ffeaece6;
}

.modal-danger .modal-footer {
    border-top-color: #ffeaece6;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-dialog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog::before {
    display: block;
    height: calc(100vh - (0.5rem * 2));
    content: "";
}

@media (min-width: 576px) {
    .modal-dialog {
        min-height: calc(100% - (1.75rem * 2));
    }

    .modal-dialog::before {
        height: calc(100vh - (1.75rem * 2));
    }
}

@media (max-width: 575.98px) {
    .nav.nav-tabs.flex-column > .nav-item > .nav-link {
        border: none;
    }
}

#group-pills {
    margin-top: .5rem;
}

#group-pills > .nav-item {
    width: 2.75rem;
    height: 2.75rem;
}

#group-pills > .nav-item > .nav-link {
    padding-left: .75rem;
}

.manage-grouping-body {
    min-height: 25rem;
}

.selected-grouping-card {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.selected-grouping-card > .card-header {
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.selected-grouping-card table > tbody > tr:first-child > th, .selected-grouping-card table > tbody > tr:first-child > td {
    border-top: 0;
}

@media (max-width: 575.98px) {
    .manage-grouping-body.card-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991.98px) {
    .tooltip {
        display: none;
    }
}

.fa.fa-trash-o {
    margin-right: .75rem;
}

.basis-column {
    width: 3%;
}

/*.card.page-header {
    margin-bottom: 1rem;
}*/

.nav-tabs .nav-item{
    margin-top: 1rem;
}

.card{
    margin-top: 1rem;
}

