:root {
    --uh-black: #212121;
    --uh-dark-gray: #454545;
    --seafoam: #e3f2ef;
    --deep-blue: #424895;
    --green-blue: #004e59;
    --dark-teal: #004252;
    --teal: #0d7078;
    --blue: #00a6b2;
    --light-teal: #52c4b5;
    --teal-tint: #c7e7e0;
}