<div class="uhg-default-group-content" ng-controller="DefaultGroupContentController as defaultGroupContentController">
    <label class="text-info">{{ 'DEFAULT_GROUP_TAB_DESCRIPTION' | localize }}</label>
    <div class="table-responsive">
        <table class="table table-bordered table-hover striped-rows">
            <thead>
                <tr>
                    <th>
                        <a href="javascript://" ng-click="defaultGroupContentController.changeSort('firstName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DEFAULT_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                            {{ 'DEFAULT_GROUP_TAB_TABLE_FIRST_NAME' | localize }}
                        </a>
                        <i class="fa" ng-class="{'fa-caret-up': defaultGroupContentController.sortField === '+firstName', 'fa-caret-down': defaultGroupContentController.sortField === '-firstName'}"></i>
                    </th>
                    <th>
                        <a href="javascript://" ng-click="defaultGroupContentController.changeSort('lastName')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DEFAULT_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                            {{ 'DEFAULT_GROUP_TAB_TABLE_LAST_NAME' | localize }}
                        </a>
                        <i class="fa" ng-class="{'fa-caret-up': defaultGroupContentController.sortField === '+lastName', 'fa-caret-down': defaultGroupContentController.sortField === '-lastName'}"></i>
                    </th>
                    <th>
                        <a href="javascript://" ng-click="defaultGroupContentController.changeSort('email')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DEFAULT_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                            {{ 'DEFAULT_GROUP_TAB_TABLE_EMAIL' | localize }}
                        </a>
                        <i class="fa" ng-class="{'fa-caret-up': defaultGroupContentController.sortField === '+email', 'fa-caret-down': defaultGroupContentController.sortField === '-email'}"></i>
                    </th>
                    <th>
                        <a href="javascript://" ng-click="defaultGroupContentController.changeSort('sourceGroup')">
                            <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'DEFAULT_GROUP_TAB_TABLE_SOURCE_GROUP' | localize }}</span>
                            {{ 'DEFAULT_GROUP_TAB_TABLE_SOURCE_GROUP' | localize }}
                        </a>
                        <i class="fa" ng-class="{'fa-caret-up': defaultGroupContentController.sortField === '+sourceGroup', 'fa-caret-down': defaultGroupContentController.sortField === '-sourceGroup'}"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="defaultGroupContentController.grouping.defaultMembers.length > 0" ng-repeat="user in defaultGroupContentController.grouping.defaultMembers | orderBy:defaultGroupContentController.sortField">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.sourceGroup }}</td>
                </tr>
                <tr ng-if="defaultGroupContentController.grouping.defaultMembers.length == 0" class="zero-state">
                    <td colspan="4">{{ 'DEFAULT_GROUP_TAB_TABLE_ZERO_STATE' | localize }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>