<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{header :: copy(headingTitle='UH Groupings Info')}"></head>
<body ng-app="UHGroupingsApp">
<nav th:replace="~{menubar :: copy}"></nav>

<!--  Content container -->
<main>
    <div class="seafoam-bg pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1 text-center d-block">What is a UH Grouping?</h1>
                </div>
                <div class="col-md-12">
                    <p class="lead text-center d-block">A <em>grouping</em> is a collection of members (e.g., all full-time
                        Hilo faculty).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <img alt="cogs" role="img"
                             th:srcset="@{images/cogs.png 1x, images/cogs-2x.png 2x, images/cogs.svg}" th:src="@{images/cogs.png}">
                    </div>
                    <p class="text-center">Create groupings, manage grouping memberships, control members' self-service
                        options, designate sync destinations, and more.</p>
                </div>

                <div class="col-md-4">
                    <div class="text-center">
                        <img alt="id-email" role="img"
                             th:srcset="@{images/id-email.png 1x, images/id-email-2x.png 2x, images/id-email.svg}" th:src="@{images/id-email.png}">
                    </div>
                    <p class="text-center">Synchronize groupings email LISTSERV lists, attributes for access control via
                        CAS and LDAP, etc.</p>
                </div>

                <div class="col-md-4">
                    <div class="text-center">
                        <img alt="watch" role="img"
                             th:srcset="@{images/watch.png 1x, images/watch-2x.png 2x, images/watch.svg}" th:src="@{images/watch.png}">
                    </div>
                    <p class="text-center">Leverage group data from official sources, which can substantially reduce the
                        manual overhead of membership management.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5 pb-5">
        <h2 class="h5 text-uppercase font-weight-bold pb-4 text-center">General Info</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>How do I request a new grouping?</h3>
                <p class="pb-3">
                    <a class="link" th:href="#{groupings.bwiki.url.request_form}" aria-label="Link to Request Form">A request form is available</a>.
                </p>
                <h3>Exactly what is a grouping?</h3>
                <p class="pb-3">
                    <a class="link" th:href="#{groupings.bwiki.url.general_info}" aria-label="Link to Groupings Information">General information about groupings is available</a>.
                    A grouping's components include the Basis, Include, and Exclude lists.</p>
                <h3>What is the Basis?</h3>
                <p>A grouping's Basis is the portion of the grouping membership that is automatically updated. It may be
                    empty.</p>
            </div>
            <div class="col-md-6">
                <h3>What is the Include members list?</h3>
                <p class="pb-3">A grouping's Include is the portion of the grouping membership that is manually updated.
                    It may be empty.</p>
                <h3>What is the Exclude members list?</h3>
                <p class="pb-3">A grouping's Exclude overrides automatic and manual membership by explicitly not
                    including
                    anyone listed here. It may be empty.</p>
            </div>
        </div>
    </div>

    <div class="seafoam-bg pt-5">
        <div class="container pb-5">
            <h2 class="h5 text-uppercase font-weight-bold pb-4 text-center">What Happens If</h2>
            <div class="row">
                <div class="col-md-12">
                    <h3 th:utext="#{screen.message.info.page.question1}"></h3>
                    <p class="pb-3" th:utext="#{screen.message.info.page.answer1}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 th:utext="#{screen.message.info.page.question2}"></h3>
                    <p class="pb-3" th:utext="#{screen.message.info.page.answer2}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 th:utext="#{screen.message.info.page.question3}"></h3>
                    <p class="pb-3" th:utext="#{screen.message.info.page.answer3}"></p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mb-5">
        <h2 class="h5 text-center text-uppercase font-weight-bold pb-4 pt-4">Technical Information</h2>
        <div class="row">
            <div class="col-md-3">
                <h3>Resources</h3>
                <p class="pb-3">Source code is available on <a
                        class="link" th:href="#{groupings.resources.url.github}">GitHub</a>.</p>
            </div>
            <div class="col-md-9">
                <h3>Technologies</h3>

                <div class="row">
                    <div class="col-md-4">
                        <p>Apache Maven
                            <a class="link" th:href="#{groupings.technologies.url.apache_maven}">(Introduction)</a></p>
                        <p>Apache Tomcat
                            <a class="link" th:href="#{groupings.technologies.url.apache_tomcat}">(Welcome)</a></p>
                        <p>Java Spring Framework
                            <a class="link" aria-label="Link to Java Spring Guide"
                               th:href="#{groupings.technologies.url.spring_guide}">(Guide)</a>
                            <a class="link" aria-label="Link to Java Spring API"
                               th:href="#{groupings.technologies.url.spring_api}">(API)</a>
                        </p>
                        <p>Spring Boot
                            <a class="link" aria-label="Link to Spring Boot Guide"
                               th:href="#{groupings.technologies.url.spring_boot_guide}">(Guide)</a>
                        </p>
                    </div>
                    <div class="col-md">
                        <p>Spring Security
                            <a class="link" th:href="#{groupings.technologies.url.spring_security}">(Quickstart)</a></p>
                        <p>Thymeleaf
                            <a class="link" aria-label="Link to Thymeleaf Guide"
                               th:href="#{groupings.technologies.url.thymeleaf}">(Guide)</a>
                        </p>
                        <p>Bootstrap
                          <a class="link" aria-label="Link to Bootstrap Guide" th:href="#{groupings.technologies.url.bootstrap_guide}">(Guide)</a>
                        </p>
                        <p>AngularJS <a class="link" aria-label="Link to Angular Guide" th:href="#{groupings.technologies.url.angularjs_guide}">(Guide)</a></p>
                    </div>
                    <div class="col-md-4">
                        <p>JQuery
                          <a class="link" aria-label="Link to JQuery API" th:href="#{groupings.technologies.url.jquery_api_current_version}">(Current Version)</a>
                          <a class="link" aria-label="Link to JQuery API" th:href="#{groupings.technologies.url.jquery_api}">(API)</a>
                        </p>
                        <p>Jasmine
                          <a class="link" aria-label="Link to Jasmine Guide" th:href="#{groupings.technologies.url.jasmine_guide_current_version}">(Current Version)</a>
                          <a class="link" aria-label="Link to Jasmine Guide" th:href="#{groupings.technologies.url.jasmine_guide}">(Guide)</a>
                        </p>
                        <p>Jenkins <a class="link" aria-label="Link to Jenkins Documentation" th:href="#{groupings.technologies.url.jenkens_doc}">(Documentation)</a></p>
                        <p>Underscore.js <a class="link" aria-label="Link to Underscore Documentation" th:href="#{groupings.technologies.url.underscore_doc}">(Documentation)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- / Content container. -->
<div th:replace="~{footer :: copy}"></div>
</body>
</html>
