<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Admin')"></head>
<body ng-app="UHGroupingsApp" ng-controller="AdminJsController" data-ng-init="init()">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="seafoam-bg pt-4">
    <div class="container">
        <h1 class="text-center text-md-left">UH Groupings Administration</h1>
        <p class="lead text-center text-md-left" th:utext="#{screen.message.admin.page.description}"></p>
        <ul class="nav nav-tabs flex-sm-row flex-column" role="tablist">
            <li role="presentation" class="nav-item">
                <a href="#manage-groupings" data-toggle="tab" class="nav-link active" role="tab">
                    Manage Groupings
                </a>
            <li class="nav-item" role="presentation" ng-click="displayAdmins()">
                <a href="#manage-admins" data-toggle="tab" class="nav-link" role="tab">
                    Manage Admins
                </a>
            </li>
        </ul>
    </div>
</div>

<main>
    <div class="container">
        <div id="overlay" ng-show="loading">
            <div class="loader" ng-show="loading"></div>
        </div>
        <div ng-show="!showGrouping" id="adminContainer" style="display: none">
            <div class="tab-content" role="tablist" ng-init="changeStyleAttribute('adminContainer', 'display', 'unset')">
                <!-- Manage Groupings -->
                <div class="tab-pane fade show active" id="manage-groupings" role="tab">
                    <div class="row m-auto pt-3 pb-3">
                        <div class="col-lg-9 col-md-8 col-12 p-0">
                            <h2 class="card-title mt-md-1 mt-0 mb-1">Manage Groupings</h2>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 p-0">
                            <input class="form-control" placeholder="Filter Groupings..." type="text"
                                   title="Filter Groupings"
                                   ng-model="groupingsQuery"
                                   ng-change="filter(groupingsList, 'pagedItemsGroupings', 'currentPageGroupings', groupingsQuery, true)"/>
                        </div>
                    </div>
                    <div th:replace="fragments/admin-groupings-list :: admin-groupings-list(title='Manage Groupings', tabContent=true)"
                    ></div>
                </div>
                <!-- Manage Admins -->
                <div class="tab-pane fade" id="manage-admins" role="tab">
                    <div class="row m-auto pt-3 pb-3">
                        <div class="col-lg-9 col-md-8 col-12 p-0">
                            <h2 class="card-title mt-md-1 mt-0 mb-1">Designate Admins</h2>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 p-0">
                            <input class="form-control" placeholder="Filter Admins..." type="text"
                                   title="Filter Admins"
                                   ng-model="adminsQuery"
                                   ng-change="filter(adminsList, 'pagedItemsAdmins', 'currentPageAdmins', adminsQuery, true)"/>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table manage-admins table-striped table-hover table-md" aria-live="assertive">
                            <thead>
                            <tr>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'name')" class="clickable">
                                    Admin Name
                                    <i class="fa sort-icon"
                                       ng-show="columnSort.adminsList.property === 'name' || !columnSort.adminsList"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'uhUuid')" class="clickable">
                                    UH Number
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'uhUuid'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'username')"
                                    class="clickable">
                                    UH Username
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'username'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th class="delete" scope="col">
                                </th>
                            </tr>
                            </thead>
                            <tbody class="table table-borderless">
                            <tr ng-repeat="l in pagedItemsAdmins[currentPageAdmins]" class="table table-sm"
                            >
                                <td class="p-10" tabindex="0">
                                    {{l.name}}
                                </td>
                                <td class="p-10" tabindex="0">
                                    {{l.uhUuid}}
                                </td>
                                <td class="p-10" tabindex="0">
                                    {{l.username}}
                                </td>
                                <td>
                                    <i class="fa fa-trash-o pull-right clickable pt-1"
                                       data-toggle="tooltip" data-placement="top"
                                       tabindex="0"
                                       onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                                       th:title="#{screen.message.admin.tooltip.nav.delete.admin}"
                                       ng-click="removeAdmin(currentPageAdmins, $index)"
                                       ng-keypress="$event.keyCode === 13 ? removeAdmin(currentPageAdmins, $index) : null">
                                    </i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <form ng-submit="addAdmin()">
                                <div class="input-group">
                                    <input name="Add Admin" class="form-control" type="text"
                                           title="Enter UH Username"
                                           placeholder="UH Username" ng-model="adminToAdd"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5">
                            <div th:replace="fragments/pagination :: pagination(currentPage='currentPageAdmins', pagedItems='pagedItemsAdmins')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showGrouping">
            <div th:replace="fragments/selected-grouping :: selected-grouping(tabContent=true)"></div>
        </div>
    </div>
</main>
<!-- / Content container. -->
<div th:replace="footer"></div>

</body>
</html>
