<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{header :: copy(headingTitle='UH Groupings Admin')}"></head>
<body ng-app="UHGroupingsApp" ng-controller="AdminJsController" data-ng-init="init()">
<nav th:replace="~{menubar :: copy}"></nav>

<main>
    <div class="seafoam-bg pt-4">
        <div class="container">
            <h1 class="text-center text-md-left">UH Groupings Administration</h1>
            <p class="lead text-center text-md-left" th:utext="#{screen.message.admin.page.description}"></p>
            <ul class="nav nav-tabs flex-sm-row flex-column" role="tablist" id="adminTab" ng-show="showAdminTab">
                <li role="presentation" class="nav-item">
                    <a href="#manage-groupings" id="manage-groupings-tab" data-toggle="tab" class="nav-link active tab-color" role="tab">
                        Manage Groupings
                    </a>
                <li class="nav-item" role="presentation">
                    <a href="#manage-admins" id="manage-admins-tab" data-toggle="tab" class="nav-link tab-color" role="tab">
                        Manage Admins
                    </a>
                <li class="nav-item" role="presentation">
                    <a href="#manage-person" id="manage-person-tab" data-toggle="tab" class="nav-link tab-color" role="tab">
                        Manage Person
                    </a>
                </li>
                <li th:if="${!@realm.isProduction()}" class="nav-item" role="presentation">
                    <a href="#throw-exception" id="throw-exception-tab2" data-toggle="tab" class="nav-link tab-color" role="tab">For Testing Purposes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="overlay" ng-show="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-light spinner-style" ng-show="loading"></div>
            </div>
        </div>
        <div ng-show="!showGrouping" id="adminContainer" class="hide-content">
            <div class="tab-content"
                 ng-init="changeStyleAttribute('adminContainer', 'display', 'unset')">
                <!-- Manage Groupings -->
                <div class="tab-pane fade show active" id="manage-groupings" role="tabpanel">
                    <div class="row m-auto pt-3 pb-3">
                        <div class="col-lg-9 col-md-8 col-12 p-0">
                            <h2 class="card-title mt-md-1 mt-0 mb-1">Manage Groupings</h2>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 p-0 pt-1 d-sm-flex ">
                            <input class="form-control" placeholder="Filter Groupings..." type="search"
                                   title="Filter Groupings" aria-label="Filter Groupings..."
                                   ng-model="groupingsQuery"
                                   ng-change="filter(groupingsList, 'pagedItemsGroupings', 'currentPageGroupings', groupingsQuery, true)"/>
                            <div th:replace="~{fragments/table-settings}"></div>
                        </div>
                    </div>
                    <div th:replace="~{fragments/admin-groupings-list :: admin-groupings-list(title='Manage Groupings', tabContent=true)}"></div>
                </div>
                <!-- Manage Admins -->
                <div class="tab-pane fade" id="manage-admins" role="tabpanel">
                    <div class="row m-auto pt-3 pb-3 d-flex">
                        <div class="col-lg-9 col-md-8 col-12 p-0">
                            <h2 class="card-title mt-md-1 mt-0 mb-1 d-inline-block">Manage Admins</h2>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 p-0 pt-1">
                            <input class="form-control" placeholder="Filter Admins..." type="search"
                                   title="Filter Admins" aria-label="Filter Admins..."
                                   ng-model="adminsQuery"
                                   ng-change="filter(adminsList, 'pagedItemsAdmins', 'currentPageAdmins', adminsQuery, true)"/>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table manage-admins table-striped table-hover table-md" aria-live="assertive">
                            <thead>
                            <tr>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'name')" class="clickable">
                                    Admin Name
                                    <i class="fa sort-icon"
                                       ng-show="columnSort.adminsList.property === 'name' || !columnSort.adminsList"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'uhUuid')" class="clickable">
                                    UH Number
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'uhUuid'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'username')"
                                    class="clickable">
                                    UH Username
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'username'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th class="delete" scope="col">
                                    Remove
                                </th>
                            </tr>
                            </thead>
                            <tbody class="table table-borderless">
                            <tr ng-repeat="l in pagedItemsAdmins[currentPageAdmins]" class="table table-sm">
                                <td class="p-10">
                                    {{l.name}}
                                </td>
                                <td class="p-10">
                                    {{l.uhUuid}}
                                </td>
                                <td class="p-10">
                                    {{l.username}}
                                    <div ng-if="l.username === ''">
                                        <span>N/A</span>
                                        <i class="fa fa-question-circle clickable"
                                           tooltip data-placement="right"
                                           th:title="#{screen.message.common.tooltip.username.notApplicable}">
                                        </i>
                                    </div>
                                </td>
                                <td class="p-10">
                                    <i class="far fa-trash-alt pull-right clickable pt-1" role="button"
                                       tooltip data-placement="top"
                                       tabindex="0"
                                       aria-label="Remove {{l.name}} as admin. There must be at least one admin remaining."
                                       th:title="#{screen.message.admin.tooltip.nav.delete.admin}"
                                       ng-click="removeAdmin(currentPageAdmins, $index)" aria-hidden="false"
                                       ng-keypress="$event.keyCode === 13 ? removeAdmin(currentPageAdmins, $index) : null">
                                    </i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-lg-7">
                            <form class="d-flex" ng-submit="addAdmin()">
                                <div class="w-75 input-group">
                                    <input name="Add Admin" class="form-control" type="search"
                                           ng-init="dismissErrors()"
                                           ng-blur="dismissErrors()"
                                           title="Enter UH Username or UH Number"
                                           aria-label="Enter a UH Username or UH Number to add as admin."
                                           placeholder="UH Username or UH Number" ng-model="adminToAdd"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"
                                                ng-blur="dismissErrors()"
                                                ng-click="resetErrors(); errorDismissed = false">Add
                                        </button>
                                    </div>
                                </div>
                                <div class="spinner-border spinner-border-sm ml-1 align-self-center"
                                     ng-show="waitingForImportResponse"></div>
                            </form>
                            <div th:replace="~{fragments/admin-error-messages :: admin-error-messages}"></div>
                        </div>
                        <div class="col-lg-5">
                            <div th:replace="~{fragments/pagination :: pagination(currentPage='currentPageAdmins', pagedItems='pagedItemsAdmins')}"></div>
                        </div>
                    </div>
                </div>
                <!-- Manage Person -->
                <div class="tab-pane fade" id="manage-person" role="tabpanel">
                    <div class="row m-auto pt-3 pb-3 d-flex">
                        <div class="col-lg-9 col-md-8 col-12 p-0 text-center text-md-left">
                            <h2 class="mt-md-1 mt-0 d-inline-block">Manage Person</h2>
                            <br class="d-md-none"><h3 ng-if="currentManagePerson" class="d-inline-block ml-0 ml-lg-1 mt-n1 mt-lg-0 align-middle">{{currentManagePerson}}</h3>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 p-0">
                            <input class="form-control" placeholder="Filter Groupings..." type="search"
                                   title="Filter Groupings" aria-label="Filter Groupings for this person"
                                   ng-model="personQuery"
                                   ng-change="filter(personList, 'pagedItemsPerson', 'currentPagePerson', personQuery, true)"/>
                        </div>
                        <div class="mr-auto col-lg-3 col-md-4 col-12 p-0">
                            <form ng-submit="searchForUserGroupingInformation(); errorDismissed = false;">
                                <div class="input-group">
                                    <input name="Search Person" class="form-control" type="search" aria-required="true"
                                           title="Enter UH Username" aria-label="Enter UH Username to manage the person"
                                           placeholder="UH Username" ng-model="personToLookup"
                                           ng-init="dismissErrors()"
                                           ng-blur="dismissErrors()"
                                    />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                                ng-click="errorDismissed = false; resetErrors()"
                                                ng-blur="dismissErrors()"
                                                type="submit">Search
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div>
                            <form ng-submit="removeFromGroups()">
                                <div class="input-group">
                                    <div class="input-group-append check-remove">
                                        <label class="my-auto">Check All<input class="check-space" type="checkbox"
                                                                               ng-click="updateCheckBoxes()"
                                                                               ng-model="checkAll"
                                                                               ng-keydown="clickWithEnter($event)"></label>
                                        <button class="btn btn-danger pull-right"
                                                ng-click="errorDismissed2 = false; resetErrors()"
                                                ng-blur="errorDismissed2 = true; resetErrors()"
                                                type="submit">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="w-100"></div>
                        <div th:replace="~{fragments/admin-error-messages :: admin-error-messages}"></div>
                        <!--message for no groupings selected-->
                        <div ng-show="!errorDismissed2 && !loading && emptySelect"
                             class="ml-sm-auto mb-n1 mt-2 alert alert-danger form-alert fade show"
                             role="alert">
                            <p th:text="#{screen.message.modal.search.noChecks}"></p>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table manage-person table-striped table-hover table-md" aria-live="assertive">
                            <thead>
                            <tr>
                                <th ng-click="sortBy('personList', 'pagedItemsPerson', 'name')" class="clickable">
                                    Grouping
                                    <i class="fa sort-icon"
                                        ng-show="columnSort.personList.property === 'name' || !columnSort.groupingsList"
                                        ng-class="{ reverse: columnSort.groupingsList.reverse }"></i>
                                <th>
                                    Owner?
                                </th>
                                <th>
                                    Basis?
                                </th>
                                <th>
                                    Include?
                                </th>
                                <th>
                                    Exclude?
                                </th>
                                <th>
                                    Remove
                                </th>
                            </tr>
                            </thead>
                            <tbody class="table table-borderless">
                            <tr ng-repeat="l in pagedItemsPerson[currentPagePerson]" class="row-height">
                                <td class="p-10">
                                    <i class="fa fa-fw fa-external-link-alt clickable" tooltip="Manage grouping"
                                    ng-click="displayGroupingInNewTab(l.name, l.path)"></i>
                                    {{l.name}}
                                    <i class="fa fa-crown fa-fw fa-pull-right clickable pt-1 text-primary" role="button"
                                       tooltip data-placement="right"
                                       tabindex="0"
                                       aria-label="Display admin."
                                       th:title="#{screen.message.admin.tooltip.nav.display.groupings}"
                                       ng-click="getGroupingOwnersOnClick(l.path)" aria-hidden="false"
                                       ng-keypress="$event.keyCode === 13 ? getGroupingOwnersOnClick(l.path) : null">
                                    </i>
                                </td>
                                <td class="p-11">
                                    <div ng-if="l.inOwner" class="custom-text-danger">
                                        Yes
                                    </div>
                                    <div ng-if="!l.inOwner">
                                        No
                                    </div>
                                </td>
                                <td class="p-11">
                                    <div ng-if="l.inBasis || l.inBasisAndInclude">
                                        Yes
                                    </div>
                                    <div ng-if="!l.inBasis && !l.inBasisAndInclude">
                                        No
                                    </div>
                                </td>
                                <td class="p-12" tabindex="0">
                                    <div ng-if="l.inInclude" class="custom-text-danger ">
                                        Yes
                                    </div>
                                    <div ng-if="!l.inInclude">
                                        No
                                    </div>
                                </td>
                                <td class="p-12">
                                    <div ng-if="l.inExclude" class="custom-text-danger">
                                        Yes
                                    </div>
                                    <div ng-if="!l.inExclude">
                                        No
                                    </div>
                                </td>
                                <td class="p-12" tabindex="0">
                                    <div ng-if="l.inOwner || l.inInclude || l.inExclude">
                                        <label class="form-check-label" aria-label="Remove"><input type="checkbox"
                                               class="form-check-input" ng-model="l.isSelected" ng-change="update(l)"
                                               ng-keydown="clickWithEnter($event)"></label>
                                    </div>
                                    <div ng-if="!l.inOwner && !l.inInclude && !l.inExclude">
                                        <label aria-label="Remove"><input type="checkbox" class="form-check-input"
                                               ng-model="l.isSelected" ng-change="update(l)"
                                               disabled ng-keydown="clickWithEnter($event)"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-7"></div>
                        <div class="col-lg-5">
                            <div th:replace="~{fragments/pagination :: pagination(currentPage='currentPagePerson', pagedItems='pagedItemsPerson')}"></div>
                        </div>
                    </div>
                </div>
                <div th:if="${!@realm.isProduction()}" class="tab-pane fade" id="throw-exception" role="tabpanel">
                    <div class="row m-auto pt-3 pb-3 d-flex">
                        <div class="col-lg-9 col-md-8 col-12 p-0 text-center text-md-left">
                            <h2 class="mt-md-1 mt-0 d-inline-block">For Testing Purposes</h2>
                        </div>
                    </div>
                    <div class="alert alert-warning" th:text="#{screen.message.admin.page.exception.tab.description}"></div><br>
                    <button class="btn btn-primary" role="button" ng-click="throwException()">Throw Exception</button>
                </div>
            </div>
        </div>
        <div ng-show="showGrouping" ng-cloak>
            <div th:replace="~{fragments/selected-grouping :: selected-grouping(tabContent=true)}"></div>
        </div>
    </div>
</main>
<!-- / Content container. -->
<div th:replace="~{footer :: copy}"></div>
</body>
</html>
