<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Admin')"></head>
<body ng-app="UHGroupingsApp">
<nav th:substituteby="menubar :: copy"></nav>
<!--  Content container -->
<div class="container" ng-controller="AdminJsController" data-ng-init="init()">

   <!-- <h1 class="text-left">UH Groupings Administration</h1>

    <p class="text-left" th:text="#{screen.message.admin.page.description}">Page Description </p>-->

    <div th:replace="fragments/page-header :: page-header(title='UH Groupings Administration', description=#{screen.message.admin.page.description})">
    </div>

    <div id="overlay" ng-show="loading">
        <div class="loader" ng-show="loading"></div>
    </div>

    <ul class="nav nav-tabs flex-sm-row flex-column" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#groupings" class="nav-link active" data-toggle="tab" role="tab">
                Manage Groupings
            </a>
        </li>
        <li class="nav-item" role="presentation" ng-click="displayAdmins()">
            <a href="#admins" class="nav-link" data-toggle="tab" role="tab">
                Manage Admins
            </a>
        </li>
    </ul>

    <div ng-show="!showGrouping">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="groupings" role="tabcard">
                <div th:replace="fragments/groupings-list :: groupings-list(title='Manage Groupings', tabContent=true)"></div>
            </div>
            <div class="tab-pane fade" id="admins">
                <div class="card card-with-table card-tab-content">
                    <div class="card-header">
                        <div class="row m-auto">
                            <div class="col-lg-9 col-md-8 col-12 p-0">
                                <h2 class="card-title mt-md-1 mt-0 mb-1">Designate Admins</h2>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12 p-0">
                                <input class="form-control" placeholder="Filter Admins..." type="text"
                                       title="Filter Admins"
                                       ng-model="adminsQuery"
                                       ng-change="filter(adminsList, 'pagedItemsAdminsList', 'currentPageAdmins', adminsQuery)"/>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-sm table-hover" aria-live="assertive">
                            <thead>
                            <tr>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'name')" class="clickable">
                                    Admin Name
                                    <i class="fa sort-icon"
                                       ng-show="columnSort.adminsList.property === 'name' || !columnSort.adminsList"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'uuid')" class="clickable">
                                    UH Number
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'uuid'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                                <th ng-click="sortBy('adminsList', 'pagedItemsAdmins', 'username')"
                                    class="clickable">
                                    UH Username
                                    <i class="fa sort-icon" ng-show="columnSort.adminsList.property === 'username'"
                                       ng-class="{ reverse: columnSort.adminsList.reverse }"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="l in pagedItemsAdmins[currentPageAdmins]">
                                <td tabindex="0">
                                    {{l.name}}
                                    <span class="fa fa-trash-o pull-right clickable pt-1"
                                          data-toggle="tooltip" data-placement="top"
                                          tabindex="0"
                                          onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('dispose')"
                                          th:title="#{screen.message.admin.tooltip.nav.delete.admin}"
                                          ng-click="removeAdmin(currentPageAdmins, $index)"
                                          ng-keypress="$event.keyCode === 13 ? removeAdmin(currentPageAdmins, $index) : null">
                                    </span>
                                </td>
                                <td>{{l.uuid}}</td>
                                <td>{{l.username}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pl-sm-3 pr-sm-3 pl-1 pr-1">
                        <div class="d-lg-flex d-block justify-content-lg-between justify-content-start">
                            <div>
                                <form ng-submit="addAdmin()">
                                    <div class="input-group">
                                        <input name="Add Admin" class="form-control" type="text"
                                               title="Enter UH Username"
                                               placeholder="UH Username" ng-model="adminToAdd"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="mt-lg-0 mt-2">
                                <div th:replace="fragments/pagination :: pagination(currentPage='currentPageAdmins', pagedItems='pagedItemsAdmins')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="showGrouping">
        <div th:replace="fragments/selected-grouping :: selected-grouping(tabContent=true)"></div>

        <div th:replace="fragments/manage-grouping :: manage-grouping"></div>
    </div>
</div>
<!-- / Content container. -->
<div th:substituteby="footer :: copy"></div>
</body>
</html>
