<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{header :: copy}"></head>
<body>
<nav th:replace="~{menubar :: copy}"></nav>

    <!--   Content container -->
    <div class='container-fluid error_page'>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10'>
                <h1>Error</h1>

                <!--  As we are using Thymeleaf, you might consider using
                      ${#httpServletRequest.requestURL}. But that returns the path
                      to this error page.  Hence we explicitly add the url to the
                      Model in some of the example code. -->
                <p th:if="${url}">
                    <b>Page:</b> <span th:text="${url}">Page URL</span>
                </p>

                <p th:if="${timestamp}" id='created'>
                    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                </p>

                <p th:if="${status}">
                    <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                        th:if="${error}" th:text="'('+${error}+')'">error ...</span>
                </p>
            </div>
        </div>
    </div>
    <!-- / Contact container -->
<div th:replace="~{footer :: copy}"></div>
</body>
</html>
