<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Feedback')"></head>
<body ng-app="UHGroupingsApp">
<nav th:substituteby="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <h1>Feedback</h1>

    <div class="alert alert-success" role="alert" th:if="${success}">
        <p th:utext="#{screen.message.feedback.page.alertSuccess}"> </p>
    </div>

    <p th:utext="#{screen.message.feedback.page.description}"> </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" th:action="@{/feedback}" th:object="${feedback}" method="post">
                <div class="form-group" id="typeError">
                    <label for="input-type" class="col-sm-2 control-label">Feedback type:
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="input-type" th:field="*{type}">
                            <option value="general">GENERAL</option>
                            <option value="problem">PROBLEM</option>
                            <option value="feature">FEATURE</option>
                            <option value="question">QUESTION</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-name" class="col-sm-2 control-label">Your Name (Optional): </label>
                    <div class="col-sm-10">
                        <input th:field="*{name}" class="form-control" id="input-name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-email" class="col-sm-2 control-label">Email:
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input th:field="*{email}" class="form-control" id="input-email" th:required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-feedback" class="col-sm-2 control-label">Your Feedback:
                        <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-10">
                        <textarea th:field="*{message}" class="form-control" id="input-feedback" rows="8" th:required="required">
                        </textarea>
                    </div>
                </div>
                <div class="form-group" style="display: none; visibility: hidden;">
                    <label for="input-exception" class="col-sm-2 control-label">Exception Error</label>
                    <div class="col-sm-10">
                        <textarea th:field="*{exceptionMessage}" class="form-control" id="input-exception"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Content container. -->

<div th:substituteby="footer :: copy"></div>
</body>
</html>