<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Feedback')"></head>
<body ng-app="UHGroupingsApp">
<nav th:substituteby="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
 <!--   &lt;!&ndash;<h1>Feedback</h1>&ndash;&gt;

    <div class="alert alert-success" role="alert" th:if="${success}">
        &lt;!&ndash;<p th:utext="#{screen.message.feedback.page.alertSuccess}"></p>&ndash;&gt;

    </div>
-->

     <div class = "alert alert-success" role="alert" th:if="${success}">
     <p th:utext="#{screen.message.feedback.page.alertSuccess}"></p>
</div>

 <div th:replace="fragments/page-header :: page-header(title='Feedback', description=#{screen.message.feedback.page.description})"></div>

    <!--<div class="container">
    <div th:if="${success}" replace="fragments/page-header :: page-header(title='Feedback', description=#{screen.message.feedback.page.alertSuccess})">
    </div>
    </div>



    <p th:utext="#{screen.message.feedback.page.description}"></p>
-->
    <div class="border p-4">
        <form th:action="@{/feedback}" th:object="${feedback}" method="post">
            <div class="form-group row" id="typeError">
                <label for="input-type" class="col-sm-3 col-form-label">Feedback type:
                    <span class="required-asterisk">*</span>
                </label>
                <div class="col-sm-9">
                    <select class="custom-select" id="input-type" th:field="*{type}">
                        <option value="general">GENERAL</option>
                        <option value="problem">PROBLEM</option>
                        <option value="feature">FEATURE</option>
                        <option value="question">QUESTION</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-name" class="col-sm-3 col-form-label">Your Name (Optional): </label>
                <div class="col-sm-9">
                    <input th:field="*{name}" class="form-control" id="input-name"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-email" class="col-sm-3 col-form-label">Email:
                    <span class="required-asterisk">*</span>
                </label>
                <div class="col-sm-9">
                    <input th:field="*{email}" class="form-control" id="input-email" th:required="required"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-feedback" class="col-sm-3 col-form-label">Your Feedback:
                    <span class="required-asterisk">*</span>
                </label>
                <div class="col-sm-9">
                        <textarea th:field="*{message}" class="form-control" id="input-feedback" rows="8"
                                  th:required="required">
                        </textarea>
                </div>
            </div>
            <div class="d-none">
                <label for="input-exception" class="col-sm-3 col-form-label">Exception Error</label>
                <div class="col-sm-9">
                    <textarea th:field="*{exceptionMessage}" class="form-control" id="input-exception"></textarea>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- / Content container. -->

<div th:substituteby="footer :: copy"></div>
</body>
</html>
