<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/lodash/lodash.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js}"></script>

<script type="text/javascript" th:src="@{/javascript/mainApp/app.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.service.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/groupings.service.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.util.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.constants.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/admin.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/general.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/membership.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/timeout.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/owner.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/table.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/outage.controller.js}"></script>


<footer class="footer black-bg pt-5 pb-5" id="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 text-center ">
                <img class="img-fluid mb-4" th:src="@{images/uh-logo-system.png}" th:srcset="@{images/uh-logo-system.png 1x, images/uh-logo-system-2x.png 2x}"  alt="UH System logo">
            </div>
            <div class="col-md-8 col-sm-7">
                <p>The University of Hawai&#699;i is an <a href="https://www.hawaii.edu/offices/eeo/policies/?policy=antidisc">equal opportunity/affirmative action institution</a>.</p>
                <p>Use of this site implies consent with our <a href="https://www.hawaii.edu/policy/docs/temp/ep2.210.pdf" title="UH Usage Policy">Usage Policy</a>.</p>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div ng-controller="TimeoutJsController">
        </div>
    </div>
</footer>
</html>
