<div th:fragment="copy" th:remove="tag" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/lodash/lodash.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js}"></script>

<script type="text/javascript" th:src="@{/javascript/mainApp/app.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.directives.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.service.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/groupings.service.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/app.constants.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/home.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/admin.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/announcements.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/general.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/membership.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/timeout.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/grouping.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/groupings.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/table.controller.js}"></script>
<script type="text/javascript" th:src="@{/javascript/mainApp/feedback.controller.js}"></script>

<footer class="footer black-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 text-center ">
                <img class="img-fluid mb-4" alt="UH System logo" th:srcset="@{images/uh-logo-system.png 1x, images/uh-logo-system-2x.png 2x, images/uh-logo-system.svg}" th:src="@{images/uh-logo-system.png}">
            </div>
            <div class="col-md-8 col-sm-7">
                <p>The University of Hawai&#699;i is an <a href="https://www.hawaii.edu/offices/eeo/policies/?policy=antidisc">equal opportunity institution</a>.</p>
                <p>Use of this site implies consent with our <a href="https://www.hawaii.edu/policy/docs/temp/ep2.210.pdf" title="UH Usage Policy">Usage Policy</a>.</p>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div ng-controller="TimeoutJsController"></div>
    </div>
</footer>
</div>
