<footer  class="footer" th:fragment="copy">
   <div class="container">
       <span class='uh-branding-one'>University</span>
       <span class='uh-branding-two'>of&nbsp;</span>
       <span class='uh-branding-one'>Hawai&#8216;i</span>
<hr/>
       <div class = "row">
             <div class="col-md-3"><a href="https://hilo.hawaii.edu/"     target="_uhhi">Hilo</a></div>
             <div class="col-md-3"><a href="https://manoa.hawaii.edu/"    target="_uhma">Manoa</a></div>
             <div class="col-md-3"><a href="http://westoahu.hawaii.edu/" target="_uhwo">West Oahu</a></div>
             <div class="col-md-3 "><a href="http://maui.hawaii.edu/" target="_uhccmu">Maui</a></div>
           </div>
           <div class = "row">
             <div class="col-md-2"><a href="https://hawaii.hawaii.edu/" target="_uhcchi">Hawaii</a></div>
             <div class="col-md-2 "><a href="http://honolulu.hawaii.edu/" target="_uhccho">Honolulu</a></div>
             <div class="col-md-2 "><a href="http://kapiolani.hawaii.edu/" target="_uhccka">Kapiolani</a></div>
             <div class="col-md-2 "><a href="http://kauai.hawaii.edu/" target="_uhccku">Kauai</a></div>
             <div class="col-md-2 "><a href="http://www.leeward.hawaii.edu/" target="_uhccle">Leeward</a></div>
             <div class="col-md-2 "><a href="https://windward.hawaii.edu/" target="_uhccwi">Windward</a></div>
           </div>

           <div id = "topRow">
             <a href="/myiam/faq" th:href="@{/faq}">FAQ</a>
           </div>

   </div>

</footer>
