<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:substituteby="header :: copy"></head>
<body ng-app="ownerApp">
<nav th:substituteby="menubar :: copy"></nav>

<!--  Content container -->
<div class="container-fluid">
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10'>


            <h2 class="text-center">Groupings Owned</h2>
            <p class="text-center">Owner can modify the groupings that they own.</p>

            <div class="groups_belong" ng-controller="OwnerJsController" data-ng-init="init()">
                <div ng-show="!showGrouping">
                    <div id="overlay" ng-show="loading">
                        <div class="loader" ng-show="loading"></div>
                    </div>
                    <br/>

                    <!-- This will allow you to search for specific groups -->
                    <div class="panel panel-default">
                        <div class="panel-heading" id = "groupHeader">
                            <div class="form-group ">
                                <h3 class="col-md-4" id = "headingOptIn">Groupings</h3>
                            </div>
                        </div>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                            <tr>
                                <th><a type="button" class="btn btn-default btn-block" style="padding-left: 0px; text-align: left; width: 100%; border: none" ng-click="sortCol(ownedList, 'name', 'pagedItemsOwned', 'symbolMember')"><b>Grouping {{symbol.name}}</b></a></th>
                                <th><a type="button" class="btn btn-default btn-block" style="padding-left: 0px; text-align: left; width: 100%; border: none" ng-click="sortCol(ownedList, 'folder', 'pagedItemsOwned', 'symbolMember')"><b>Folder {{symbol.folder}}</b></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="l in pagedItemsOwned[currentPageOwned] ">
                                <th>
                                    {{l.name}} <span ng-click="showData($index)"
                                                     class="glyphicon glyphicon-edit"></span>
                                </th>
                                <th>{{l.folder}}</th>
                            </tr>
                            </tbody>
                            <tfoot>
                            <!-- Top part of the two parts  -->
                            <td colspan="6">
                                <ul class = "pagination pull-right" >
                                    <li ng-class="{disabled: (currentPageOwned) == 0 }">
                                        <a href="" ng-click="currentPage('Prev','currentPageOwned','pagedItemsOwned')" >« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItemsOwned.length, currentPageOwned - gap, currentPageOwned + gap + 1)"
                                        ng-class="{active: n == currentPageOwned}"

                                        ng-click="currentPage('Set','currentPageOwned','pagedItemsOwned')"
                                            ><a href="" ng-bind="n + 1" >1</a>
                                    </li>
                                    <li ng-class="{disabled: (currentPageOwned) == pagedItemsOwned.length - 1 }">
                                        <a href="" ng-click="currentPage('Next','currentPageOwned','pagedItemsOwned')">Next »</a>
                                    </li>
                                </ul>
                            </td>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div ng-show="showGrouping">
                    <div id="overlay" ng-show="loading">
                        <div class="loader" ng-show="loading"></div>
                    </div>
                    <h2 class="text-center">{{groupingName.name}}</h2>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#members">Members</a></li>
                        <li><a data-toggle="tab" href="#owners">Owners</a></li>
                        <li><a data-toggle="tab" href="#preference">Preferences</a></li>
                        <li class="pull-right">
                            <button ng-click="showGroups()" class="btn btn-primary">Go Back</button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- List of the members in the grouping -->

                        <div id="members" class="tab-pane fade in active">
                            <h2>Members</h2>

                            <div class="col-md-2 col-xs-2" style="top: 55px; width: 80px">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a data-toggle="tab" href="#all"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
                                    <li><a data-toggle="tab" href="#basis"><span class="glyphicon glyphicon-lock"
                                                                                 aria-hidden="true"></span></a></li>
                                    <li><a data-toggle="tab" href="#include"><span class="glyphicon glyphicon-plus"
                                                                                   aria-hidden="true"></span></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#exclude"><span class="glyphicon glyphicon-minus"
                                                                                   aria-hidden="true"></span></a>
                                    </li>
                                </ul>

                            </div>

                            <div class="tab-content col-md-10 col-xs-8">
                                <div id="all" class="tab-pane fade in active">
                                    <h3 class="text-center">All Members</h3>
                                    <div align="right" style="margin-top: 10px" id = "filters">
                                        <input placeholder="Filter" type="text"
                                        ng-model="ListQuery" ng-change= "search(groupingsList, 'pagedItemsList', 'ListQuery')" id = "members"/>
                                    </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th ng-click="sortCol(groupingsList, 'name', 'pagedItemsList', 'symbolList')">Name {{symbol.name}}</th>
                                            <th ng-click="sortCol(groupingsList, 'uuid', 'pagedItemsList', 'symbolList')">UH ID {{symbol.uuid}}</th>
                                            <th ng-click="sortCol(groupingsList, 'username', 'pagedItemsList', 'symbolList')">Username {{symbol.username}}</th>
                                            <th>Basis</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="g in pagedItemsList[currentPageList]">
                                            <td>{{g.name}}</td>
                                            <td>{{g.uuid}}</td>
                                            <td>{{g.username}}</td>
                                            <td class="text-center" style="width: 3%">{{g.basis}}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <!-- Top part of the two parts  -->
                                            <td colspan="6">
                                                    <ul class = "pagination pull-right" >
                                                        <li ng-class="{disabled: (currentPageList) == 0 }">
                                                            <a href="" ng-click="currentPage('Prev','currentPageList','pagedItemsList')" >« Prev</a>
                                                        </li>
                                                        <li ng-repeat="n in range(pagedItemsList.length, currentPageList - gap, currentPageList + gap + 1) "
                                                        ng-class="{active: n == currentPageList}"

                                                        ng-click="currentPage('Set','currentPageList','pagedItemsList')"
                                                        ><a href="" ng-bind="n + 1" >1</a>
                                                        </li>
                                                        <li ng-class="{disabled: (currentPageList) == pagedItemsList.length - 1 }">
                                                            <a href="" ng-click="currentPage('Next','currentPageList','pagedItemsList')">Next »</a>
                                                        </li>
                                                </ul>
                                            </td>
                                        </tfoot>
                                    </table>
                                    <button class="btn btn-default" ng-click="export(groupingsList, 'members')">Export
                                        To CSV
                                    </button>
                                </div>
                                <div id="basis" class="tab-pane fade">
                                    <h3 class="text-center">Basis</h3>

                                    <!-- must put search bar here.. -->
                                    <div align="right" style="margin-top: 10px" id = "filters">
                                        <input placeholder="Filter" type="text"
                                        ng-model="basisQuery" ng-change= "search(groupingsBasis, 'pagedItemsBasis', 'basisQuery')" id = "members"/>
                                    </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th ng-click="sortCol(groupingsBasis, 'name', 'pagedItemsBasis', 'symbolBasis')">Name {{symbol.name}}</th>
                                            <th ng-click="sortCol(groupingsBasis, 'uuid', 'pagedItemsBasis', 'symbolBasis')">UH ID {{symbol.uuid}}</th>
                                            <th ng-click="sortCol(groupingsBasis, 'username', 'pagedItemsBasis', 'symbolBasis')">Username {{symbol.username}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="b in pagedItemsBasis[currentPageBasis]">
                                            <td>{{b.name}}</td>
                                            <td>{{b.uuid}}</td>
                                            <td>{{b.username}}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <!-- Top part of the two parts  -->
                                            <td colspan="6">
                                                    <ul class = "pagination pull-right" >
                                                        <li ng-class="{disabled: (currentPageBasis) == 0}">
                                                            <a href="" ng-click="currentPage('Prev','currentPageBasis','pagedItemsBasis')" >« Prev</a>
                                                        </li>
                                                        <li ng-repeat="n in range(pagedItemsBasis.length, currentPageBasis - gap, currentPageBasis + gap + 1) "
                                                        ng-class="{active: n == currentPageBasis}"

                                                        ng-click="currentPage('Set','currentPageBasis','pagedItemsBasis')"
                                                        ><a href="" ng-bind="n + 1" >1</a>
                                                        </li>
                                                        <li ng-class="{disabled: (currentPageBasis) == pagedItemsBasis.length - 1 }">
                                                            <a href="" ng-click="currentPage('Next','currentPageBasis','pagedItemsBasis')">Next »</a>
                                                        </li>
                                                </ul>
                                            </td>
                                        </tfoot>
                                    </table>
                                    <button class="btn btn-default" ng-click="export(groupingsBasis, 'basis')">Export To
                                        CSV
                                    </button>
                                </div>
                                <div id="include" class="tab-pane fade">
                                    <h3 class="text-center">Include</h3>
                                    <!--  must put search bar here...-->
                                    <div align="right" style="margin-top: 10px" id = "filters">
                                        <input placeholder="Filter" type="text"
                                        ng-model="includeQuery" ng-change= "search(groupingInclude, 'pagedItemsInclude', 'includeQuery')" id = "members"/>
                                    </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th ng-click="sortCol(groupingInclude, 'name', 'pagedItemsInclude', 'symbolInclude')">Name {{symbol.name}}</th>
                                            <th ng-click="sortCol(groupingInclude, 'uuid', 'pagedItemsInclude', 'symbolInclude')">UH ID {{symbol.uuid}}</th>
                                            <th ng-click="sortCol(groupingInclude, 'username', 'pagedItemsInclude', 'symbolInclude')">Username {{symbol.username}}</th>
                                            <th>Basis</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="i in pagedItemsInclude[currentPageInclude]">
                                            <td>
                                                {{i.name}}
                                                <span class="glyphicon glyphicon-trash pull-right"
                                                      ng-click="removeMember('Include', $index)" data-toggle="tooltip"
                                                      data-placement="top" onmouseover="$(this).tooltip('show')"
                                                      title="Delete member from the include grouping"
                                                      style="margin-right: 10px"></span>
                                            </td>
                                            <td>{{i.uuid}}</td>
                                            <td>{{i.username}}</td>
                                            <td class="text-center" style="width: 3%">{{i.basis}}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <!-- Top part of the two parts  -->
                                            <td colspan="6">
                                                    <ul class = "pagination pull-right" >
                                                        <li ng-class="{disabled: (currentPageInclude) == 0 }">
                                                            <a href="" ng-click="currentPage('Prev','currentPageInclude','pagedItemsInclude')" >« Prev</a>
                                                        </li>
                                                        <li ng-repeat="n in range(pagedItemsInclude.length, currentPageInclude - gap, currentPageInclude + gap + 1) "
                                                        ng-class="{active: n == currentPageInclude}"

                                                        ng-click="currentPage('Set','currentPageInclude','pagedItemsInclude')"
                                                        ><a href="" ng-bind="n + 1" >1</a>
                                                        </li>
                                                        <li ng-class="{disabled: (currentPageInclude) == pagedItemsInclude.length - 1 }">
                                                            <a href="" ng-click="currentPage('Next','currentPageInclude','pagedItemsInclude')">Next »</a>
                                                        </li>
                                                </ul>
                                            </td>
                                        </tfoot>
                                    </table>

                                    <div>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                data-target="#addInclude" aria-expanded="false"
                                                aria-controls="addOwner">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <div class="collapse" id="addInclude">
                                            <input type="text" placeholder="Add user to include"
                                                   ng-model="addUser"/>
                                            <button class="btn btn-success" ng-click="addMember('Include')">Add to
                                                Included
                                            </button>
                                        </div>
                                        <button class="btn btn-default" ng-click="export(groupingInclude, 'include')">
                                            Export To CSV
                                        </button>
                                    </div>
                                </div>
                                <div id="exclude" class="tab-pane fade">
                                    <h3 class="text-center">Exclude</h3>

                                    <!-- must put search bar here... -->
                                    <div align="right" style="margin-top: 10px" id = "filters">
                                        <input placeholder="Filter" type="text"
                                        ng-model="excludeQuery" ng-change= "search(groupingExclude, 'pagedItemsExclude', 'excludeQuery')" />
                                    </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th ng-click="sortCol(groupingExclude, 'name', 'pagedItemsExclude', 'symbolExclude')">Name {{symbol.name}}</th>
                                            <th ng-click="sortCol(groupingExclude, 'uuid', 'pagedItemsExclude', 'symbolExclude')">UH ID {{symbol.uuid}}</th>
                                            <th ng-click="sortCol(groupingExclude, 'username', 'pagedItemsExclude', 'symbolExclude')">Username {{symbol.username}}</th>
                                            <th>Basis</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="e in pagedItemsExclude[currentPageExclude]">
                                            <td>
                                                {{e.name}}
                                                <span class="glyphicon glyphicon-trash pull-right" data-toggle="tooltip"
                                                      data-placement="top" onmouseover="$(this).tooltip('show')"
                                                      title="Delete member from the exclude group"
                                                      ng-click="removeMember('Exclude', $index)"
                                                      style="margin-right: 10px"></span>
                                            </td>
                                            <td>{{e.uuid}}</td>
                                            <td>{{e.username}}</td>
                                            <td class="text-center" style="width: 3%">{{e.basis}}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <!-- Top part of the two parts  -->
                                            <td colspan="6">
                                                    <ul class = "pagination pull-right" >
                                                        <li ng-class="{disabled: (currentPageExclude) == 0 }">
                                                            <a href="" ng-click="currentPage('Prev','currentPageExclude','pagedItemsExclude')" >« Prev</a>
                                                        </li>
                                                        <li ng-repeat="n in range(pagedItemsExclude.length, currentPageExclude - gap, currentPageExclude + gap + 1) "
                                                        ng-class="{active: n == currentPageExclude}"

                                                        ng-click="currentPage('Set','currentPageExclude','pagedItemsExclude')"
                                                        ><a href="" ng-bind="n + 1" >1</a>
                                                        </li>
                                                        <li ng-class="{disabled: (currentPageExclude) == pagedItemsExclude.length - 1 }">
                                                            <a href="" ng-click="currentPage('Next','currentPageExclude','pagedItemsExclude')">Next »</a>
                                                        </li>
                                                </ul>
                                            </td>
                                        </tfoot>
                                    </table>

                                    <div>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                data-target="#addExclude" aria-expanded="false"
                                                aria-controls="addOwner">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <div class="collapse" id="addExclude">
                                            <input type="text" placeholder="Add user to exclude"
                                                   ng-model="addUser"/>
                                            <button class="btn btn-success" ng-click="addMember('Exclude')">Add to
                                                Excluded
                                            </button>
                                        </div>
                                        <button class="btn btn-default" ng-click="export(groupingExclude, 'exclude')">
                                            Export To CSV
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- List of the owners in the grouping -->
                        <div id="owners" class="tab-pane fade">
                            <h2>Owners</h2>

                            <!-- must put search bar here -->
                            <div align="right" style="margin-top: 10px" id = "filters">
                                <input placeholder="Filter" type="text"
                                ng-model="ownersQuery" ng-change= "search(ownerList, 'pagedItemsOwners', 'ownersQuery')" id = "members"/>
                            </div>
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sortCol(ownerList, 'name', 'pagedItemsOwners', 'symbolOwners')">Name {{symbol.name}}</th>
                                    <th ng-click="sortCol(ownerList, 'username', 'pagedItemsOwners', 'symbolOwners')">Username {{symbol.username}}</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="owner in pagedItemsOwners[currentPageOwners]">
                                    <td>{{owner.name}}</td>
                                    <td>{{owner.username}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-block" ng-click="removeOwner($index)"><span
                                                class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <td colspan="6">
                                            <ul class = "pagination pull-right" >
                                                <li ng-class="{disabled: (currentPageOwners) == 0 }">
                                                    <a href="" ng-click="currentPage('Prev','currentPageOwners','pagedItemsOwners')" >« Prev</a>
                                                </li>
                                                <li ng-repeat="n in range(pagedItemsOwners.length, currentPageOwners - gap, currentPageOwners + gap + 1) "
                                                ng-class="{active: n == currentPageOwners}"

                                                ng-click="currentPage('Set','currentPageOwners','pagedItemsOwners')"
                                                ><a href="" ng-bind="n + 1" >1</a>
                                                </li>
                                                <li ng-class="{disabled: (currentPageOwners) == pagedItemsOwners.length - 1 }">
                                                    <a href="" ng-click="currentPage('Next','currentPageOwners','pagedItemsOwners')">Next »</a>
                                                </li>
                                        </ul>
                                    </td>
                                </tfoot>
                                <!--
                            -->
                            </table>

                            <div>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        data-target="#addOwner" aria-expanded="false" aria-controls="addOwner">
                                    Add Owner
                                </button>
                                <div class="collapse" id="addOwner">
                                    <input type="text" placeholder="Add an user as an owner..." ng-model="ownerUser"/>
                                    <button class="btn btn-success" ng-click="addOwner()">Add Owner</button>
                                </div>
                            </div>

                        </div>

                        <!-- Preference page -->
                        <div id="preference" class="tab-pane fade">
                            <h2>Preferences</h2>

                            <h3>Membership Options</h3>
                            <input id="optInOption" type="checkbox"/> Allow people to add themselves to this group <br/>
                            <input id="optOutOption" type="checkbox"/> Allow people to remove themselves to this group
                            <br/>

                            <h3>Publication Destinations</h3>
                            <input id="listserv" type="checkbox" ng-init="pref"/> LISTSERV list: {{groupingName.name}}
                            <br/>

                            <button class="btn btn-default btn-primary" style="margin-top: 20px" type="submit" ng-click="savePref()"> Update Preferences
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script type="javascript">

</script>
<!-- / Content container. -->

<div th:substituteby="footer :: copy"></div>

</body>
</html>
