<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Owners')"></head>
<body ng-app="UHGroupingsApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container-->
<div class="seafoam-bg pt-0">
    <div class="container">
        <div class="row pt-5 pb-4">
            <div class="col-lg-9 col-md-8 col-12">
                <h1 class="text-center text-md-left">Manage My Groupings</h1>
                    <p class="lead text-center text-md-left" th:utext="#{screen.message.groupings.page.description}"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <input class="form-control" placeholder="Filter Groupings..." type="text"
                       title="Filter Groupings"
                       ng-model="groupingsQuery"
                       ng-change="filter(groupingsList, 'pagedItemsGroupings', 'currentPageGroupings', groupingsQuery, true)"/>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-controller="OwnerJsController" data-ng-init="init()">
    <div id="overlay" ng-show="loading">
        <div class="loader" ng-show="loading"></div>
    </div>

    <div class="nav-tabs nav-item">
        <div ng-show="!showGrouping">
            <div th:replace="fragments/groupings-list :: groupings-list"></div>
        </div>

        <div ng-show="showGrouping">
            <div th:replace="fragments/selected-grouping :: selected-grouping(tabContent=true)"></div>

            <div th:replace="fragments/manage-grouping :: manage-grouping"></div>
        </div>
    </div>

</div>
</div>
<!-- / Content container. -->

<div th:replace="footer"></div>

</body>
</html>
