<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      ng-app="holidayApp">

<head th:fragment="copy">
    <title>UH Groupings</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" />

    <script type="text/javascript" src="webjars/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="javascript/holiday.app.js"></script>
    <script type="text/javascript" src="javascript/holiday.service.js"></script>
    <script type="text/javascript" src="javascript/holiday.controller.js"></script>
</head>
<body th:fragment="copy" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/myiam/" th:href="@{/}">
                    <img src="images/seal.jpg" alt=""></img>
                </a>
                <a class="navbar-brand uh-nav-app-name" href="/myiam/" th:href="@{/}">
                    UH Groupings
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/myiam/" th:href="@{/}">Home</a></li>
                    <li><a href="/myiam/contact" th:href="@{/contact}">Contact</a></li>
                    <li><a href="/myiam/faq" th:href="@{/faq}">FAQ</a></li>
                    <li><a href="/myiam/admin" th:href="@{/admin}">Admin</a></li>
                    <li  class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Campuses <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                          <li><a href="https://hilo.hawaii.edu/"     target="_uhhi">Hilo</a></li>
                          <li><a href="https://manoa.hawaii.edu/"    target="_uhma">Manoa</a></li>
                          <li><a href="http://westoahu.hawaii.edu/" target="_uhwo">West Oahu</a></li>
                          <li class="divider"></li>
                          <li><a href="https://hawaii.hawaii.edu/" target="_uhcchi">Hawaii</a></li>
                          <li><a href="http://honolulu.hawaii.edu/" target="_uhccho">Honolulu</a></li>
                          <li><a href="http://kapiolani.hawaii.edu/" target="_uhccka">Kapiolani</a></li>
                          <li><a href="http://kauai.hawaii.edu/" target="_uhccku">Kauai</a></li>
                          <li><a href="http://www.leeward.hawaii.edu/" target="_uhccle">Leeward</a></li>
                          <li><a href="http://maui.hawaii.edu/" target="_uhccmu">Maui</a></li>
                          <li><a href="https://windward.hawaii.edu/" target="_uhccwi">Windward</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <script th:fragment="copy" type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script th:fragment="copy" type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
