<head th:fragment="copy">
    <title th:text="${headingTitle}">UH Groupings</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/colors.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/override/local.css}" />

    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/lodash/lodash.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js}"></script>

    <script type="text/javascript" th:src="@{/javascript/mainApp/app.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/app.service.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/app.util.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/app.constants.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/admin.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/general.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/membership.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/owner.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/mainApp/table.controller.js}"></script>

</head>
