<head th:fragment="copy">
    <title th:text="${headingTitle}">UH Groupings</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/regular.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/colors.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/variables.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/override/local.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />

</head>
