<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Home')"></head>
<body>
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 d-sm-inline-flex d-none justify-content-end align-middle">
                <img class="img-fluid" id="uh-groupings-icon" th:src="@{/images/grouper-users-icon-02.png}"
                     src="images/grouper-users-icon-02.png" alt="UH Groupings"/>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <h1 class="dropshadow">UH Groupings</h1>
                <p class="lead" th:utext="#{screen.message.home.page.leadDescription}"></p>
            </div>
        </div>
        <div class="row ml-auto">
            <div class="offset-lg-2 offset-md-3 offset-sm-4">
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-lg btn-light" th:href="@{/login}" role="button">Login Here</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-lg btn-light" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row pl-4 pr-4">
        <span class="h5">What is a UH Grouping?</span>
        <div id="grouping-description">
            <p th:utext="#{screen.message.home.page.groupingDefinition}"></p>
            <p th:utext="#{screen.message.home.page.groupingFeatures}"></p>
        </div>
        <div th:utext="#{screen.message.home.page.moreInformation}"></div>
    </div>

    <div class="row" id="home-dashboard">
        <div class="card bg-dashboard border-light p-0" sec:authorize="hasAnyRole('ROLE_UH', 'ROLE_ADMIN', 'ROLE_OWNER')">
            <div class="card-body">
                <div class="row" sec:authorize="isAuthenticated()">
                    <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                        <p class="h5">Administration</p>
                        <p th:utext="#{screen.message.home.page.adminInfo}"></p>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/admin}" role="button">Admin</a></p>
                    </div>
                    <div class="col-md-4" sec:authorize="hasRole('ROLE_UH')">
                        <p class="h5">Memberships</p>
                        <p th:utext="#{screen.message.home.page.membershipInfo}"></p>
                        <div class="spacer d-xl-block d-lg-none d-md-block d-none"></div>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/memberships}" role="button">Memberships</a></p>
                    </div>
                    <div class="col-md-4" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')">
                        <p class="h5">Groupings</p>
                        <p th:utext="#{screen.message.home.page.mygroupingsInfo}"></p>
                        <p><a class="btn btn-primary btn-sm" th:href="@{/groupings}" role="button">Groupings</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>
