<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="holidayApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container" ng-controller="HolidayJsController" data-ng-init="init()">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="tops">
                <h2 class="text-left"> Welcome to UH Groupings</h2>
            </div>
        </div>
    </div>

    <div id="topRow">
        <p>Manage your groups in one place, use them in many places.</p>

        <p>UH Groupings allows you to create groups, manage group memberships, control members' self-service options, and more.  
           Groups can be utilized as one or more of the following: email lists, permissions and privilege assignments for access control via CAS, etc.  
           Additionally, UH Groupings allows you to leverage existing, automatically created and updated, groups, which can substantially reduce the manual overhead of group management.  
        </p>

        <p>For more information, visit &lt;<a href="https://www.hawaii.edu/bwiki/display/UHIAM/UH+Groupings">https://www.hawaii.edu/bwiki/display/UHIAM/UH+Groupings</a>&gt;</p>
    </div>

    <div id="uh-login" sec:authorize="!isAuthenticated()">
        <fieldset>
            <legend>UH Users</legend>
            <p style="padding-top: 1.2em">
                <a th:href="@{/login}" class="btn btn-lg btn-success btn-block">Login In Here</a>
            </p>
        </fieldset>
    </div>

</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>
