<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="holidayApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container" ng-controller="HolidayJsController" data-ng-init="init()">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="tops">
                <h2> Welcome to UH Groupings</h2>
            </div>
        </div>
    </div>

    <div id="topRow">
        <p>Manage your groups in one place, use them in many places.</p>

        <p>If you manage lists of people so that you send them email, or provide them privileges or permissions,
            or for other purposes, you can use UH Groupings to manage your lists in one place.
            Additionally, you can make use of groups that already existing in our Group Store.</p>

        <p>For more information on UH Groupings and the Group Store, visit &lt;<a href="https://www.hawaii.edu/bwiki/display/UHIAM/UH+Groupings">https://www.hawaii.edu/bwiki/display/UHIAM/UH+Groupings</a>&gt;</p>
    </div>

    <div id="uh-login" sec:authorize="!isAuthenticated()">
        <fieldset>
            <legend>UH Users</legend>
            <p style="padding-top: 1.2em">
                <a th:href="@{/login}" class="btn btn-lg btn-success btn-block">Login In Here</a>
            </p>
        </fieldset>
    </div>

</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>
