<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="header :: copy(headingTitle='UH Groupings Membership')"></head>
<body ng-app="UHGroupingsApp">
<nav th:substituteby="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <div class='row'>
        <div class='container-fluid' ng-controller="MembershipJsController" data-ng-init="init()">
            <h1 class="text-left">Manage My Memberships</h1>

            <!-- <p th:text="#{screen.message.home.test('{{currentUsername}}')}">Hi my name is aaron</p> -->

            <p class="text-left" th:utext="#{screen.message.memberships.page.description}"> </p>

            <ul class="nav nav-tabs " id="memberships-tabs">
                <li role="presentation" class="active" data-toggle="tooltip" data-placement="top">
                    <a href="#belong" data-toggle="tab" role="tab">
                        <!--<i class="fa fa-users fa-3x" aria-hidden="true"></i>-->
                        Current Memberships
                    </a>
                </li>
                <li role="presentation" data-toggle="tooltip" data-placement="top">
                    <a href="#optOut" data-toggle="tab" role="tab">
                        <!--<i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>-->
                        Membership Opportunities
                    </a>
                </li>
            </ul>
            <div id="overlay" ng-show="loading">
                <div class="loader" ng-show="loading"></div>
            </div>

            <!-- Content that should be viewed by the nav tabs -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="belong">
                    <div class="panel panel-default panel-tab-content">
                        <div class="panel-heading">
                            <div class="row" style="margin: inherit">
                                <div class="col-md-6 col-sm-7" style="padding: 0px;">
                                    <h2 class="panel-title" style="padding: 2.5px 0px; margin: inherit;">My Grouping Memberships</h2>
                                    <span th:utext="#{screen.message.memberships.page.currentMembershipsInfo}"> </span>
                                </div>
                                <div class="col-md-push-3 col-md-3 col-sm-push-1 col-sm-4" style="padding: 0px;">
                                    <input placeholder="Filter Groupings..." type="text"
                                           title="Filter Groupings"
                                           ng-model="membersQuery" class="form-control"
                                           ng-change="filter(membershipsList, 'pagedItemsMemberships', 'currentPageMemberships', membersQuery)"
                                           id="members"/>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-if="membershipsList.length !== 0" class="table table-responsive table-bordered table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sortBy('membershipsList', 'pagedItemsMemberships', 'name')"
                                        class="clickable">
                                        Grouping Name
                                        <i class="fa sort-icon"
                                           ng-show="columnSort.membershipsList.property === 'name' || !columnSort.membershipsList"
                                           ng-class="{ reverse: columnSort.membershipsList.reverse }"></i>
                                    </th>
                                    <th ng-click="sortBy('membershipsList', 'pagedItemsMemberships', 'path')"
                                        class="clickable">
                                        Grouping Path
                                        <i class="fa sort-icon" ng-show="columnSort.membershipsList.property === 'path'"
                                           ng-class="{ reverse: columnSort.membershipsList.reverse }"></i>
                                    </th>
                                    <th class="col-md-2 text-center" style="vertical-align: middle;">Opt Out?</th>
                                </tr>
                                </thead>
                                <tfoot>

                                <!-- Top part of the two parts  -->
                                <td colspan="6">
                                    <!-- <div th:substituteby="pagination :: paginationbar"></div> -->
                                    <ul class="pagination pull-right" aria-live="assertive">
                                        <li ng-class="{ disabled: disableFirstAndPrev(currentPageMemberships) }">
                                            <a class="clickable"
                                               ng-click="setPage('First', 'currentPageMemberships', 'pagedItemsMemberships')">««
                                                First</a>
                                        </li>
                                        <li ng-class="{ disabled: disableFirstAndPrev(currentPageMemberships) }">
                                            <a class="clickable"
                                               ng-click="setPage('Prev', 'currentPageMemberships', 'pagedItemsMemberships')">«
                                                Prev</a>
                                        </li>
                                        <li ng-repeat="n in pageRange(currentPageMemberships, pagedItemsMemberships.length, gap) "
                                            ng-class="{ active: n === currentPageMemberships }"
                                            ng-click="setPage('Set','currentPageMemberships','pagedItemsMemberships')">
                                            <a class="clickable" ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{ disabled: disableNextAndLast(pagedItemsMemberships, currentPageMemberships) }">
                                            <a class="clickable"
                                               ng-click="setPage('Next','currentPageMemberships','pagedItemsMemberships')">Next
                                                »</a>
                                        </li>
                                        <li ng-class="{ disabled: disableNextAndLast(pagedItemsMemberships, currentPageMemberships) }">
                                            <a class="clickable"
                                               ng-click="setPage('Last','currentPageMemberships','pagedItemsMemberships')">Last
                                                »»</a>
                                        </li>
                                    </ul>
                                </td>
                                </tfoot>
                                <tbody>
                                <tr ng-repeat="l in pagedItemsMemberships[currentPageMemberships] ">
                                    <td>{{ l.name }}</td>
                                    <td>{{ l.path }}</td>
                                    <td class="col-md-2 col-sm-2 col-xs-2">
                                        <div ng-if="membershipRequired(currentPageMemberships, $index)">
                                            <p align="center">Membership Required</p>
                                        </div>
                                        <div ng-if="!membershipRequired(currentPageMemberships, $index)">
                                            <button id="optOutButton"
                                                    class="btn btn-primary btn-block opt-button text-center"
                                                    tabindex="0"
                                                    ng-click="optOut(currentPageMemberships, $index)">
                                                Opt Out
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div ng-if="membershipsList.length === 0" align="center">
                                <h3 style="color: black"><b ng-hide="loading" th:text="#{screen.message.membership.empty.membershipsList}">No Groupings Available</b></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Divide between the tabs  -->
                <div class="tab-pane fade" id="optOut">
                    <div class="panel panel-default panel-tab-content">
                        <div class="panel-heading">
                            <div class="row" style="margin: inherit;">
                                <div class="col-md-6 col-sm-7" style="padding: 0px;">
                                    <h2 class="panel-title" style="padding: 2.5px 0px; margin: inherit;">Available Groupings</h2>
                                    <span th:utext="#{screen.message.memberships.page.membershipOpportunitiesInfo}"> </span>
                                </div>
                                <div class="col-md-push-3 col-md-3 col-sm-push-1 col-sm-4" style="padding: 0px;">
                                    <input placeholder="Filter Groupings..." type="text"
                                           title="Filter Groupings"
                                           ng-model="optInQuery" class="form-control"
                                           ng-change="filter(optInList, 'pagedItemsOptInList', 'currentPageOptIn', optInQuery)"
                                           id="optIn"/>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-if="optInList.length !== 0" class="table table-bordered table-condensed table-hover" aria-live="assertive">
                                <thead>
                                <tr>
                                    <th ng-click="sortBy('optInList', 'pagedItemsOptInList', 'name')" class="clickable">
                                        Grouping Name
                                        <i class="fa sort-icon"
                                           ng-show="columnSort.optInList.property === 'name' || !columnSort.optInList"
                                           ng-class="{ reverse: columnSort.optInList.reverse }"></i>
                                    </th>
                                    <th ng-click="sortBy('optInList', 'pagedItemsOptInList', 'path')" class="clickable">
                                        Grouping Path
                                        <i class="fa sort-icon" ng-show="columnSort.optInList.property === 'path'"
                                           ng-class="{ reverse: columnSort.optInList.reverse }"></i>
                                    </th>
                                    <th class="col-md-2 text-center" style="vertical-align: middle;">Opt In?</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="o in pagedItemsOptInList[currentPageOptIn] ">
                                    <td>{{ o.name }}</td>
                                    <td id="groupingOptInPath">{{ o.path }}</td>
                                    <td class="col-md-2">
                                        <button class="btn btn-primary btn-block opt-button"
                                                tabindex="0"
                                                ng-click="optIn(currentPageOptIn, $index)">Opt In
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <td colspan="6">
                                    <ul class="pagination pull-right">
                                        <li ng-class="{ disabled: disableFirstAndPrev(currentPageOptIn) }">
                                            <a class="clickable"
                                               ng-click="setPage('First','currentPageOptIn','pagedItemsOptInList')">««
                                                First</a>
                                        </li>
                                        <li ng-class="{ disabled: disableFirstAndPrev(currentPageOptIn) }">
                                            <a class="clickable"
                                               ng-click="setPage('Prev','currentPageOptIn','pagedItemsOptInList')">«
                                                Prev</a>
                                        </li>
                                        <li ng-repeat="n in pageRange(currentPageOptIn, pagedItemsOptInList.length, gap)"
                                            ng-class="{ active: n === currentPageOptIn }"
                                            ng-click="setPage('Set','currentPageOptIn','pagedItemsOptInList')">
                                            <a class="clickable" ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{ disabled: disableNextAndLast(pagedItemsOptInList, currentPageOptIn) }">
                                            <a class="clickable"
                                               ng-click="setPage('Next','currentPageOptIn','pagedItemsOptInList')">Next
                                                »</a>
                                        </li>
                                        <li ng-class="{ disabled: disableNextAndLast(pagedItemsOptInList, currentPageOptIn) }">
                                            <a class="clickable"
                                               ng-click="setPage('Last','currentPageOptIn','pagedItemsOptInList')">Last
                                                »»</a>
                                        </li>
                                    </ul>
                                </td>
                                </tfoot>
                            </table>
                            <div ng-if="optInList.length === 0" align="center">
                                <h3 style="color: black"><b ng-hide="loading" th:text="#{screen.message.membership.empty.optIn}">No Groupings Available</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- to map out  CurrentWindow * (WindowSize - 1) + 1 -->


<!-- / Content container. -->

<div th:substituteby="footer :: copy"></div>

</body>
</html>
