<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top fixed-top container" role="navigation" th:fragment="copy">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
        <a class="navbar-brand" href="/uhgroupings/" th:href="@{/}">
            <img class="img-responsive" th:src="@{/images/seal/seal.jpg}" alt="UH Groupings"/>
        </a>
        <a class="navbar-brand uh-nav-app-name" id="uh-nav-name" href="/uhgroupings/" th:href="@{/}">
            UH Groupings
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-1">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/uhgroupings/" th:href="@{/}" class="nav-link">Home</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a th:href="@{/admin}"
                                                                          class="nav-link">Admin</a></li>
            <li sec:authorize="hasRole('ROLE_UH')" class="nav-item"><a th:href="@{/memberships}" class="nav-link">Memberships</a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')" class="nav-item"><a th:href="@{/groupings}"
                                                                                           class="nav-link">Groupings</a>
            </li>
            <li class="nav-item"><a th:href="@{/info}" class="nav-link">Info</a></li>
            <li sec:authorize="hasRole('ROLE_UH')" class="nav-item"><a th:href="@{/feedback}"
                                                                       class="nav-link">Feedback</a>
            </li>
            <li class="nav-item"><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                    class="nav-link">Login</a></li>
            <li class="nav-item">
                <form sec:authorize="isAuthenticated()" action="/logout" th:action="@{/logout}" method="post"
                      id="logout_form">
                    <button class="btn btn-link nav-link" type="submit" style="text-decoration: none;">Logout (<span
                            id="name" sec:authentication="name"></span>)
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
