<div th:fragment="copy"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom pt-2 pb-2" th:fragment="copy"
     ng-controller="GeneralJsController">
    <div class="container">
        <a class="navbar-brand align-items-center" th:href="@{/}">
            <img class="img-fluid"
                 alt="UH Groupings Logo"
                 th:srcset="@{images/uh-groupings-logo.png 1x, images/uh-groupings-logo-2x.png 2x, images/uh-groupings-logo.svg}"
                 th:src="@{images/uh-groupings-logo.png}">
            <span class="sr-only">UH Groupings</span></a>
        <span class="user-role rounded-circle seafoam-bg p-1 ml-5"
              sec:authorize="hasAnyRole('ROLE_DEPARTMENT')"
              tooltip data-placement="top"
              th:title="#{screen.message.home.page.departmentAccount}">
            <i class="fa fa-user p-2 position-relative" role="button" aria-label="Department Account Indicator"
               th:attr="ng-click='displayDynamicModal(\'Warning\', \'' +
                        #{screen.message.home.page.departmentAccount} + '\')'">
                <i class="rounded-circle blue-bg text-light fa fa-school fa-xs p-1 position-absolute mt-2"></i>
            </i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Open the Navigation Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <div class="dropdown-divider d-block d-lg-none"></div>
                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_UH')">
                    <div class="dropdown-divider d-block d-lg-none"></div>
                    <a class="nav-link" th:href="@{/memberships}">Memberships</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_OWNER')">
                    <div class="dropdown-divider d-block d-lg-none"></div>
                    <a class="nav-link" th:href="@{/groupings}">Groupings</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown-divider d-block d-lg-none"></div>
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_UH')">
                    <div class="dropdown-divider d-block d-lg-none"></div>
                    <a class="nav-link" th:href="@{/feedback}">Feedback</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <div class="dropdown-divider d-block d-lg-none pb-3"></div>
                    <a class="btn btn-primary btn-v-align login" th:href="@{/login}">Login
                        <i class="fas fa-sign-in-alt" aria-hidden="false"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() and !hasAuthority('ROLE_OOTB')">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <div class="dropdown-divider d-block d-lg-none pb-3"></div>
                        <button class="btn btn-outline-secondary btn-v-align text-nowrap" type="submit">Logout (<span
                                sec:authentication="name" id="name"></span>)
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated() and hasAuthority('ROLE_OOTB')">
                    <a class="btn btn-outline-secondary btn-v-align text-nowrap dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logout (<span sec:authentication="name" id="name"></span>)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="login" ng-click="updateActiveUserProfile('MEMBER')">Member</a>
                        <a class="dropdown-item" href="login" ng-click="updateActiveUserProfile('OWNER')">Owner</a>
                        <a class="dropdown-item" href="login" ng-click="updateActiveUserProfile('ADMIN')">Admin</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
