<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="copy">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/uhgroupings/" th:href="@{/}">
                <img class="img-responsive" th:src="@{/images/seal/seal.jpg}" alt="UH Groupings"/>
            </a>
            <a class="navbar-brand uh-nav-app-name" id="uh-nav-name" href="/uhgroupings/" th:href="@{/}">
                UH Groupings
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/uhgroupings/" th:href="@{/}">Home</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin</a></li>
                <li sec:authorize="hasRole('ROLE_UH')"><a th:href="@{/memberships}">Memberships</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')"><a th:href="@{/groupings}">Groupings</a></li>
                <li><a th:href="@{/info}">Info</a></li>
                <li sec:authorize="hasRole('ROLE_UH')"><a th:href="@{/feedback}">Feedback</a></li>
                <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                <li class="app-logout">
                    <form sec:authorize="isAuthenticated()" action="/logout" th:action="@{/logout}" method="post" id="logout_form">
                        <button class="btn btn-link" type="submit" style="text-decoration: none;">Logout (<span id="name" sec:authentication="name"></span>)</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
