<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{header :: copy}"></head>
<body>
<nav th:replace="~{menubar :: copy}"></nav>

<div class="container error_page">
    <h1>Error</h1>

    <p>
        <b>Message:</b> <span th:utext="${loginErrorMessage}"></span>
    </p>

    <p>
        <b>Action:</b> <span th:utext="${loginErrorActionMessage}"></span>
    </p>

    <a th:href="${logoutUrl}">
        <button class="btn btn-outline-secondary btn-v-align text-nowrap">
            Logout (<span id="name" th:utext="${loginErrorExceptionMessage}"></span>)
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </button>
    </a>
</div>

<div th:replace="~{footer :: copy}"></div>
</body>
</html>
