<div class="uhg-list-navigation">
    <nav role="navigation" class="clearfix">
        <!--Minified View-->
        <div class="btn-group navigation-minified visible-xs-inline-block" dropdown>
            <a href="#" class="btn btn-primary dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                <span>{{listNavigationCtrl.selectedNavigationLabel}}</span>
                <span class="caret" role="presentation"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="item in listNavigationCtrl.items" ng-class="{active: (listNavigationCtrl.selectedNavigationRoute === item.route)}">
                    <a ui-sref="{{item.route}}" stack-localize="{{item.key}}">{{item.label}}</a>
                </li>
            </ul>
        </div>

        <!--Expanded View-->
        <div class="list-group navigation-expanded hidden-xs" role="list">
            <a role="listitem" ng-repeat="item in listNavigationCtrl.items" ui-sref="{{item.route}}" class="list-group-item" ng-class="{active: (listNavigationCtrl.selectedNavigationRoute === item.route)}" stack-localize="{{item.key}}">{{item.label}}</a>
        </div>
    </nav>
</div>