<div class="page-header">
  <h1>Groupings I Manage <small>Select a Grouping</small></h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th data-property="name" data-sort="asc">Grouping <span class="fa fa-sort-asc"></span></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
