<td>{{name}}</td>
<td class="align-center nowrap">
  <a href="#groupings/{{id}}/membership" title="Membership" class="btn btn-xs btn-default">
    <span class="fa fa-users"></span>
    <span class="hidden-md hidden-lg sr-only">Membership</span>
    <span class="hidden-xs">Membership</span>
  </a>
  <a href="#groupings/{{id}}/owners" class="btn btn-xs btn-default">
    <span class="fa fa-user-plus"></span>
    <span class="hidden-md hidden-lg sr-only">Owners</span>
    <span class="hidden-xs">Owners</span>
  </a>
  <a href="#groupings/{{id}}/preferences" class="btn btn-xs btn-default">
    <span class="fa fa-cogs"></span>
    <span class="hidden-md hidden-lg sr-only">Preferences</span>
    <span class="hidden-xs">Preferences</span>
  </a>
</td>
