<div id="middle" class="row">
  <div class="col-xs-12">
    <h2>Welcome to UH Groupings</h2>
    <p>UH Groupings is an online service for managing groupings of people. Groupings can be based on an assortment of explicit and implicit UH groups (students, faculty staff; any of the above grouped by campus, by EAC; etc). Additionally, custom groupings can be created from scratch.</p>
    <p>As an example, a grouping can be a campus faculty discussion list. Maintaining the email list with a UH Grouping ensures, without the need for manual intervention, that the associated email list is kept updated as new faculty are hired, and as current faculty depart. Additionally, the owner of the grouping can also allow faculty to opt themselves out of the discussion list.</p>
    <p>UH Groupings will initially integrate with LISTSERV email lists. In the future UH Groupings will be expanded to integrate with other resources. UH Groupings are envisioned to provision permissions for access to web applications so that enterprise deprovisioning becomes simpler.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="paginator"></div>
</div>

<div class="row">
  <div class="col-xs-12"><hr></div>
  <div class="hidden-md hidden-lg col-xs-12">
      <a href="mailto:web-support-l@lists.hawaii.edu?subject=uhacer">Contact Us</a>
  </div>
  <div class="hidden-xs hidden-sm col-md-1 pull-right small">
      <a href="mailto:web-support-l@lists.hawaii.edu?subject=uhacer">Contact Us</a>
  </div>
  <div class="col-xs-12 col-md-11">
    <div class="small">Use of this site implies consent with our <a href="http://www.hawaii.edu/infotech/policies/itpolicy.html">Usage Policy</a></div>
    <div class="small">The University of Hawai'i is an <a href="http://www.hawaii.edu/site/policy/eoe.html">Equal Opportunity Employer</a></div>
    <div class="small">copyright © 2013 <a href="http://www.hawaii.edu/">University of Hawai'i</a></div>
  </div>
</div>
