<!-- TODO: replace php links -->
<div id="wrapper-columns">
  <div id="left">
    <div id="left-top"></div>
    <ul id="nav-left">
      <li>
        <a href="/">Home</a>
      </li>

      {{#if username}}
        {{#if isSuperUser}}
          <li>
            <a href="index.php?action=editSuperUsers">Admins</a>
          </li>
        {{/if}}
        {{#if isAdmin}}
          <li>
            <a href="index.php?action=editAdmins">Owners</a>
          </li>
          <li>
            <a href="index.php?action=editGrouping">Grouping</a>
          </li>
          <li>
            <a href="index.php?action=editMembers">Members</a>
          </li>
        {{/if}}
        <li>
          <a href="index.php?action=myMemberships">My Memberships</a>
        </li>
        <li>
          <a href="index.php?action=feedback">Suggestions/Feedback</a>
        </li>
        <li>
          <a href="docs/uhgroupingsManual.pdf">Manual</a>
        </li>
        <li>
          <a href="index.php?action=logout">{{username}}</a>
        </li>
      {{else}}
        <li>
          <a href="index.php?action=login">Login</a>
        </li>
      {{/if}}

      <!-- TODO: replace this with css padding -->
      <li>
        &nbsp;
      </li>
    </ul>
    <div id="left-bottom"></div>
  </div>
  <div id="middle">
    <a name="content"></a>
    <h2>Welcome to UH Groupings</h2>
    <p>UH Groupings is an online service for managing groupings of people. Groupings can be based on an assortment of explicit and implicit UH groups (students, faculty staff; any of the above grouped by campus, by EAC; etc). Additionally, custom groupings can be created from scratch.</p>
    <p>As an example, a grouping can be a campus faculty discussion list. Maintaining the email list with a UH Grouping ensures, without the need for manual intervention, that the associated email list is kept updated as new faculty are hired, and as current faculty depart. Additionally, the owner of the grouping can also allow faculty to opt themselves out of the discussion list.</p>
    <p>UH Groupings will initially integrate with LISTSERV email lists. In the future UH Groupings will be expanded to integrate with other resources. UH Groupings are envisioned to provision permissions for access to web applications so that enterprise deprovisioning becomes simpler.</p>
  </div>
</div>

<div id="footer">
  <div id="footer-left">
    <div id="usage-policy">Use of this site implies consent with our <a href="http://www.hawaii.edu/infotech/policies/itpolicy.html">Usage Policy</a></div>
    <div id="eeo">The University of Hawai'i is an <a href="http://www.hawaii.edu/site/policy/eoe.html">Equal Opportunity Employer</a></div>
    <div id="copyright">copyright © 2013 <a href="http://www.hawaii.edu/">University of Hawai'i</a></div>
  </div>
  <div id="footer-right">
    <div id="contact-link">
      <a href="mailto:web-support-l@lists.hawaii.edu?subject=uhacer">Contact Us</a>
    </div>
  </div>
</div>
