<div class="uhg-route-membership">
    <!--'OWNER' TEMPLATE-->
    <!--
    | Role-specific templates could also be separated using ng-include.
    | Using ng-include may provide better readibility in terms of directory
    | organization.
    -->
    <div ng-if="(membershipCtrl.user.role === 'owner')">
        <!--SEARCH-->
        <uhg-grouping-search></uhg-grouping-search>

        <!--PANEL-->
        <div class="panel panel-default uhg-page">
            <!--HEADING-->
            <div class="panel-heading uhg-page-header">
                <h1 class="uhg-page-title" stack-localize="MEMBERSHIP_HEADER">Groupings I Belong</h1>
                <h2 class="uhg-page-subtitle">Lorem Ipsum</h2>
                <p class="uhg-page-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur leo ipsum, ultrices vel eros quis, cursus euismod turpis.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. 
                </p>
            </div>

            <!--BODY-->
            <div class="panel-body uhg-page-body">
                <h3 class="uhg-page-body-title">{{ 'GROUPING_MEMBERSHIP_HEADER' | localize }}</h3>
                <div class="table-responsive">
                    <table ng-if="!membershipCtrl.uiState.isLoadingGroupings" class="table table-bordered table-hover striped-rows uhg-table-groups">
                        <thead>
                            <tr>
                                <th>{{ 'GROUPING_MEMBERSHIP_TABLE_GROUPING_NAME' | localize }}</th>
                                <th>{{ 'GROUPING_MEMBERSHIP_TABLE_FOLDER' | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="membershipCtrl.groupingMemberships.length > 0" ng-repeat="grouping in membershipCtrl.groupingMemberships">
                                <td>
                                    <span class="uhg-group-name">{{ grouping.displayGroup }}</span>
                                    <a ng-href="#" class="uhg-edit-groups" ng-click="membershipCtrl.editGrouping(grouping)" ng-keydown="membershipCtrl.editGroupingOnKeyDown($event, grouping)">
                                        <i class="fa fa-pencil" role="presentation">
                                            <span class="sr-only">{{ 'GROUPING_MEMBERSHIP_EDIT_A11Y' | localize }}</span>
                                        </i>
                                    </a>
                                </td>
                                <td><span>{{ grouping.folder }}</span></td>
                            </tr>
                            <tr ng-if="membershipCtrl.groupingMemberships.length == 0" class="zero-state">
                                <td colspan="2">{{ 'GROUPING_MEMBERSHIP_TABLE_ZERO_STATE' | localize }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--TABLE LOADER-->
                    <div class="uhg-loader" ng-if="membershipCtrl.uiState.isLoadingGroupings">
                        <i class="fa fa-spinner fa-spin fa-3x" role="presentation">
                            <span class="sr-only">{{ 'GROUPING_MEMBERSHIP_LOADING_A11Y' | localize }}</span>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--'MEMBER' TEMPLATE-->
    <!--
    | Role-specific templates could also be separated using ng-include.
    | Using ng-include may provide better readibility in terms of directory
    | organization.
    -->
    <div ng-if="(membershipCtrl.user.role === 'member')">
        <div class="panel panel-default uhg-page">
            <div class="panel-heading uhg-page-header">
                <h1 class="uhg-page-title" stack-localize="MEMBERSHIP_HEADER">Groupings I Belong</h1>
                <h2 class="uhg-page-subtitle">Lorem Ipsum</h2>
                <p class="uhg-page-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur leo ipsum, ultrices vel eros quis, cursus euismod turpis.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. 
                </p>
            </div>
            <div class="panel-body uhg-page-body">
                <div class="alert alert-warning">
                    <p><strong>Note: </strong> Implementation stub for <strong>member-only</strong> view.</p>
                </div>
            </div>
        </div>
    </div>
</div>