#wrapper-columns #right {
  float: left;
  width: 225px;
  background: #fff;
  margin: 0 5px 0 2em;
  padding: 1em 0 0 0;

  .box1 {
    float: left;
    background: url(/images/box1-bg.jpg) top left repeat-x;
    width: 100%;
    margin: 0;
    padding: 0;

    .box1-wrapper1 {
      background: url(/images/box1-leftedge.jpg) top left no-repeat;
      margin: 0;
      padding: 0;
    }

    .box1-wrapper2 {
      margin: 0 0 0 9px;
      padding: 1em 3px 1px 3px;
      background: url(/images/box1-rightedge.jpg) top right no-repeat;
    }

    .box1-header {
      width: 99%;
      margin-top: 0;
      padding-top: 0;
    }

    .box1-footer {
      margin: 0;
      padding: 0;
      background: url(/images/box1-leftedge.jpg) bottom left no-repeat;

      .box1-footer2 {
        margin: 0 0 0 9px;
        padding: 3px;
        background: url(/images/box1-rightedge.jpg) bottom right no-repeat;
      }
    }
  }
}
