/* DO NOT TOUCH THIS CSS FILE.
EDIT SCSS FILES INSTEAD AND RUN ./mvnw clean dart-sass:compile-sass TO UPDATE CSS */

// Colors
$deep-blue:#424895;
$green-blue:#004e59;
$uh-blue1:#00a6b2;
$uh-blue2:#006ffa;
$uh-blue3:#0050ad;
$uh-blue4:#4c90a8;

$uh-teal:#0d7078;
$light-teal:#52c4b5;
$teal-tint:#c7e7e0;
$dark-teal:#004252;
$seafoam:#e3f2ef;
$text-color:#1c6070;

$uh-black:#212121;
$uh-dark-gray:#454545;
$uh-white:#efefef;

$uh-red: #d21515;
$remove-button-red:#b05b54;
$uh-red1:#721c24;
$uh-red2:#f8d7da;
$uh-red3:#ffe6e8;
$uh-red4: #b40909;

// Media queries
$media_queries: (
  'min-mobile' : screen and (min-width: 576px),
  'min-tablet' : screen and (min-width: 768px),
  'min-desktop' : screen and (min-width: 992px),
  'min-large-desktop' : screen and (min-width: 1200px),
  'max-portrait-phone' : screen and (max-width: 575.98px),
  'max-landscape-phone' : screen and (max-width: 767.98px),
  'max-tablet' : screen and (max-width: 991.98px),
  'max-desktop' : screen and (max-width: 1199.98px),
);

.text-primary {
  color: $dark-teal !important;
}

.text-muted {
  color: $uh-teal !important;
}

.text-info {
  color: $uh-blue1 !important;
}

// Create fade background when opening modals
.fade.in {
  opacity: 1;
}

