// Colors
$deep-blue: #424895; 
$green-blue: #004e59;
$uh-blue1: #00a6b2; 
$uh-blue2: #007bff;
$uh-blue3: #0050AD;
$uh-blue4: #4c90a8;

$uh-teal: #0d7078;
$light-teal: #52c4b5; 
$teal-tint: #c7e7e0;
$dark-teal: #004252; 
$seafoam: #e3f2ef;
$text-color: #1c6070; 

$uh-black: #212121; 
$uh-dark-gray: #454545; 
$uh-white: #efefef; 

$uh-red: #d21515; 
$remove-button-red: #b05b54; 
$uh-red1: #721c24; 
$uh-red2: #f8d7da; 
$uh-red3: #ffeaece6;

// Media queries 
$media_queries: (
  'mobile' : screen and (min-width: 576px),
  'portraitPhone' : screen and (max-width: 575.98px), 
  'landscapePhone' : screen and (max-width: 767.98px),
  'tablet1' : screen and (max-width: 991.98px),
  'desktop1' : screen and (max-width: 1199.98px),
  'tablet' : screen and (min-width: 768px),
  'desktop' : screen and (min-width: 992px),
  'largeDesktop' : screen and (min-width: 1200px)
);

// Bootstrap overrides 
.text-primary {
  color: $dark-teal !important;
}

.text-muted {
  color: $uh-teal !important;
}

.text-info {
  color: $uh-blue1 !important;
}

// Create fade background when opening modals
.fade:not(.show) { 
  opacity: 1;
}

