<div class="default-group-tab" ng-controller="BasisGroupTabController as ctrl">
    <label class="text-primary">{{ 'BASIS_GROUP_TAB_DESCRIPTION' | localize }}</label>
    <div class="table-responsive">
        <table class="table table-bordered table-hover striped-rows">
            <thead>
            <tr>
                <th>
                    <a href="javascript://" ng-click="ctrl.changeSort('firstName')">
                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_FIRST_NAME' | localize }}</span>
                        {{ 'BASIS_GROUP_TAB_TABLE_FIRST_NAME' | localize }}
                    </a>
                    <i class="fa" ng-class="{'fa-caret-up': ctrl.sortField === '+firstName', 'fa-caret-down': ctrl.sortField === '-firstName'}"></i>
                </th>
                <th>
                    <a href="javascript://" ng-click="ctrl.changeSort('lastName')">
                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_LAST_NAME' | localize }}</span>
                        {{ 'BASIS_GROUP_TAB_TABLE_LAST_NAME' | localize }}
                    </a>
                    <i class="fa" ng-class="{'fa-caret-up': ctrl.sortField === '+lastName', 'fa-caret-down': ctrl.sortField === '-lastName'}"></i>
                </th>
                <th>
                    <a href="javascript://" ng-click="ctrl.changeSort('email')">
                        <span class="sr-only">{{ 'GLOBAL_SORT_BY' | localize }} {{ 'BASIS_GROUP_TAB_TABLE_EMAIL' | localize }}</span>
                        {{ 'BASIS_GROUP_TAB_TABLE_EMAIL' | localize }}
                    </a>
                    <i class="fa" ng-class="{'fa-caret-up': ctrl.sortField === '+email', 'fa-caret-down': ctrl.sortField === '-email'}"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="ctrl.grouping.basisMembers.length > 0" ng-repeat="user in ctrl.grouping.basisMembers | orderBy:ctrl.sortField">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr ng-if="ctrl.grouping.basisMembers.length == 0" class="zero-state">
                <td colspan="4">{{ 'BASIS_GROUP_TAB_TABLE_ZERO_STATE' | localize }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>